Repository hrydgard/ppsspp, pull requests merged in 2018-11, with the labels that each got.

#11488 Windows: Option to show offset scale in memory view
  Windows/Debugger/CtrlMemView.cpp
  Windows/Debugger/CtrlMemView.h
  Windows/Debugger/Debugger_MemoryDlg.cpp
  Windows/ppsspp.rc
  Windows/resource.h
Labels: Platform-specific (Windows)

#11550 Discord: Add cmake option to disable
  CMakeLists.txt
  UI/DevScreens.cpp
  UI/DiscordIntegration.cpp
  UI/DiscordIntegration.h
  UI/EmuScreen.cpp
  ext/CMakeLists.txt
Labels: Discord-integration

#11531 WIP: Virtual readbacks
  Core/Compatibility.cpp
  Core/Compatibility.h
  GPU/Common/FramebufferCommon.cpp
  GPU/Common/FramebufferCommon.h
  assets/compat.ini
Labels: Direct3D 11, Direct3D 9, OpenGL, Vulkan

#11572 Assert even in release mode if preset shaders fail to compile.
  Qt/QtMain.h
  Windows/GPU/D3D11Context.cpp
  Windows/GPU/WindowsGLContext.cpp
  Windows/GPU/WindowsVulkanContext.cpp
  android/jni/AndroidEGLContext.cpp
  android/jni/AndroidJavaGLContext.cpp
  android/jni/AndroidVulkanContext.cpp
  ios/ViewController.mm
Labels: Platform-specific (Android)
