Repository hrydgard/ppsspp, pull requests merged in 2019-10, with the labels that each got.

#12382 Touchscreen: Apply weihouya's fix, add a touchscreen test screen.
  UI/ControlMappingScreen.cpp
  UI/ControlMappingScreen.h
  UI/DevScreens.cpp
  UI/GameSettingsScreen.cpp
  UI/GameSettingsScreen.h
  android/src/org/ppsspp/ppsspp/NativeActivity.java
Labels: Touch screen

#12389 Make use of OnSystemUiVisibilityChangeListener to check whether navbar is hidden
  android/jni/AndroidVulkanContext.cpp
  android/jni/app-android.cpp
  android/src/org/ppsspp/ppsspp/NativeActivity.java
  android/src/org/ppsspp/ppsspp/NativeGLView.java
  android/src/org/ppsspp/ppsspp/NativeSurfaceView.java
  ext/native/ui/screen.cpp
Labels: Platform-specific (Android)

#12391 More sizing fixes. I think this will do it for 1.9.3.
  UI/ControlMappingScreen.cpp
  UI/NativeApp.cpp
  android/AndroidManifest.xml
  android/jni/app-android.cpp
  android/res/values-v28/styles.xml
  android/src/org/ppsspp/ppsspp/NativeActivity.java
  android/src/org/ppsspp/ppsspp/NativeGLView.java
  android/src/org/ppsspp/ppsspp/NativeSurfaceView.java
Labels: Platform-specific (Android)

#12396 Vulkan: Always write gl_PointSize, fixes #12364.
  GPU/Vulkan/VertexShaderGeneratorVulkan.cpp
Labels: Vulkan

#12334 Vulkan GPU profiler: Measure the CPU time spent on the render thread recording command buffers.
  ext/native/thin3d/VulkanQueueRunner.cpp
  ext/native/thin3d/VulkanQueueRunner.h
  ext/native/thin3d/VulkanRenderManager.cpp
  ext/native/thin3d/VulkanRenderManager.h
Labels: Vulkan

#10393 Vulkan: Texture upload through compute, experimental texture scaling too
  Common/Vulkan/VulkanImage.cpp
  Common/Vulkan/VulkanImage.h
  Common/Vulkan/VulkanMemory.cpp
  Common/Vulkan/VulkanMemory.h
  Core/Config.cpp
  Core/Config.h
  GPU/Vulkan/DrawEngineVulkan.cpp
  GPU/Vulkan/DrawEngineVulkan.h
  GPU/Vulkan/TextureCacheVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.h
  GPU/Vulkan/VulkanUtil.cpp
  GPU/Vulkan/VulkanUtil.h
Labels: Vulkan

#12410 WASAPI: Discovered by chance that pwstrDeviceId can be null in OnDefaultDeviceChanged.
  Windows/WASAPIStream.cpp
Labels: Audio, Platform-specific (Windows)

#12419 Vulkan: Move viewport/scissor rotation to the QueueRunner instead of RenderManager.
  ext/native/base/display.cpp
  ext/native/base/display.h
  ext/native/thin3d/VulkanQueueRunner.cpp
  ext/native/thin3d/VulkanRenderManager.h
  ext/native/thin3d/thin3d_d3d11.cpp
  ext/native/thin3d/thin3d_vulkan.cpp
Labels: Vulkan

#12421 Update iOS JIT hack
  ios/main.mm
Labels: Platform-specific (iOS)

#12448 Code cleanup: OpenGL texture format cleanup
  Common/ColorConv.h
  GPU/GLES/DepalettizeShaderGLES.cpp
  GPU/GLES/DrawEngineGLES.cpp
  GPU/GLES/FragmentTestCacheGLES.cpp
  GPU/GLES/FramebufferManagerGLES.cpp
  GPU/GLES/TextureCacheGLES.cpp
  GPU/GLES/TextureCacheGLES.h
  GPU/GLES/TextureScalerGLES.cpp
  ext/native/gfx_es2/draw_text_android.cpp
  ext/native/gfx_es2/draw_text_qt.cpp
  ext/native/gfx_es2/draw_text_win.cpp
  ext/native/thin3d/DataFormatGL.cpp
  ext/native/thin3d/GLQueueRunner.cpp
  ext/native/thin3d/GLQueueRunner.h
  ext/native/thin3d/GLRenderManager.h
  ext/native/thin3d/thin3d_gl.cpp
Labels: OpenGL

#12443 Darkstalkers Chronicle: Add specializations and speedhacks to get it kinda playable
  .gitignore
  Core/Compatibility.cpp
  Core/Compatibility.h
  Core/HLE/sceUtility.cpp
  Core/System.cpp
  GPU/GPU.vcxproj
  GPU/Math3D.h
  GPU/Software/Clipper.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/SoftGpu.cpp
  GPU/Software/SoftGpu.h
  GPU/Software/TransformUnit.cpp
  UI/EmuScreen.cpp
  Windows/GPU/WindowsVulkanContext.cpp
  assets/compat.ini
  ext/native/base/display.cpp
  ext/native/math/lin/matrix4x4.h
  ext/native/thin3d/DataFormat.h
  ext/native/thin3d/thin3d.cpp
  ext/native/thin3d/thin3d.h
  ext/native/thin3d/thin3d_d3d9.cpp
  ext/native/thin3d/thin3d_gl.cpp
  ext/native/thin3d/thin3d_vulkan.cpp
Labels: GE emulation, Software Rasterizer
