Repository hrydgard/ppsspp, pull requests merged in 2019-06, with the labels that each got.

#12074 The good UWP stuff from #12031
  .gitignore
  UWP/Content/.empty
  UWP/Content/7z.png
  UWP/Content/compat.ini
  UWP/Content/gamecontrollerdb.txt
  UWP/Content/knownfuncs.ini
  UWP/Content/langregion.ini
  UWP/Content/ppge_atlas.zim
  UWP/Content/rargray.png
  UWP/Content/ui_atlas.zim
  UWP/Content/ui_atlas_lowmem.zim
  UWP/Content/unknown.png
  UWP/Content/zip.png
  UWP/PackageGold.appxmanifest
  UWP/UWP.vcxproj
  UWP/UWP.vcxproj.filters
Labels: Platform-specific (UWP)

#12076 JitDisable: Add options to disable regalloc across instructions (flush after every instruction)
  Core/MIPS/ARM/ArmJit.cpp
  Core/MIPS/ARM64/Arm64Jit.cpp
  Core/MIPS/JitCommon/JitState.h
  Core/MIPS/x86/Jit.cpp
  UI/DevScreens.cpp
Labels: CPU emulation, arm64jit, armjit, x86jit

#12088 UWP TextDrawer for multi language support
  Core/Config.h
  UI/NativeApp.cpp
  UWP/NativeUWP/NativeUWP.vcxproj
  UWP/NativeUWP/NativeUWP.vcxproj.filters
  UWP/PPSSPP_UWPMain.cpp
  UWP/UWP.vcxproj
  UWP/UWP.vcxproj.filters
  ext/native/gfx_es2/draw_text.cpp
  ext/native/gfx_es2/draw_text_uwp.cpp
  ext/native/gfx_es2/draw_text_uwp.h
Labels: Platform-specific (UWP), Platform-specific (Windows)

#12103 Implement and test clz32, use it in the MIPS interpreter cores.
  Common/BitScan.h
  Common/Common.vcxproj
  Common/Common.vcxproj.filters
  Core/MIPS/IR/IRInterpreter.cpp
  Core/MIPS/MIPSInt.cpp
  unittest/UnitTest.cpp
Labels: CPU emulation

#12110 Fix mouse scroll for key mapping
  Windows/MainWindow.cpp
Labels: Input/Controller

#12116 Vulkan: Implement pretransform (performance optimization)
  Common/Vulkan/VulkanContext.cpp
  GPU/Common/FramebufferCommon.cpp
  GPU/Common/FramebufferCommon.h
  GPU/Common/ShaderTranslation.cpp
  GPU/Vulkan/FramebufferVulkan.cpp
  ext/native/math/lin/matrix4x4.cpp
  ext/native/math/lin/matrix4x4.h
  ext/native/thin3d/thin3d.cpp
  ext/native/thin3d/thin3d.h
  ext/native/thin3d/thin3d_d3d11.cpp
  ext/native/thin3d/thin3d_vulkan.cpp
Labels: Vulkan

#12130 For the non-vulkan backends, zero display rotation settings just to be sure.
  Windows/GPU/D3D11Context.cpp
  Windows/GPU/D3D9Context.cpp
  android/jni/AndroidJavaGLContext.cpp
Labels: OpenGL

#12135 Fix mi box remote control center click
  Common/KeyMap.cpp
  Common/Vulkan/VulkanContext.cpp
  ext/native/ui/view.cpp
Labels: Platform-specific (Android)

#12141 Enable right analog stick for libretro
  libretro/libretro.cpp
Labels: Libretro
