Repository hrydgard/ppsspp, pull requests merged in 2020-03, with the labels that each got.

#12623 Add toggle flag to combo button
  Core/Config.cpp
  Core/Config.h
  UI/ComboKeyMappingScreen.cpp
  UI/GamepadEmu.cpp
  UI/GamepadEmu.h
Labels: Input/Controller

#12661 Vulkan check for 16bit format support. Fixes running under MoltenVK.
  Common/Vulkan/VulkanContext.h
  GPU/Vulkan/DepalettizeShaderVulkan.cpp
  GPU/Vulkan/DepalettizeShaderVulkan.h
  GPU/Vulkan/GPU_Vulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  ext/native/thin3d/VulkanQueueRunner.cpp
  ext/native/thin3d/thin3d_vulkan.cpp
Labels: Platform-specific (Mac OS X), Vulkan

#12670 Attempts to replace 0 frame width with valid frame width.(sceMpegAvcCsc)
  Core/HLE/sceMpeg.cpp
Labels: PSMF / MPEG

#12612 SDL analog mouse input
  SDL/SDLMain.cpp
  UI/GameSettingsScreen.cpp
Labels: Input/Controller, SDL2

#12667 Chat feature based on Adenovan's Rechat branch
  CMakeLists.txt
  Common/KeyMap.cpp
  Common/KeyMap.h
  Core/Config.cpp
  Core/Config.h
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  UI/ChatScreen.cpp
  UI/ChatScreen.h
  UI/EmuScreen.cpp
  UI/EmuScreen.h
  UI/GameSettingsScreen.cpp
  UI/GameSettingsScreen.h
  UI/NativeApp.cpp
  UI/UI.vcxproj
  UI/UI.vcxproj.filters
  Windows/MainWindowMenu.cpp
  Windows/ppsspp.rc
  Windows/resource.h
  android/jni/Android.mk
Labels: Networking / adhoc

#12685 UI: Simple joystick navigation. Fixes #10996.
  UI/ChatScreen.cpp
  ext/native/ui/root.cpp
Labels: Input/Controller

#12695 New heuristic for getting rid of unnecessary "antialias-lines".
  GPU/GPUCommon.cpp
Labels: GE emulation

#12602 Add option to improve frame pacing through duplicate frames if below 60hz.
  Core/Config.cpp
  Core/Config.h
  Core/HLE/sceDisplay.cpp
  UI/GameSettingsScreen.cpp
Labels: GE emulation

#12709 Font:alloc/free memory for font file and char bitmap.
  Core/HLE/sceFont.cpp
  Core/HLE/sceKernelThread.cpp
Labels: PGF / sceFont

#12721 Fix the logic around postEffectRequiresFlip so duplicateFrames doesn't require a post shader.
  Core/HLE/sceDisplay.cpp
Labels: GE emulation

#12740 Font: Prevent crash on game exit
  Core/HLE/sceFont.cpp
Labels: PGF / sceFont

#12747 Input encoding cleanup
  Common/ChunkFile.cpp
  Common/ChunkFile.h
  Common/Log.h
  Core/Dialog/PSPOskDialog.cpp
  Core/Dialog/PSPOskDialog.h
  Core/HLE/sceCcc.cpp
  ext/native/util/text/utf16.h
  ext/native/util/text/utf8.cpp
  ext/native/util/text/utf8.h
Labels: HLE/Kernel

#12774 Vulkan: Pick shaders after calling ConvertStateToVulkanKey because it may end up disabling shader blending
  GPU/Vulkan/DrawEngineVulkan.cpp
  GPU/Vulkan/StateMappingVulkan.cpp
Labels: Vulkan

#12778 Set target to Android 10 (SDK 29).
  android/AndroidManifest.xml
  android/build.gradle
  android/src/org/ppsspp/ppsspp/LocationHelper.java
Labels: Platform-specific (Android)

#12779 Support drawing around notches on Android displays. Fixes #12261
  UI/EmuScreen.cpp
  android/jni/app-android.cpp
  android/res/values-v28/styles.xml
  android/src/org/ppsspp/ppsspp/NativeActivity.java
  ext/native/base/NativeApp.h
  ext/native/ui/root.cpp
  ext/native/ui/ui_context.cpp
  ext/native/ui/ui_context.h
Labels: Platform-specific (Android)
