Repository hrydgard/ppsspp, pull requests merged in 2020-05, with the labels that each got.

#12873 Vulkan: Framebuffer manager: Use an allocator for "MakePixelTexture" images.
  Common/Vulkan/VulkanImage.h
  GPU/Vulkan/FramebufferVulkan.cpp
  GPU/Vulkan/FramebufferVulkan.h
Labels: Vulkan

#12876 Windows: Add safety checks to WASAPI code
  Windows/WASAPIStream.cpp
Labels: Audio

#12881 Refactor Android resize management and improve restart
  UI/ControlMappingScreen.cpp
  UI/ControlMappingScreen.h
  UI/GameSettingsScreen.cpp
  UI/GameSettingsScreen.h
  UI/MiscScreens.cpp
  UI/MiscScreens.h
  UI/NativeApp.cpp
  Windows/GPU/WindowsGLContext.cpp
  Windows/W32Util/Misc.cpp
  Windows/W32Util/Misc.h
  Windows/main.cpp
  android/jni/app-android.cpp
  android/src/org/ppsspp/ppsspp/NativeActivity.java
  android/src/org/ppsspp/ppsspp/PpssppActivity.java
  android/src/org/ppsspp/ppsspp/SizeManager.java
  ext/native/gfx_es2/gpu_features.cpp
  ext/native/gfx_es2/gpu_features.h
  ext/native/ui/screen.cpp
  ext/native/ui/screen.h
Labels: Platform-specific (Android)

#12882 Vulkan: Don't merge render passes where the second one begins with a clear.
  Common/ColorConv.cpp
  GPU/Common/FramebufferCommon.cpp
  GPU/D3D11/TextureCacheD3D11.cpp
  ext/native/thin3d/VulkanQueueRunner.cpp
Labels: Vulkan

#12903 Thin3D: use 16-bit indices. Fixes #12898.
  GPU/Common/PresentationCommon.cpp
  ext/native/thin3d/thin3d.h
  ext/native/thin3d/thin3d_d3d11.cpp
  ext/native/thin3d/thin3d_d3d9.cpp
  ext/native/thin3d/thin3d_gl.cpp
  ext/native/thin3d/thin3d_vulkan.cpp
Labels: OpenGL

#12916 More audio buffering fixes (primarily affects SDL)
  Core/HW/StereoResampler.cpp
  Core/HW/StereoResampler.h
  Qt/QtMain.cpp
  SDL/SDLMain.cpp
Labels: Audio, SDL2

#12486 Rebindable touch right analog
  Core/Config.cpp
  Core/Config.h
  UI/GamepadEmu.cpp
  UI/GamepadEmu.h
  UI/TouchControlVisibilityScreen.cpp
  UI/TouchControlVisibilityScreen.h
Labels: Input/Controller

#12920 Remove the Audio Resampling setting (now always on).
  Core/Config.cpp
  Core/Config.h
  Core/HW/StereoResampler.cpp
  UI/GameSettingsScreen.cpp
  libretro/libretro.cpp
Labels: Audio

#12934 Vulkan: Stencil initialization: Use the adreno path for Mali as well.
  GPU/Vulkan/StencilBufferVulkan.cpp
  UI/GPUDriverTestScreen.cpp
Labels: Vulkan

#12938 Move the check from #12908 into the firmware version check.
  GPU/GPUCommon.cpp
Labels: HLE/Kernel

#12939 Add a name tag for all render steps (GL/Vulkan).
  GPU/Common/FramebufferCommon.cpp
  GPU/Common/PresentationCommon.cpp
  GPU/D3D11/FramebufferManagerD3D11.cpp
  GPU/D3D11/StencilBufferD3D11.cpp
  GPU/D3D11/TextureCacheD3D11.cpp
  GPU/Directx9/FramebufferDX9.cpp
  GPU/Directx9/StencilBufferDX9.cpp
  GPU/Directx9/TextureCacheDX9.cpp
  GPU/GLES/DepthBufferGLES.cpp
  GPU/GLES/FramebufferManagerGLES.cpp
  GPU/GLES/StencilBufferGLES.cpp
  GPU/GLES/TextureCacheGLES.cpp
  GPU/Software/SoftGpu.cpp
  GPU/Vulkan/FramebufferVulkan.cpp
  GPU/Vulkan/StencilBufferVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  UI/EmuScreen.cpp
  ext/native/thin3d/GLQueueRunner.h
  ext/native/thin3d/GLRenderManager.cpp
  ext/native/thin3d/GLRenderManager.h
  ext/native/thin3d/VulkanQueueRunner.cpp
  ext/native/thin3d/VulkanQueueRunner.h
  ext/native/thin3d/VulkanRenderManager.cpp
  ext/native/thin3d/VulkanRenderManager.h
  ext/native/thin3d/thin3d.h
  ext/native/thin3d/thin3d_d3d11.cpp
  ext/native/thin3d/thin3d_d3d9.cpp
  ext/native/thin3d/thin3d_gl.cpp
  ext/native/thin3d/thin3d_vulkan.cpp
  ext/native/ui/ui_screen.cpp
Labels: OpenGL, Vulkan

#12941 Vulkan: Deal with the reformat clear better
  GPU/Common/FramebufferCommon.cpp
  GPU/Vulkan/FramebufferVulkan.cpp
  ext/native/thin3d/VulkanRenderManager.cpp
Labels: Vulkan

#12965 DarkStalkers: Handle the "normal" screen stretch too, not just "wide".
  GPU/Common/PresentationCommon.cpp
  GPU/Common/PresentationCommon.h
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/SoftGpu.cpp
  GPU/Software/SoftGpu.h
Labels: GE emulation

#12966 Vulkan: After binding a new framebuffer, we always need to dirty the viewport/scissor state.
  GPU/Common/FramebufferCommon.cpp
  GPU/Vulkan/FramebufferVulkan.cpp
Labels: OpenGL, Vulkan

#12968 Dirty state from each DrawEngine
  GPU/Common/FramebufferCommon.cpp
  GPU/D3D11/DrawEngineD3D11.cpp
  GPU/D3D11/DrawEngineD3D11.h
  GPU/Directx9/DrawEngineDX9.cpp
  GPU/Directx9/DrawEngineDX9.h
  GPU/Directx9/GPU_DX9.cpp
  GPU/GLES/DrawEngineGLES.cpp
  GPU/GLES/DrawEngineGLES.h
  GPU/GLES/GPU_GLES.cpp
  GPU/GLES/StateMappingGLES.cpp
  GPU/Vulkan/DrawEngineVulkan.cpp
  GPU/Vulkan/DrawEngineVulkan.h
  ext/native/thin3d/GLQueueRunner.cpp
  ext/native/thin3d/GLRenderManager.cpp
  ext/native/thin3d/GLRenderManager.h
  ext/native/thin3d/VulkanRenderManager.h
  ext/native/thin3d/thin3d.h
  ext/native/thin3d/thin3d_d3d11.cpp
  ext/native/thin3d/thin3d_d3d9.cpp
  ext/native/thin3d/thin3d_gl.cpp
  ext/native/thin3d/thin3d_vulkan.cpp
Labels: Direct3D 11, Direct3D 9, GE emulation, OpenGL, Vulkan

#12978 Vulkan: Ensure depth/stencil load match on Mali
  GPU/Vulkan/StencilBufferVulkan.cpp
  ext/native/thin3d/VulkanRenderManager.cpp
Labels: Vulkan

#12988 Apply insets when drawing the emulated game
  GPU/Common/FramebufferCommon.cpp
  GPU/Common/GPUStateUtils.cpp
  GPU/Common/PresentationCommon.cpp
  GPU/Common/PresentationCommon.h
  ext/native/thin3d/VulkanQueueRunner.cpp
Labels: GE emulation
