Repository hrydgard/ppsspp, pull requests merged in 2020-09, with the labels that each got.

#13368 Reschedule after resuming thread from suspend.
  Core/HLE/sceKernelThread.cpp
Labels: HLE/Kernel

#13367 More depth texturing fixes, re-fixing Me and My Katamari in Vulkan
  Common/Vulkan/VulkanImage.cpp
  Common/Vulkan/VulkanImage.h
  Core/MemMap.h
  Core/MemMapFunctions.cpp
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/TextureCacheCommon.cpp
  GPU/Vulkan/FragmentShaderGeneratorVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
Labels: GE emulation

#13372 Add a check in sceKernelTerminateThread
  Core/HLE/sceKernelThread.cpp
Labels: HLE/Kernel

#13318 Simulate blocking behavior using non-blocking on networking
  Core/Dialog/PSPNetconfDialog.cpp
  Core/Dialog/PSPNetconfDialog.h
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/proAdhocServer.cpp
  Core/HLE/sceKernelThread.cpp
  Core/HLE/sceKernelThread.h
  Core/HLE/sceNet.cpp
  Core/HLE/sceNetAdhoc.cpp
  Core/HLE/sceNetAdhoc.h
Labels: Networking / adhoc

#13378 AdhocMatching P2P Mode Fix - Bleach Heat the Soul 7
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#13380 Add draft sceKernelFindModuleByUID
  Core/HLE/HLETables.cpp
  Core/HLE/sceKernelModule.cpp
  Core/HLE/sceKernelModule.h
Labels: HLE/Kernel

#13392 Ignore SIGPIPE error on certain system (ie. Linux)
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/proAdhocServer.cpp
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#13387 Imp sceKernelFindModuleByName
  Core/HLE/sceKernelModule.cpp
Labels: HLE/Kernel

#13405 Allow blocking socket simulation on multiple threads simultaneously
  Core/HLE/sceNetAdhoc.cpp
  Core/HLE/sceNetAdhoc.h
Labels: Networking / adhoc

#13335 Support for loading game-specific plugins
  CMakeLists.txt
  Core/Config.cpp
  Core/Config.h
  Core/Core.vcxproj
  Core/Core.vcxproj.filters
  Core/HLE/Plugins.cpp
  Core/HLE/Plugins.h
  Core/HLE/sceKernelModule.cpp
  Core/HLE/sceKernelModule.h
  Core/HLE/sceKernelThread.cpp
  Core/HLE/sceKernelThread.h
  Core/Reporting.cpp
  Core/System.cpp
  Core/System.h
  UI/NativeApp.cpp
  UWP/CoreUWP/CoreUWP.vcxproj
  UWP/CoreUWP/CoreUWP.vcxproj.filters
  android/jni/Android.mk
  libretro/Makefile.common
Labels: HLE/Kernel

#13411 Add option for the clear-fb-on-first-use speedhack.
  Core/Config.cpp
  Core/Config.h
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/FramebufferManagerCommon.h
  UI/GameSettingsScreen.cpp
Labels: GE emulation

#13418 IO:Don't read data more than data size of pgd files.
  Core/HLE/sceIo.cpp
Labels: I/O

#13419 Debugger:Update symbol list of disassembly window when loadexec.
  Core/HLE/sceKernelModule.cpp
  Core/Host.h
  Qt/QtHost.h
  UI/HostTypes.h
  UWP/UWPHost.cpp
  UWP/UWPHost.h
  Windows/WindowsHost.cpp
  Windows/WindowsHost.h
  headless/StubHost.h
Labels: User Interface

#13421 Darkstalkers minor optimizations
  Common/ColorConv.h
  GPU/Common/VertexDecoderX86.cpp
  GPU/Software/RasterizerRectangle.cpp
Labels: GE emulation

#13420 Framebuffer manager refactor: Don't cache framebuffer information in TexCacheEntry
  GPU/Common/FramebufferManagerCommon.h
  GPU/Common/TextureCacheCommon.cpp
  GPU/Common/TextureCacheCommon.h
  GPU/D3D11/GPU_D3D11.cpp
  GPU/D3D11/TextureCacheD3D11.cpp
  GPU/D3D11/TextureCacheD3D11.h
  GPU/Directx9/GPU_DX9.cpp
  GPU/Directx9/TextureCacheDX9.cpp
  GPU/Directx9/TextureCacheDX9.h
  GPU/GLES/GPU_GLES.cpp
  GPU/GLES/TextureCacheGLES.cpp
  GPU/GLES/TextureCacheGLES.h
  GPU/GPU.h
  GPU/Vulkan/GPU_Vulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.h
  Windows/CaptureDevice.cpp
  Windows/CaptureDevice.h
Labels: GE emulation

#13427 Linux: Use MAP_NORESERVE when finding a memory base pointer
  Common/MemArenaPosix.cpp
Labels: Platform-specific (Linux/POSIX)

#13426 Texture filtering cleanups
  GPU/Common/TextureCacheCommon.cpp
  GPU/Common/TextureCacheCommon.h
  GPU/D3D11/TextureCacheD3D11.cpp
  GPU/Directx9/TextureCacheDX9.cpp
  GPU/GLES/TextureCacheGLES.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  UI/GameSettingsScreen.cpp
  Windows/MainWindowMenu.cpp
  Windows/ppsspp.rc
  Windows/resource.h
Labels: GE emulation

#13428 Adhoc Socket - Prevent Clients from freezing trying to re-connect to exited Host forever
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/sceNet.cpp
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#13429 More tex filtering code cleanups
  GPU/Common/TextureCacheCommon.cpp
  GPU/Common/TextureCacheCommon.h
  GPU/D3D11/GPU_D3D11.h
  GPU/D3D11/TextureCacheD3D11.cpp
  GPU/D3D11/TextureCacheD3D11.h
  GPU/Directx9/GPU_DX9.h
  GPU/Directx9/TextureCacheDX9.cpp
  GPU/Directx9/TextureCacheDX9.h
  GPU/GLES/GPU_GLES.h
  GPU/GLES/TextureCacheGLES.cpp
  GPU/GLES/TextureCacheGLES.h
  GPU/Vulkan/DebugVisVulkan.cpp
  GPU/Vulkan/GPU_Vulkan.h
  GPU/Vulkan/StateMappingVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.h
Labels: GE emulation

#13436 Texture invalidation fixes
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/TextureCacheCommon.cpp
  GPU/Common/TextureCacheCommon.h
  GPU/GPU.h
  GPU/Vulkan/DrawEngineVulkan.cpp
  GPU/Vulkan/GPU_Vulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  GPU/Vulkan/VulkanUtil.cpp
  ext/native/thin3d/VulkanQueueRunner.cpp
  ext/native/thin3d/VulkanRenderManager.cpp
Labels: GE emulation

#13446 Assorted render fixes
  Common/Vulkan/VulkanContext.cpp
  Common/Vulkan/VulkanContext.h
  Core/MIPS/x86/RegCacheFPU.cpp
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/FramebufferManagerCommon.h
  GPU/D3D11/FramebufferManagerD3D11.cpp
  GPU/D3D11/FramebufferManagerD3D11.h
  GPU/D3D11/GPU_D3D11.cpp
  GPU/Directx9/FramebufferManagerDX9.cpp
  GPU/Directx9/FramebufferManagerDX9.h
  GPU/GLES/FramebufferManagerGLES.cpp
  GPU/GLES/FramebufferManagerGLES.h
  GPU/GLES/GPU_GLES.cpp
  GPU/GLES/StencilBufferGLES.cpp
  GPU/GLES/TextureCacheGLES.cpp
  GPU/GPUState.h
  GPU/Vulkan/DrawEngineVulkan.cpp
  GPU/Vulkan/FramebufferManagerVulkan.cpp
  GPU/Vulkan/FramebufferManagerVulkan.h
  GPU/Vulkan/GPU_Vulkan.cpp
  ext/native/gfx/gl_debug_log.cpp
  ext/native/gfx/gl_debug_log.h
  ext/native/thin3d/GLQueueRunner.cpp
  ext/native/thin3d/VulkanQueueRunner.cpp
  ext/native/thin3d/thin3d_d3d9.cpp
Labels: GE emulation

#13447 Fixed crash issue when creating/connecting to a null group name.
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#13450 Implementing Adhoc GameMode
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#13454 More texture cache cleanup. Show bytes of textures hashed per frame in debug stats.
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/TextureCacheCommon.cpp
  GPU/Common/TextureCacheCommon.h
  GPU/D3D11/GPU_D3D11.cpp
  GPU/Directx9/GPU_DX9.cpp
  GPU/GLES/GPU_GLES.cpp
  GPU/GPU.h
  GPU/GPUCommon.cpp
  GPU/GPUCommon.h
  GPU/Vulkan/GPU_Vulkan.cpp
Labels: GE emulation

#13456 More code cleanup in texture cache
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/TextureCacheCommon.cpp
  GPU/D3D11/DrawEngineD3D11.cpp
  GPU/D3D11/StencilBufferD3D11.cpp
  GPU/D3D11/TextureCacheD3D11.cpp
  GPU/Directx9/DrawEngineDX9.cpp
  GPU/Directx9/StencilBufferDX9.cpp
  GPU/Directx9/TextureCacheDX9.cpp
  GPU/Directx9/TextureCacheDX9.h
  GPU/GLES/DepthBufferGLES.cpp
  GPU/GLES/DrawEngineGLES.cpp
  GPU/GLES/StencilBufferGLES.cpp
  GPU/GLES/TextureCacheGLES.cpp
  GPU/GLES/TextureCacheGLES.h
  GPU/Vulkan/DrawEngineVulkan.cpp
  GPU/Vulkan/StencilBufferVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.h
Labels: GE emulation

#13463 Adhoc Socket - Fixed PtpStat and PdpStat
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#12924 Postprocessing: User chain support
  Core/Config.cpp
  Core/Config.h
  Core/CwCheat.cpp
  Core/HLE/sceDisplay.cpp
  GPU/Common/PostShader.cpp
  GPU/Common/PostShader.h
  GPU/Common/PresentationCommon.cpp
  UI/GameSettingsScreen.cpp
  UI/GameSettingsScreen.h
  UI/MiscScreens.cpp
  UI/MiscScreens.h
  UI/NativeApp.cpp
  Windows/MainWindowMenu.cpp
Labels: User Interface

#13470 Adhoc Socket - An attempt to improve connection stability that was broken recently.
  Core/HLE/sceNet.cpp
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#13472 Windows: Faster startup by not filling the symbol listbox immediately
  Common/Vulkan/VulkanImage.cpp
  Common/Vulkan/VulkanImage.h
  Common/Vulkan/VulkanMemory.cpp
  Common/Vulkan/VulkanMemory.h
  GPU/Common/TextureCacheCommon.cpp
  GPU/D3D11/GPU_D3D11.cpp
  Windows/Debugger/CtrlRegisterList.cpp
  Windows/Debugger/Debugger_Disasm.cpp
  Windows/Debugger/Debugger_Disasm.h
  Windows/Debugger/Debugger_Lists.cpp
  Windows/GEDebugger/CtrlDisplayListView.cpp
  Windows/MainWindow.cpp
  Windows/MainWindowMenu.cpp
  Windows/W32Util/DialogManager.cpp
  Windows/W32Util/DialogManager.h
  Windows/WindowsHost.cpp
  Windows/main.cpp
  Windows/main.h
Labels: Platform-specific (Windows)

#13473 SSE/NEON-optimize IndexGenerator::AddStrip.
  GPU/Common/DrawEngineCommon.cpp
  GPU/Common/IndexGenerator.cpp
  GPU/Common/IndexGenerator.h
Labels: GE emulation

#13490 ByteSwap.h results in a file name collision on some systems with byteswap.h
  CMakeLists.txt
  Common/BitSet.h
  Common/ByteSwap.h
  Common/Common.vcxproj
  Common/Common.vcxproj.filters
  Core/MIPS/ARM/ArmCompALU.cpp
  Core/MIPS/ARM64/Arm64CompALU.cpp
  Core/MIPS/IR/IRPassSimplify.cpp
  Core/MIPS/MIPSInt.cpp
  Core/MIPS/x86/CompALU.cpp
  UWP/CommonUWP/CommonUWP.vcxproj
  UWP/CommonUWP/CommonUWP.vcxproj.filters
  ext/native/util/text/utf16.h
Labels: Platform-specific (Android)
