Repository hrydgard/ppsspp, pull requests merged in 2020-07, with the labels that each got.

#13093 Add a try/catch to Android camera device listing.
  android/src/org/ppsspp/ppsspp/CameraHelper.java
Labels: Camera/Microphone, Platform-specific (Android)

#13094 Camera initialization crash fix
  UI/InstallZipScreen.cpp
  android/src/org/ppsspp/ppsspp/CameraHelper.java
Labels: Camera/Microphone, Platform-specific (Android)

#13095 http: Check cancel flag more often
  ext/native/base/buffer.cpp
  ext/native/base/buffer.h
  ext/native/net/http_client.cpp
  ext/native/net/http_client.h
Labels: Networking / adhoc

#13096 Revert "Remove the I/O on Thread option - treat it as always on."
  Core/Config.cpp
  Core/Config.h
  Core/HLE/sceIo.cpp
  UI/GameSettingsScreen.cpp
Labels: Networking / adhoc

#13100 Android: Add option to ignore camera notches when sizing the game display
  Core/Config.cpp
  Core/Config.h
  GPU/Common/FramebufferCommon.cpp
  GPU/Common/GPUStateUtils.cpp
  GPU/Common/PresentationCommon.cpp
  GPU/Common/PresentationCommon.h
  UI/GameSettingsScreen.cpp
Labels: Platform-specific (Android)

#13125 Refactor and fix touch control layout screen for notch
  UI/TouchControlLayoutScreen.cpp
  UI/TouchControlLayoutScreen.h
Labels: Platform-specific (Android)

#13092 Bad memory access handling improvements
  Core/Config.h
  Core/Core.cpp
  Core/Core.h
  Core/HLE/HLE.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/sceDisplay.cpp
  Core/HLE/sceIo.cpp
  Core/HLE/sceKernel.cpp
  Core/HLE/sceKernel.h
  Core/HLE/sceKernelModule.cpp
  Core/HLE/sceKernelThread.cpp
  Core/HLE/sceKernelThread.h
  Core/HW/AsyncIOManager.h
  Core/HW/Camera.cpp
  Core/HW/Camera.h
  Core/Loaders.cpp
  Core/MIPS/IR/IRInterpreter.cpp
  Core/MIPS/MIPSDebugInterface.cpp
  Core/MIPS/MIPSInt.cpp
  Core/MIPS/x86/Jit.cpp
  Core/MemMap.h
  Core/MemMapFunctions.cpp
  Core/PSPLoaders.cpp
  Core/System.cpp
  Core/System.h
  Core/ThreadEventQueue.h
  GPU/Common/FramebufferCommon.cpp
  UI/EmuScreen.cpp
  UI/GameSettingsScreen.cpp
  Windows/MainWindowMenu.cpp
Labels: CPU emulation

#12913 Add glInvalidateFramebuffer on clobber
  ext/native/thin3d/GLQueueRunner.cpp
Labels: OpenGL

#13138 Vulkan: Make sure textures/samplers are unbound at the end of PresentationCommon::CopyToOutput
  GPU/Common/PresentationCommon.cpp
  ext/native/thin3d/thin3d.h
  ext/native/thin3d/thin3d_d3d11.cpp
  ext/native/thin3d/thin3d_d3d9.cpp
  ext/native/thin3d/thin3d_gl.cpp
  ext/native/thin3d/thin3d_vulkan.cpp
Labels: Vulkan

#13137 (Libretro) Add optimal input read codepath - bitmasks
  libretro/Makefile
  libretro/libretro.cpp
  libretro/libretro.h
Labels: Libretro

#13139 Vulkan: Switch to a fence to synchronize readbacks
  ext/native/thin3d/VulkanRenderManager.cpp
  ext/native/thin3d/VulkanRenderManager.h
Labels: Vulkan

#11795 Exception handler - catch bad memory accesses by the JIT
  CMakeLists.txt
  Common/CodeBlock.h
  Common/Common.vcxproj
  Common/Common.vcxproj.filters
  Common/ExceptionHandlerSetup.cpp
  Common/ExceptionHandlerSetup.h
  Common/MachineContext.h
  Common/x64Analyzer.cpp
  Common/x64Analyzer.h
  Core/Core.cpp
  Core/Core.h
  Core/CoreTiming.cpp
  Core/MIPS/ARM/ArmAsm.cpp
  Core/MIPS/ARM/ArmJit.h
  Core/MIPS/ARM64/Arm64Asm.cpp
  Core/MIPS/ARM64/Arm64Jit.h
  Core/MIPS/IR/IRJit.h
  Core/MIPS/JitCommon/JitCommon.h
  Core/MIPS/MIPS.h
  Core/MIPS/x86/Asm.cpp
  Core/MIPS/x86/Jit.cpp
  Core/MIPS/x86/Jit.h
  Core/MemMap.cpp
  Core/MemMap.h
  Core/System.cpp
  Core/Util/DisArm64.cpp
  Core/Util/DisArm64.h
  UI/EmuScreen.cpp
  UWP/CommonUWP/CommonUWP.vcxproj
  UWP/CommonUWP/CommonUWP.vcxproj.filters
  android/jni/Android.mk
  ext/disarm.cpp
  ext/disarm.h
  libretro/Makefile.common
Labels: arm64jit, armjit, x86jit

#13142 Exception handler context refactor
  Common/ExceptionHandlerSetup.cpp
  Common/MachineContext.h
  Core/MemMap.cpp
  GPU/Common/ShaderTranslation.cpp
  UI/UI.vcxproj
  Windows/PPSSPP.vcxproj
  ext/native/native.vcxproj
  headless/Headless.vcxproj
Labels: CPU emulation

#13154 Show more info on crash screen
  CMakeLists.txt
  Common/ExceptionHandlerSetup.cpp
  Common/MachineContext.h
  Core/Core.cpp
  Core/Core.h
  Core/Core.vcxproj
  Core/Core.vcxproj.filters
  Core/MemFault.cpp
  Core/MemFault.h
  Core/MemMap.cpp
  Core/MemMap.h
  Core/System.cpp
  UI/DevScreens.h
  UI/EmuScreen.cpp
  UWP/CoreUWP/CoreUWP.vcxproj
  UWP/CoreUWP/CoreUWP.vcxproj.filters
  android/jni/Android.mk
  libretro/Makefile.common
Labels: CPU emulation

#13164 Vulkan: Some surface code cleanup
  Common/Vulkan/VulkanContext.cpp
  Common/Vulkan/VulkanContext.h
  Core/HLE/sceDisplay.cpp
  SDL/SDLMain.cpp
  SDL/SDLVulkanGraphicsContext.cpp
  UI/GameSettingsScreen.cpp
  Windows/GPU/WindowsVulkanContext.cpp
  Windows/GPU/WindowsVulkanContext.h
  android/jni/AndroidVulkanContext.cpp
  libretro/LibretroVulkanContext.cpp
Labels: Vulkan

#13165 Implement VSync control for SDL/OpenGL
  Common/GraphicsContext.h
  Common/MsgHandler.cpp
  Common/MsgHandler.h
  Core/Config.cpp
  GPU/GPUCommon.cpp
  GPU/GPUCommon.h
  Qt/QtMain.h
  SDL/SDLGLGraphicsContext.cpp
  SDL/SDLGLGraphicsContext.h
  UI/GameSettingsScreen.cpp
  ext/native/thin3d/VulkanRenderManager.cpp
  ext/native/thin3d/thin3d_gl.cpp
  headless/SDLHeadlessHost.cpp
  ios/ViewController.mm
Labels: OpenGL, SDL2

#13167 Fix a bug in crashhandler where we could end up disassembling far too much.
  Common/x64Analyzer.cpp
  Common/x64Analyzer.h
  Core/MIPS/JitCommon/JitCommon.cpp
  Core/MemFault.cpp
Labels: x86jit

#13169 Multiple instance support (broken out from #13132)
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/proAdhocServer.cpp
  Core/HLE/sceNet.cpp
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#13171 PSP kernel: Improve logging when accessing bad kernel object handles.
  Core/HLE/HLE.cpp
  Core/HLE/sceHeap.cpp
  Core/HLE/sceIo.cpp
  Core/HLE/sceKernel.h
  Core/HLE/sceKernelAlarm.cpp
  Core/HLE/sceKernelEventFlag.cpp
  Core/HLE/sceKernelHeap.cpp
  Core/HLE/sceKernelMbx.cpp
  Core/HLE/sceKernelMemory.cpp
  Core/HLE/sceKernelModule.cpp
  Core/HLE/sceKernelMsgPipe.cpp
  Core/HLE/sceKernelMutex.cpp
  Core/HLE/sceKernelSemaphore.cpp
  Core/HLE/sceKernelThread.cpp
  Core/HLE/sceKernelVTimer.cpp
  Core/HLE/scePsmf.cpp
Labels: HLE/Kernel

#13173 Make sure to run callback on AdhocThread (extracted from #13132).
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/sceNetAdhoc.cpp
  Core/HLE/sceNetAdhoc.h
Labels: Networking / adhoc

#13174 Extract another few commits from #13132
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/proAdhocServer.cpp
  Core/HLE/proAdhocServer.h
  Core/HLE/sceNet.cpp
  Core/HLE/sceNet.h
  Core/HLE/sceNetAdhoc.cpp
  Core/HLE/sceNetAdhoc.h
Labels: Networking / adhoc

#13175 Windows: Add file menu command to easily load up a new identical instance of PPSSPP.
  Windows/MainWindowMenu.cpp
  Windows/W32Util/Misc.cpp
  Windows/W32Util/Misc.h
  Windows/ppsspp.rc
  Windows/resource.h
Labels: Platform-specific (Windows)

#13180 Use the alloc size from real PSP for FONT_OPEN_INTERNAL_STINGY mode.
  Core/HLE/sceFont.cpp
Labels: PGF / sceFont

#13179 Socket inconsistency platform fixes - broken out from #13123
  Core/Config.cpp
  Core/Config.h
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/proAdhocServer.cpp
  Core/HLE/sceNet.cpp
  Core/HLE/sceNetAdhoc.cpp
  Core/Util/PortManager.cpp
  UI/GameSettingsScreen.cpp
Labels: Networking / adhoc

#13181 Fix Blinking game room issue on NFS Most Wanted (extracted from #13132 by ANR2ME)
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/Util/PortManager.cpp
Labels: Networking / adhoc

#13182 Fixes for GvG Next Plus, Phantasy Star Portable 2 extracted from #13132
  Core/HLE/proAdhoc.cpp
  Core/HLE/sceNet.cpp
  Core/HLE/sceNetAdhoc.cpp
  Core/HLE/sceNetAdhoc.h
Labels: Networking / adhoc

#13183 UPnP and miscellaneous fixes, extracted from #13132 by ANR2ME
  Core/Config.cpp
  Core/Config.h
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/proAdhocServer.cpp
  Core/HLE/sceNet.cpp
  Core/HLE/sceNet.h
  Core/HLE/sceNetAdhoc.cpp
  Core/HLE/sceNetAdhoc.h
  Core/Util/PortManager.cpp
  Core/Util/PortManager.h
  UI/GameSettingsScreen.cpp
Labels: Networking / adhoc

#13189 AdHoc Reconnect fixes, extracted from #13132 by ANR2ME
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/sceNetAdhoc.cpp
  Core/HLE/sceNetAdhoc.h
Labels: Networking / adhoc

#13191 Do UPnP on a thread to avoid stutter. Extracted from #13132 by ANR2ME
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/proAdhocServer.cpp
  Core/HLE/sceNet.cpp
  Core/HLE/sceNetAdhoc.cpp
  Core/Util/PortManager.cpp
  Core/Util/PortManager.h
  UI/GameSettingsScreen.cpp
  UI/GameSettingsScreen.h
  ext/native/net/resolve.cpp
  ext/native/net/resolve.h
Labels: Networking / adhoc

#13196 AdhocMatching fix
  Core/HLE/proAdhoc.cpp
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#13195 (Libretro Windows) Buildfix
  libretro/Makefile
  libretro/jni/Android.mk
Labels: Libretro

#13198 AdhocMatching fix 3rd Player issue
  Core/HLE/proAdhoc.cpp
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#13203 Add two ModuleMgrForKernel's nids
  Core/HLE/sceKernelModule.cpp
Labels: HLE/Kernel

#13209 Add some threadman's nids
  Core/HLE/sceKernel.cpp
Labels: HLE/Kernel

#13207 Added more stub for some unimplemented sceNetApctl* functions
  Core/HLE/sceNet.cpp
  Core/HLE/sceNet.h
Labels: Networking / adhoc

#13219 Add two SysMemForKernel's nids
  Core/HLE/sceKernelHeap.cpp
Labels: HLE/Kernel

#13212 Remove unnecessary vector from thin3d_gl texture handling.
  ext/native/thin3d/thin3d.h
  ext/native/thin3d/thin3d_gl.cpp
Labels: OpenGL

#13221 Android: Various minor cleanup
  CMakeLists.txt
  UI/NativeApp.cpp
  Windows/GPU/WindowsGLContext.cpp
  Windows/GPU/WindowsGLContext.h
  Windows/PPSSPP.vcxproj
  Windows/PPSSPP.vcxproj.filters
  android/jni/Android.mk
  android/jni/AndroidAudio.cpp
  android/jni/AndroidAudio.h
  android/jni/AndroidJavaGLContext.cpp
  android/jni/AndroidVulkanContext.cpp
  android/jni/OpenSLContext.cpp
  android/jni/OpenSLContext.h
  android/jni/app-android.cpp
  android/src/org/ppsspp/ppsspp/NativeActivity.java
  android/src/org/ppsspp/ppsspp/NativeRenderer.java
  ext/native/thin3d/thin3d.h
  ext/native/thin3d/thin3d_gl.cpp
Labels: Platform-specific (Android)

#13217 Add two ThreadManForKernel 's nids
  Core/HLE/sceKernel.cpp
Labels: HLE/Kernel
