Repository hrydgard/ppsspp, pull requests merged in 2020-10, with the labels that each got.

#13513 Delete the old Timer.cpp/h. Move some stuff to where it belongs.
  CMakeLists.txt
  Common/Arm64Emitter.cpp
  Common/Common.vcxproj
  Common/Common.vcxproj.filters
  Common/Data/Collections/FixedSizeQueue.h
  Common/Data/Collections/Hashmaps.h
  Common/Data/Collections/ThreadSafeList.h
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/LogManager.cpp
  Common/Math/math_util.h
  Common/MathUtil.h
  Common/TimeUtil.cpp
  Common/TimeUtil.h
  Common/Timer.cpp
  Common/Timer.h
  Core/Config.cpp
  Core/Core.vcxproj
  Core/Core.vcxproj.filters
  Core/HLE/__sceAudio.cpp
  Core/HLE/sceAudio.cpp
  Core/HLE/sceGe.cpp
  Core/HW/StereoResampler.cpp
  Core/ThreadPools.cpp
  Core/ThreadPools.h
  GPU/Common/DrawEngineCommon.h
  GPU/Common/TextureScalerCommon.cpp
  GPU/Common/VertexDecoderCommon.h
  GPU/D3D11/DrawEngineD3D11.h
  GPU/D3D11/FramebufferManagerD3D11.cpp
  GPU/D3D11/TextureScalerD3D11.cpp
  GPU/Directx9/DrawEngineDX9.h
  GPU/Directx9/TextureScalerDX9.cpp
  GPU/GLES/DrawEngineGLES.h
  GPU/GLES/ShaderManagerGLES.h
  GPU/GLES/TextureScalerGLES.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Vulkan/DrawEngineVulkan.h
  GPU/Vulkan/PipelineManagerVulkan.h
  GPU/Vulkan/ShaderManagerVulkan.h
  GPU/Vulkan/TextureCacheVulkan.h
  GPU/Vulkan/TextureScalerVulkan.cpp
  GPU/Vulkan/VulkanUtil.h
  UI/BackgroundAudio.cpp
  UWP/CommonUWP/CommonUWP.vcxproj
  UWP/CommonUWP/CommonUWP.vcxproj.filters
  UWP/CoreUWP/CoreUWP.vcxproj
  UWP/CoreUWP/CoreUWP.vcxproj.filters
  Windows/XinputDevice.cpp
  android/jni/Android.mk
  libretro/Makefile.common
Labels: Code Cleanup

#13514 Vulkan: Automatically generate mipmaps for replaced/scaled textures
  Core/TextureReplacer.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
Labels: GE emulation, Vulkan

#13512 Add compat.ini setting to work around memstick size math problem in Harry Potter - Goblet of Fire
  Core/Compatibility.cpp
  Core/Compatibility.h
  Core/HW/MemoryStick.cpp
  Core/HW/MemoryStick.h
  assets/compat.ini
Labels: Game Bug, Saving issue

#13519 Adhoc Fix - various fix
  Core/Config.cpp
  Core/Config.h
  Core/Dialog/PSPNetconfDialog.cpp
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/sceNet.cpp
  Core/HLE/sceNet.h
  Core/HLE/sceNetAdhoc.cpp
  Core/HLE/sceNetAdhoc.h
  UI/GameSettingsScreen.cpp
Labels: Networking / adhoc

#13520 Simulates memory stick size to get fixed free space.
  Core/Config.cpp
  Core/Config.h
  Core/Dialog/SavedataParam.cpp
  Core/FileSystems/MetaFileSystem.cpp
  Core/FileSystems/MetaFileSystem.h
  Core/HW/MemoryStick.cpp
  UI/GameSettingsScreen.cpp
Labels: Saving issue

#13526 VFPU: Compute sines and cosines in double precision.
  Core/MIPS/MIPSVFPUUtils.h
  unittest/UnitTest.cpp
Labels: CPU emulation

#13530 Create a safer variant of BlockTransferAllowCreateFB, enable for FF Type 0
  Core/Compatibility.cpp
  Core/Compatibility.h
  GPU/Common/FramebufferManagerCommon.cpp
  assets/compat.ini
Labels: GE emulation

#13536 VK: Copy depth buffer if we can't blit. Some GPUs can't blit to depth.
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanContext.h
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/GPUState.h
  GPU/Vulkan/GPU_Vulkan.cpp
Labels: Vulkan

#13534 Workaround for date bug in Car Jack Streets.
  Core/Compatibility.cpp
  Core/Compatibility.h
  Core/HLE/sceKernelTime.cpp
  assets/compat.ini
Labels: HLE/Kernel

#13535 Vk: Separate layout transitions from renderpasses again.
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanContext.h
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  GPU/Vulkan/DrawEngineVulkan.cpp
  GPU/Vulkan/VulkanUtil.cpp
Labels: Vulkan

#13537 VK: Track and accumulate pipeline flags for render passes.
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  GPU/Vulkan/DrawEngineVulkan.cpp
  GPU/Vulkan/FramebufferManagerVulkan.cpp
  GPU/Vulkan/PipelineManagerVulkan.cpp
  GPU/Vulkan/PipelineManagerVulkan.h
  GPU/Vulkan/StencilBufferVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
Labels: Vulkan

#13541 VK: Whenever safely possible, shrink the render area.
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  GPU/Vulkan/DebugVisVulkan.cpp
  GPU/Vulkan/DebugVisVulkan.h
  UI/EmuScreen.cpp
Labels: Vulkan

#13328 Fix libretro with Vulkan
  Common/GPU/Vulkan/VulkanContext.cpp
  GPU/D3D11/TextureCacheD3D11.cpp
  Windows/PPSSPP.vcxproj
  Windows/PPSSPP.vcxproj.filters
  libretro/LibretroVulkanContext.cpp
  libretro/LibretroVulkanContext.h
  libretro/Makefile
  libretro/README_WINDOWS.txt
  libretro/libretro.cpp
  libretro/libretro_vulkan.cpp
Labels: Libretro, Vulkan

#13550 Adhoc fix - Fixes some Capcom Classic games
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhocServer.cpp
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#13556 D3D11 depth texture support
  Common/GPU/D3D11/thin3d_d3d11.cpp
  GPU/Common/DepalettizeShaderCommon.cpp
  GPU/D3D11/TextureCacheD3D11.cpp
  GPU/D3D11/TextureCacheD3D11.h
Labels: D3D11

#13561 Qt: Remove Qt-specific screenshot path
  Core/Screenshot.cpp
Labels: Code Cleanup

#13562 PsmfPlayer:The status will not be changed until the delay result is finished.
  Core/HLE/scePsmf.cpp
Labels: PSMF / MPEG

#13563 Adhoc - Fix disconnection issue due to timeout bug with blocking PTP Socket implementation
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/sceNet.cpp
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#13560 Io: Account for free space on the host device
  Core/Compatibility.cpp
  Core/Compatibility.h
  Core/HLE/sceIo.cpp
  Core/HW/MemoryStick.cpp
  assets/compat.ini
Labels: Saving issue

#13569 Automatic shader generation tester
  CMakeLists.txt
  GPU/Common/ShaderCommon.h
  GPU/Common/ShaderId.h
  GPU/Common/ShaderUniforms.h
  GPU/D3D11/D3D11Util.cpp
  GPU/D3D11/D3D11Util.h
  GPU/D3D11/DrawEngineD3D11.h
  GPU/D3D11/FragmentShaderGeneratorD3D11.h
  GPU/D3D11/ShaderManagerD3D11.cpp
  GPU/D3D11/StencilBufferD3D11.cpp
  GPU/D3D11/TextureCacheD3D11.cpp
  GPU/D3D11/VertexShaderGeneratorD3D11.cpp
  GPU/D3D11/VertexShaderGeneratorD3D11.h
  GPU/Directx9/DrawEngineDX9.h
  GPU/Directx9/FragmentShaderGeneratorHLSL.cpp
  GPU/Directx9/FragmentShaderGeneratorHLSL.h
  GPU/Directx9/PixelShaderGeneratorDX9.h
  GPU/Directx9/ShaderManagerDX9.cpp
  GPU/Directx9/ShaderManagerDX9.h
  GPU/Directx9/StateMappingDX9.cpp
  GPU/Directx9/StencilBufferDX9.cpp
  GPU/Directx9/TextureCacheDX9.cpp
  GPU/Directx9/VertexShaderGeneratorDX9.h
  GPU/Directx9/VertexShaderGeneratorHLSL.cpp
  GPU/Directx9/VertexShaderGeneratorHLSL.h
  GPU/GLES/FragmentShaderGeneratorGLES.cpp
  GPU/GLES/FragmentShaderGeneratorGLES.h
  GPU/GLES/ShaderManagerGLES.cpp
  GPU/GLES/VertexShaderGeneratorGLES.cpp
  GPU/GLES/VertexShaderGeneratorGLES.h
  GPU/GPU.vcxproj
  GPU/GPU.vcxproj.filters
  GPU/Vulkan/FragmentShaderGeneratorVulkan.cpp
  GPU/Vulkan/FragmentShaderGeneratorVulkan.h
  GPU/Vulkan/ShaderManagerVulkan.cpp
  GPU/Vulkan/VertexShaderGeneratorVulkan.cpp
  GPU/Vulkan/VertexShaderGeneratorVulkan.h
  UWP/GPU_UWP/GPU_UWP.vcxproj
  UWP/GPU_UWP/GPU_UWP.vcxproj.filters
  libretro/Makefile.common
  unittest/TestShaderGenerators.cpp
  unittest/UnitTest.cpp
  unittest/UnitTests.vcxproj
  unittest/UnitTests.vcxproj.filters
Labels: GE emulation

#13572 SwitchUMD:Only update Switch UMD item of Windows menu instead of entire UI.
  Core/HLE/sceUmd.cpp
  Core/Host.h
  Qt/QtHost.h
  UI/HostTypes.h
  UWP/UWPHost.h
  Windows/MainWindow.cpp
  Windows/MainWindow.h
  Windows/MainWindowMenu.cpp
  Windows/WindowsHost.cpp
  Windows/WindowsHost.h
  headless/StubHost.h
Labels: User Interface

#13576 Merge the two GLSL fragment shader generators
  CMakeLists.txt
  GPU/Common/ShaderCommon.cpp
  GPU/Common/ShaderCommon.h
  GPU/Directx9/FragmentShaderGeneratorHLSL.cpp
  GPU/Directx9/VertexShaderGeneratorHLSL.cpp
  GPU/GLES/FragmentShaderGeneratorGLES.cpp
  GPU/GLES/FragmentShaderGeneratorGLES.h
  GPU/GLES/ShaderManagerGLES.cpp
  GPU/GLES/ShaderManagerGLES.h
  GPU/GLES/VertexShaderGeneratorGLES.cpp
  GPU/GLES/VertexShaderGeneratorGLES.h
  GPU/GPU.vcxproj
  GPU/GPU.vcxproj.filters
  GPU/Vulkan/FragmentShaderGeneratorVulkan.cpp
  GPU/Vulkan/FragmentShaderGeneratorVulkan.h
  GPU/Vulkan/ShaderManagerVulkan.cpp
  GPU/Vulkan/ShaderManagerVulkan.h
  GPU/Vulkan/StencilBufferVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  android/jni/Android.mk
  libretro/Makefile.common
  unittest/TestShaderGenerators.cpp
Labels: GE emulation

#13570 GL: Allow texture wrapping on framebuffers
  Common/GPU/OpenGL/GLQueueRunner.cpp
  GPU/GLES/GPU_GLES.cpp
  GPU/GLES/TextureCacheGLES.cpp
  UI/DevScreens.cpp
Labels: GE emulation, OpenGL

#13585 Fixes savesate for usbmic.
  Core/HLE/sceUsbMic.cpp
Labels: Audio

#13580 Merge GLSL vertex shader generators
  CMakeLists.txt
  GPU/Common/ShaderCommon.cpp
  GPU/Common/ShaderCommon.h
  GPU/Common/ShaderUniforms.h
  GPU/Directx9/FragmentShaderGeneratorHLSL.cpp
  GPU/Directx9/VertexShaderGeneratorHLSL.cpp
  GPU/GLES/FragmentShaderGeneratorGLES.cpp
  GPU/GLES/ShaderManagerGLES.cpp
  GPU/GLES/VertexShaderGeneratorGLES.cpp
  GPU/GPU.vcxproj
  GPU/GPU.vcxproj.filters
  GPU/Vulkan/PipelineManagerVulkan.h
  GPU/Vulkan/ShaderManagerVulkan.cpp
  GPU/Vulkan/ShaderManagerVulkan.h
  GPU/Vulkan/VertexShaderGeneratorVulkan.cpp
  GPU/Vulkan/VertexShaderGeneratorVulkan.h
  android/jni/Android.mk
  libretro/Makefile.common
  unittest/TestShaderGenerators.cpp
Labels: GE emulation, OpenGL, Vulkan

#13592 IMP sceKernelFindModuleByUID and sceKernelFindModuleByName.
  Core/ELF/ElfReader.cpp
  Core/ELF/ElfReader.h
  Core/HLE/sceKernelModule.cpp
Labels: HLE/Kernel

#13597 Remove support for D3D11_level_9
  Common/GPU/D3D11/thin3d_d3d11.cpp
  GPU/Common/DepalettizeShaderCommon.cpp
  GPU/Common/PresentationCommon.cpp
  GPU/Common/ShaderCommon.h
  GPU/D3D11/ShaderManagerD3D11.cpp
  GPU/Directx9/FragmentShaderGeneratorHLSL.cpp
  GPU/Directx9/VertexShaderGeneratorHLSL.cpp
  Windows/GPU/D3D11Context.cpp
  libretro/LibretroD3D11Context.cpp
Labels: D3D11

#13579 Adhoc fix - Updating Adhocctl behavior after doing some small test
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/sceNet.cpp
  Core/HLE/sceNetAdhoc.cpp
  Core/HLE/sceNetAdhoc.h
Labels: Networking / adhoc

#13575 [Android] Audio record using OpenSL
  Common/System/System.h
  Core/HLE/sceUsbCam.cpp
  Core/HLE/sceUsbGps.cpp
  Core/HLE/sceUsbGps.h
  Core/HLE/sceUsbMic.cpp
  android/AndroidManifest.xml
  android/jni/AndroidAudio.cpp
  android/jni/AndroidAudio.h
  android/jni/OpenSLContext.cpp
  android/jni/OpenSLContext.h
  android/jni/app-android.cpp
  android/src/org/ppsspp/ppsspp/NativeActivity.java
  android/src/org/ppsspp/ppsspp/NativeApp.java
  libretro/libretro.cpp
Labels: Audio

#13608 When stops and unloads self module, make sure that the thread is properly deleted.
  Core/HLE/sceKernelModule.cpp
Labels: HLE/Kernel
