Repository hrydgard/ppsspp, pull requests merged in 2020-02, with the labels that each got.

#12596 Viewport software transform changes.
  GPU/Common/SoftwareTransformCommon.cpp
  GPU/Directx9/DrawEngineDX9.cpp
  GPU/Directx9/ShaderManagerDX9.cpp
  GPU/GLES/DrawEngineGLES.cpp
  GPU/Vulkan/DrawEngineVulkan.cpp
Labels: Direct3D 11, Direct3D 9, OpenGL, Vulkan

#12641 Improve stability on non-jailbroken devices
  ios/AppDelegate.mm
  ios/codesign.h
  ios/main.mm
Labels: Platform-specific (iOS)

#12652 ScanForFunctions: Speed up game loading by only trying to insert the newly found functions into the symbol map.
  Core/MIPS/MIPSAnalyst.cpp
Labels: Loader

#12647 Check whether the audio is actually played in psmf player
  Core/HLE/scePsmf.cpp
  Core/HW/MediaEngine.cpp
  Core/HW/MediaEngine.h
Labels: PSMF / MPEG
