Repository hrydgard/ppsspp, pull requests merged in 2021-03, with the labels that each got.

#14241 iOS: Try a different JIT detection method, thanks Halo-Michael.
  CMakeLists.txt
  UI/MainScreen.cpp
  ios/main.mm
Labels: Platform-specific (iOS)

#14248 Fix double space again
  Core/SaveState.cpp
Labels: User Interface

#14237 Add initial search to savedata manager
  Common/UI/ViewGroup.cpp
  Common/UI/ViewGroup.h
  UI/ComboKeyMappingScreen.cpp
  UI/DisplayLayoutScreen.cpp
  UI/MainScreen.cpp
  UI/SavedataScreen.cpp
  UI/SavedataScreen.h
  UI/TouchControlLayoutScreen.cpp
Labels: User Interface

#14273 GLSL Vulkan: Specify the precision of function arguments.
  GPU/Common/FragmentShaderGenerator.cpp
  UI/EmuScreen.cpp
  UI/OnScreenDisplay.h
Labels: Adreno GPU, Vulkan

#14278 Some homebrew like Triple Triad tries to load flash0:/kd/pspnet*.prx. Let's lie.
  Core/HLE/sceKernelModule.cpp
Labels: HLE/Kernel

#14284 [Adhoc] Fix Teenage Mutant Ninja Turtles Multiplayer
  Core/Dialog/PSPNetconfDialog.cpp
Labels: Networking / adhoc

#14290 Fix FlatOut Head On multiplayer.
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#14293 Debugger: Ignore small memory info by default
  Core/Config.cpp
  Core/Config.h
  Core/Debugger/MemBlockInfo.cpp
Labels: Debugger

#14301 CMake: Don't include X11 headers when compiling for FBDEV
  CMakeLists.txt
Labels: Platform-specific (Linux/POSIX)

#14307 Fix UPNP in Windows, some retro builds
  Core/Core.vcxproj
  UWP/CoreUWP/CoreUWP.vcxproj
  android/jni/Locals.mk
  libretro/Makefile
  libretro/jni/Android.mk
Labels: Libretro, Platform-specific (Windows)

#14313 Add a setting for choosing background animation in PPSSPP's menus
  Core/Config.cpp
  Core/Config.h
  UI/GameSettingsScreen.cpp
  UI/MiscScreens.cpp
Labels: User Interface

#14306 UTF-8 PPGe: Remove overlong encodings.
  Common/Data/Encoding/Utf8.cpp
  Common/Data/Encoding/Utf8.h
  Core/Util/PPGeDraw.cpp
  unittest/UnitTest.cpp
Labels: HLE/Kernel

#14330 Set ent_top/ent_size/stub_top/stub_size of struct NativeModule
  Core/HLE/sceKernelModule.cpp
Labels: HLE/Kernel
