Repository hrydgard/ppsspp, pull requests merged in 2021-12, with the labels that each got.

#15193 Vulkan: Cleanup pipeline var shadowing
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
Labels: Vulkan

#15200 Use vectorcall and regcache in samplerjit (software renderer)
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/RasterizerRegCache.cpp
  GPU/Software/RasterizerRegCache.h
  GPU/Software/Sampler.cpp
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15204 Correct accuracy of texture functions in software rendering
  GPU/Common/ShaderId.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Software/RasterizerRectangle.cpp
Labels: Software Rasterizer

#15211 Vulkan: Specify Vulkan version, fix mip level generation calculation
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanLoader.cpp
  Common/GPU/Vulkan/VulkanLoader.h
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/SysError.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
Labels: Vulkan

#15215 [Adhocctl] Fix Tekken 5 Dark Resurrection Multiplayer
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#15213 [Adhoc] Updated PdpCreate, PdpSend, PdpRecv, GetPdpStat, GetPtpStat
  Core/HLE/proAdhoc.cpp
  Core/HLE/sceNet.cpp
  Core/HLE/sceNet.h
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#15216 FramebufferManagerCommon: Fix some issues where currentRenderVfb_ could get out of sync.
  GPU/Common/FramebufferManagerCommon.cpp
Labels: Vulkan

#15217 Vulkan is strict about scissor rect, so let's clamp centrally.
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  GPU/Common/GPUStateUtils.h
  GPU/Vulkan/StateMappingVulkan.cpp
  GPU/Vulkan/StateMappingVulkan.h
  GPU/Vulkan/StencilBufferVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
Labels: Vulkan

#15218 samplerjit: Fix DXT1/DXT5 register releasing
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15222 Fix shutdown assert / potential crash
  Common/GPU/Vulkan/VulkanMemory.cpp
  Common/GPU/Vulkan/VulkanMemory.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  GPU/Common/SoftwareTransformCommon.cpp
  GPU/Vulkan/DrawEngineVulkan.cpp
  GPU/Vulkan/GPU_Vulkan.cpp
  UI/EmuScreen.cpp
Labels: Vulkan

#15225 softjit: Throw away regs allocated in conditionals
  GPU/Software/DrawPixelX86.cpp
Labels: Software Rasterizer

#15228 Correct vrndf2 range
  Core/MIPS/MIPSIntVFPU.cpp
Labels: CPU emulation

#15223 Split off the fonts from the atlas
  .gitignore
  CMakeLists.txt
  Common/UI/Context.cpp
  SDL/README.TXT
  SDL/buildassets.sh
  UI/NativeApp.cpp
  android/ab.cmd
  android/ab.sh
  android/assets/ppge_atlas.meta
  android/assets/ppge_atlas.zim
  android/assets/rargray.png
  android/assets/ui_atlas.meta
  android/assets/ui_atlas.zim
  android/assets/unknown.png
  android/assets/zip.png
  android/buildassets.sh
  asciifont_atlasscript.txt
  assets/asciifont_atlas.meta
  assets/asciifont_atlas.zim
  assets/font_atlas.meta
  assets/font_atlas.zim
  assets/ui_atlas.meta
  assets/ui_atlas.zim
  buildatlas.sh
  chinese.txt
  ext/native/tools/atlastool.cpp
  font_atlasscript.txt
  korean.txt
  make-font-textfiles.sh
  ui_atlasscript.txt
Labels: User Interface

#15229 Add a new logging profiler to the Vulkan backend
  CMakeLists.txt
  Common/Common.vcxproj
  Common/Common.vcxproj.filters
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanContext.h
  Common/GPU/Vulkan/VulkanImage.cpp
  Common/GPU/Vulkan/VulkanImage.h
  Common/GPU/Vulkan/VulkanProfiler.cpp
  Common/GPU/Vulkan/VulkanProfiler.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  android/jni/Android.mk
  libretro/Makefile.common
Labels: Vulkan

#15231 Debounce debugger window updates
  Core/Core.cpp
  Core/Debugger/Breakpoints.cpp
  Core/HLE/HLE.cpp
  Core/MIPS/x86/CompBranch.cpp
  Windows/Debugger/CtrlDisAsmView.cpp
  Windows/Debugger/CtrlDisAsmView.h
  Windows/Debugger/CtrlMemView.cpp
  Windows/Debugger/CtrlMemView.h
  Windows/Debugger/CtrlRegisterList.cpp
  Windows/Debugger/CtrlRegisterList.h
  Windows/Debugger/Debugger_Disasm.cpp
  Windows/Debugger/Debugger_Disasm.h
  Windows/Debugger/Debugger_Lists.cpp
  Windows/W32Util/Misc.cpp
  Windows/W32Util/Misc.h
Labels: Debugger

#15237 Path: Check for PSP case insensitively
  Common/File/Path.cpp
  Common/File/Path.h
  Core/FileSystems/DirectoryFileSystem.cpp
  Core/Loaders.cpp
  Core/System.cpp
  UI/CwCheatScreen.cpp
  UI/GameInfoCache.cpp
  UI/GameScreen.cpp
Labels: I/O

#15238 Vulkan: Be more restrictive about hardware texture upscaling on "slow" GPUs
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanContext.h
  GPU/Common/TextureCacheCommon.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
Labels: Vulkan

#15244 Make the Vulkan GPU log profiler a runtime developer setting
  Common/GPU/Vulkan/VulkanContext.h
  Common/GPU/Vulkan/VulkanProfiler.cpp
  Common/GPU/Vulkan/VulkanProfiler.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  Core/Config.cpp
  Core/Config.h
  GPU/Vulkan/GPU_Vulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  UI/GameSettingsScreen.cpp
Labels: Vulkan

#15247 Debugger: Don't try to hash invalid RAM
  Core/Debugger/DisassemblyManager.cpp
Labels: Debugger

#15253 Vectorize texture sampling a bit, make filtering more accurate
  Common/x64Emitter.cpp
  Common/x64Emitter.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/RasterizerRegCache.h
  GPU/Software/Sampler.cpp
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15256 Move texture coords, mipmapping, and blending func into linear jit
  GPU/Software/FuncId.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/RasterizerRegCache.h
  GPU/Software/Sampler.cpp
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15260 Correct level bug in samplerjit, minor SSE4 opt
  Common/x64Emitter.cpp
  Common/x64Emitter.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/Sampler.cpp
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15261 Add AVX/AVX2 instructions to the x64 emitter
  Common/x64Emitter.cpp
  Common/x64Emitter.h
  GPU/Software/SamplerX86.cpp
Labels: x86jit

#15263 softgpu: Skip zero size triangles
  GPU/Software/DrawPixelX86.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15262 samplerjit: Use SSSE3/SSE4 in linear filtering
  Common/x64Emitter.cpp
  Common/x64Emitter.h
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer
