Repository hrydgard/ppsspp, pull requests merged in 2021-06, with the labels that each got.

#14496 iOS: Guard extended button selector access
  ios/ViewController.mm
Labels: Input/Controller, Platform-specific (iOS)

#14492 [AdhocGameMode] Create GameMode's socket after Master and all Replicas have been created
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#14513 [Adhoc] Reducing HLE delays due to Mutiplayer performance regressions
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#14528 Postshader: Let shaders use the previous frame
  Common/GPU/D3D11/thin3d_d3d11.cpp
  Common/GPU/D3D9/thin3d_d3d9.cpp
  Common/GPU/OpenGL/GLQueueRunner.cpp
  Common/GPU/OpenGL/GLRenderManager.cpp
  Common/GPU/OpenGL/GLRenderManager.h
  Common/GPU/OpenGL/thin3d_gl.cpp
  Common/GPU/ShaderTranslation.cpp
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  Common/GPU/thin3d.h
  Core/Font/PGF.cpp
  GPU/Common/PostShader.cpp
  GPU/Common/PostShader.h
  GPU/Common/PresentationCommon.cpp
  GPU/Common/PresentationCommon.h
Labels: User Interface

#14536 Remove asserts from OpenSL init. Expose error inside audio settings
  UI/GameSettingsScreen.cpp
  android/jni/AndroidAudio.cpp
  android/jni/AndroidAudio.h
  android/jni/OpenSLContext.cpp
  android/jni/OpenSLContext.h
  android/jni/app-android.cpp
Labels: Audio, Platform-specific (Android)

#14537 Store the OpenSL error in a global to avoid "No context"
  android/jni/AndroidAudio.cpp
  android/jni/AndroidAudio.h
Labels: Audio

#14545 An attempt at cleaning up the checks in ThreadUtil
  Common/Thread/ThreadUtil.cpp
Labels: Platform-specific (Linux/POSIX)

#14548 Add some PPSSPP's Japanese keyboard
  Core/Dialog/PSPOskDialog.cpp
Labels: Input/Controller

#14550 [Adhoc] Making sure not to get random port when original port is not zero.
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc
