Repository hrydgard/ppsspp, pull requests merged in 2021-10, with the labels that each got.

#14963 Add 4k support to uwp version on xbox
  UWP/Common/DeviceResources.cpp
Labels: Platform-specific (UWP)

#14950 [AdhocDiscover] An attempt to implement AdhocDiscover
  Core/HLE/sceNetAdhoc.cpp
  Core/HLE/sceNetAdhoc.h
Labels: Networking / adhoc

#14972 Vulkan: Fix texture scaling shader+ Auto Max Quality texture filtering
  Common/GPU/Vulkan/VulkanImage.cpp
  Common/GPU/Vulkan/VulkanImage.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  GPU/Common/TextureCacheCommon.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  Qt/mainwindow.cpp
  Qt/mainwindow.h
  UI/GameSettingsScreen.cpp
  Windows/MainWindow.cpp
  Windows/MainWindow.h
  Windows/MainWindowMenu.cpp
  Windows/ppsspp.rc
  Windows/resource.h
  libretro/libretro.cpp
Labels: Vulkan

#14974 Make savedata description scrollable
  UI/SavedataScreen.cpp
Labels: User Interface

#14969 [Adhoc] Workaround for a more cross-platform behavior on PtpConnect (but inaccurate)
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#15069 Process projection inside software transform
  GPU/Common/ShaderUniforms.cpp
  GPU/Common/ShaderUniforms.h
  GPU/Common/SoftwareTransformCommon.cpp
  GPU/Common/SoftwareTransformCommon.h
  GPU/Common/VertexShaderGenerator.cpp
  GPU/Common/VertexShaderGenerator.h
  GPU/D3D11/DrawEngineD3D11.cpp
  GPU/Directx9/DrawEngineDX9.cpp
  GPU/Directx9/ShaderManagerDX9.cpp
  GPU/GLES/DrawEngineGLES.cpp
  GPU/GLES/ShaderManagerGLES.cpp
  GPU/GLES/ShaderManagerGLES.h
  GPU/GPUCommon.cpp
  GPU/GPUCommon.h
  GPU/Vulkan/DrawEngineVulkan.cpp
  GPU/Vulkan/PipelineManagerVulkan.cpp
Labels: GE emulation

#15070 Minor optimizations in software transform
  Common/GPU/ShaderWriter.cpp
  Core/MIPS/ARM64/Arm64CompBranch.cpp
  Core/MIPS/ARM64/Arm64CompVFPU.cpp
  GPU/Common/VertexShaderGenerator.cpp
  GPU/Math3D.h
  build.gradle
Labels: GE emulation

#15072 Implement depth culling in software transform
  GPU/Common/SoftwareTransformCommon.cpp
  GPU/Common/SoftwareTransformCommon.h
  GPU/D3D11/DrawEngineD3D11.cpp
  GPU/Directx9/DrawEngineDX9.cpp
  GPU/GLES/DrawEngineGLES.cpp
  GPU/GPUCommon.cpp
  GPU/GPUCommon.h
  GPU/Vulkan/DrawEngineVulkan.cpp
Labels: GE emulation
