Repository hrydgard/ppsspp, pull requests merged in 2021-11, with the labels that each got.

#15098 Remove the vertex cache from the OpenGL backend.
  GPU/GLES/DrawEngineGLES.cpp
  GPU/GLES/DrawEngineGLES.h
  UI/GameSettingsScreen.cpp
Labels: OpenGL, GE emulation

#15099 Fix depth cull in softgpu
  GPU/Software/Clipper.cpp
  GPU/Software/Rasterizer.cpp
Labels: Software Rasterizer, GE emulation

#15106 GLES: Explicitly enable ARB_cull_distance
  GPU/Common/VertexShaderGenerator.cpp
Labels: OpenGL

#15109 Texture upscale shader rework (drastic perf improvement)
  Common/LogManager.cpp
  GPU/Common/PostShader.cpp
  GPU/Common/PostShader.h
  GPU/Vulkan/TextureCacheVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.h
  GPU/Vulkan/VulkanUtil.cpp
  UI/GameSettingsScreen.cpp
  assets/shaders/defaultshaders.ini
  assets/shaders/tex_4xbrz.csh
  assets/shaders/tex_mmpx.csh
Labels: Vulkan, GE emulation

#15100 SDL: Read assets from Resources on macOS like on iOS
  CMakeLists.txt
  SDL/SDLMain.cpp
  UI/NativeApp.cpp
Labels: SDL2, Platform-specific (Mac OS X)

#15021 UI: Support a second texture for just fonts
  Common/Render/DrawBuffer.cpp
  Common/Render/DrawBuffer.h
  Common/UI/Context.cpp
  Common/UI/Context.h
  Common/UI/View.h
  UI/EmuScreen.cpp
  UI/NativeApp.cpp
Labels: User Interface

#15118 On Android 11 and later, let's not fallback to OpenGL on init crashes.
  UI/NativeApp.cpp
Labels: Platform-specific (Android)

#15135 Use the "new" API SetThreadDescription to set thread names on Windows.
  Common/Thread/ThreadUtil.cpp
Labels: Platform-specific (Windows)

#15138 Windows debugger: Load the dialogs on demand.
  Core/Config.cpp
  Windows/Debugger/Debugger_Disasm.cpp
  Windows/Debugger/Debugger_Lists.cpp
  Windows/Debugger/Debugger_VFPUDlg.cpp
  Windows/Debugger/Debugger_VFPUDlg.h
  Windows/MainWindow.cpp
  Windows/MainWindow.h
  Windows/MainWindowMenu.cpp
  Windows/W32Util/DialogManager.cpp
  Windows/main.cpp
  Windows/main.h
Labels: Platform-specific (Windows)

#15141 Rectangle fast path tweaks for softgpu
  GPU/Math3D.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/RasterizerRectangle.h
  GPU/Software/SoftGpu.h
  GPU/Software/TransformUnit.cpp
  GPU/Software/TransformUnit.h
Labels: Software Rasterizer

#15151 Prevent chat menu touch to fall throght
  UI/EmuScreen.cpp
Labels: User Interface

#15147 Fix libretro crash on close content after cached GPU pointer cleanup.
  libretro/LibretroGraphicsContext.cpp
  libretro/LibretroVulkanContext.cpp
Labels: Libretro

#14848 Fix DPAD size calculation
  UI/GamepadEmu.cpp
  UI/TouchControlLayoutScreen.cpp
Labels: Input/Controller

#15153 Threading: Remove a level of indirection from Promise<T> and Mailbox<T>
  Common/Thread/Channel.h
  Common/Thread/Promise.h
  UI/MemStickScreen.cpp
  UI/MemStickScreen.h
  unittest/TestThreadManager.cpp
Labels: Code Cleanup

#15156 Vulkan: Fix crash on shutdown after device lost
  GPU/Vulkan/GPU_Vulkan.cpp
Labels: SDL2

#15157 Refactor draw pixel and hardcode another path
  CMakeLists.txt
  GPU/GPU.vcxproj
  GPU/GPU.vcxproj.filters
  GPU/Software/DrawPixel.cpp
  GPU/Software/DrawPixel.h
  GPU/Software/FuncId.cpp
  GPU/Software/FuncId.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/SoftGpu.cpp
  UWP/GPU_UWP/GPU_UWP.vcxproj
  UWP/GPU_UWP/GPU_UWP.vcxproj.filters
  android/jni/Android.mk
  libretro/Makefile.common
Labels: Software Rasterizer

#15158 softgpu: Fix PixelFuncID size
  GPU/Software/DrawPixel.cpp
  GPU/Software/FuncId.cpp
  GPU/Software/FuncId.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/Sampler.cpp
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#12108 Vulkan async pipeline creation
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Core/Config.cpp
  Core/Config.h
  GPU/GLES/GPU_GLES.cpp
  GPU/Vulkan/DrawEngineVulkan.cpp
  GPU/Vulkan/GPU_Vulkan.cpp
  GPU/Vulkan/PipelineManagerVulkan.cpp
  GPU/Vulkan/PipelineManagerVulkan.h
  GPU/Vulkan/ShaderManagerVulkan.cpp
Labels: Vulkan

#15162 Integrate VMA (Vulkan Memory Allocator)
  CMakeLists.txt
  Common/Common.vcxproj
  Common/Common.vcxproj.filters
  Common/GPU/Vulkan/VulkanAlloc.h
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanContext.h
  Common/GPU/Vulkan/VulkanImage.cpp
  Common/GPU/Vulkan/VulkanImage.h
  Common/GPU/Vulkan/VulkanLoader.cpp
  Common/GPU/Vulkan/VulkanLoader.h
  Common/GPU/Vulkan/VulkanMemory.cpp
  Common/GPU/Vulkan/VulkanMemory.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  GPU/Debugger/Record.cpp
  GPU/Vulkan/DebugVisVulkan.cpp
  GPU/Vulkan/DepalettizeShaderVulkan.cpp
  GPU/Vulkan/DrawEngineVulkan.cpp
  GPU/Vulkan/DrawEngineVulkan.h
  GPU/Vulkan/GPU_Vulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.h
  UI/DevScreens.cpp
  android/jni/Android.mk
  ext/vma/vk_mem_alloc.cpp
  ext/vma/vk_mem_alloc.h
  libretro/Makefile.common
Labels: Vulkan

#15169 Destroy backbuffer when shutting down libretro vulkan context.
  libretro/LibretroVulkanContext.cpp
Labels: Vulkan, Libretro

#15171 Correct some alpha/stencil/blend issues in softgpu
  GPU/Software/DrawPixel.cpp
  GPU/Software/FuncId.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Software/SoftGpu.cpp
Labels: Software Rasterizer

#15163 Implement a jit for drawing pixels in the software renderer
  CMakeLists.txt
  Common/x64Emitter.cpp
  Common/x64Emitter.h
  Core/Config.cpp
  Core/Config.h
  GPU/GPU.vcxproj
  GPU/GPU.vcxproj.filters
  GPU/Software/DrawPixel.cpp
  GPU/Software/DrawPixel.h
  GPU/Software/DrawPixelX86.cpp
  GPU/Software/FuncId.cpp
  GPU/Software/FuncId.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/Sampler.cpp
  GPU/Software/SamplerX86.cpp
  android/jni/Android.mk
  libretro/Makefile.common
Labels: Software Rasterizer

#15180 Refactor software renderer jit cache to be shared
  CMakeLists.txt
  GPU/GPU.vcxproj
  GPU/GPU.vcxproj.filters
  GPU/Math3D.h
  GPU/Software/DrawPixel.cpp
  GPU/Software/DrawPixel.h
  GPU/Software/DrawPixelX86.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/RasterizerRegCache.cpp
  GPU/Software/RasterizerRegCache.h
  GPU/Software/Sampler.cpp
  GPU/Software/Sampler.h
  UWP/GPU_UWP/GPU_UWP.vcxproj
  UWP/GPU_UWP/GPU_UWP.vcxproj.filters
  android/jni/Android.mk
  libretro/Makefile.common
Labels: Software Rasterizer
