Repository hrydgard/ppsspp, pull requests merged in 2021-02, with the labels that each got.

#14059 (.gitlab-ci.yml) Add linux-i686 and windows-i686 targets (+ prevent creation of 'null' file when building Windows libretro cores)
  .gitignore
  .gitlab-ci.yml
  libretro/Makefile
  libretro/README_WINDOWS.txt
Labels: Libretro

#14078 PPGe: Decimate text images properly
  Core/Util/PPGeDraw.cpp
Labels: HLE/Kernel

#14089 GL: Call CreateDeviceObjects *after* updating render_.
  GPU/GLES/FramebufferManagerGLES.cpp
Labels: OpenGL

#14091 Only allow sceMpegGetAvcAu warmup for God Eater Series
  Core/Compatibility.cpp
  Core/Compatibility.h
  Core/HLE/sceMpeg.cpp
  assets/compat.ini
Labels: PSMF / MPEG

#14087 Just in time for v1.11.1 ;)
  assets/compat.ini
Labels: I/O

#14101 Menu audio glitchfix
  Common/GPU/OpenGL/thin3d_gl.cpp
  Common/UI/Context.h
  UI/BackgroundAudio.cpp
  UI/MiscScreens.cpp
Labels: User Interface

#14106 [Adhoc] Fix frozen (0 FPS) issue on Kao Challengers and Asterix & Obelix XX
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/sceNet.cpp
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#14117 [Adhoc] Fix lobby issue on The Warriors
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#14133 Debugger: Invalidate when using memory APIs
  Core/Debugger/WebSocket/MemorySubscriber.cpp
Labels: Debugger

#14145 libretro: Remove "Unsafe FuncReplacements" option.
  libretro/libretro.cpp
Labels: Libretro

#14147 Android: Update to Gradle 6.5. Enable automatic debug symbol uploads for release builds.
  android/build.gradle
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: Platform-specific (Android)

#14070 CoreTiming: Ensure we never idle into the past
  Core/CoreTiming.cpp
  Core/HLE/sceSas.cpp
  Core/HW/SasAudio.cpp
Labels: HLE/Kernel

#14124 Fix Windows build using CMake/clang
  CMakeLists.txt
  GPU/Common/SplineCommon.cpp
  Windows/Debugger/Debugger_Misc.cpp
  Windows/Debugger/Debugger_Misc.h
  Windows/GEDebugger/SimpleGLWindow.cpp
  Windows/GEDebugger/VertexPreview.cpp
  Windows/stdafx.h
  test.py
Labels: Platform-specific (Windows)

#14026 Vertex cache minihash: Round up the starting address to a multiple of 4.
  GPU/Common/DrawEngineCommon.cpp
Labels: GE emulation

#13938 HLE: Hook Worms text render copy func
  Core/HLE/ReplaceTables.cpp
  Core/MIPS/MIPSAnalyst.cpp
Labels: GE emulation, HLE/Kernel

#14112 Debugger: Option to skip mem hacks in memory dump
  Windows/Debugger/DumpMemoryWindow.cpp
  Windows/ppsspp.rc
  Windows/resource.h
Labels: Debugger

#14150 Dialog: Clear volatile memory on unlock
  Core/Dialog/PSPDialog.cpp
Labels: HLE/Kernel

#13832 SaveState: Make event restoring more obvious
  Core/CoreTiming.cpp
  Core/CoreTiming.h
  Core/CwCheat.cpp
  Core/HLE/sceDisplay.cpp
  Core/HLE/sceNet.cpp
  Core/HLE/sceNetAdhoc.cpp
  Core/HLE/scePsmf.cpp
  Core/HLE/sceSas.cpp
  Core/HLE/sceUmd.cpp
  Core/HLE/sceUsbMic.cpp
Labels: Code Cleanup

#14154 UI: Consider chat for visible UI
  UI/EmuScreen.cpp
  UI/EmuScreen.h
Labels: User Interface

#13865 Display: Change default unthrottle mode on non-Windows
  Core/Config.cpp
  libretro/libretro.cpp
Labels: User Interface

#14177 Windows: Stop ignoring all deprecated warnings
  Common/Common.h
  Common/Common.vcxproj
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/StringUtils.h
  Core/Core.vcxproj
  UWP/Armips_UWP/Armips_UWP.vcxproj
  UWP/CommonUWP/CommonUWP.vcxproj
  UWP/CoreUWP/CoreUWP.vcxproj
  UWP/GPU_UWP/GPU_UWP.vcxproj
  UWP/UI_UWP/UI_UWP.vcxproj
  UWP/UWP.vcxproj
  Windows/stdafx.h
  ext/native/tools/zimtool/zimtool.vcxproj
  headless/Headless.vcxproj
  unittest/UnitTests.vcxproj
Labels: Platform-specific (Windows)

#14170 Fix "Enable chat" in Linux Qt build
  Qt/mainwindow.h
Labels: Qt

#14179 Windows: Run OSK/chat input box asynchronously
  Windows/main.cpp
Labels: Platform-specific (Windows)

#14182 Only consider the actual PPGe texture in kernel ram reliable.
  Core/Util/PPGeDraw.cpp
  Core/Util/PPGeDraw.h
  GPU/Common/TextureCacheCommon.cpp
Labels: HLE/Kernel

#14186 iOS: Fix multitouch tracking.
  ios/PPSSPP-Info.plist
  ios/ViewController.mm
Labels: Platform-specific (iOS)

#14176 Remove deprecated API calls for new FFmpeg 4.3.x
  Core/AVIDump.cpp
  Core/HLE/sceAtrac.cpp
  Core/HLE/sceMpeg.cpp
  Core/HW/MediaEngine.cpp
  Core/HW/SimpleAudioDec.cpp
Labels: PSMF / MPEG

#14191 TexCache: Check for videos rendered as slices
  GPU/Common/TextureCacheCommon.cpp
  GPU/Common/TextureCacheCommon.h
  GPU/D3D11/TextureCacheD3D11.cpp
  GPU/Directx9/TextureCacheDX9.cpp
  GPU/GLES/TextureCacheGLES.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
Labels: GE emulation

#14056 Track memory allocations and writes for debug info
  CMakeLists.txt
  Core/Core.vcxproj
  Core/Core.vcxproj.filters
  Core/CwCheat.cpp
  Core/Debugger/Breakpoints.cpp
  Core/Debugger/Breakpoints.h
  Core/Debugger/MemBlockInfo.cpp
  Core/Debugger/MemBlockInfo.h
  Core/Dialog/PSPMsgDialog.cpp
  Core/Dialog/PSPNetconfDialog.cpp
  Core/Dialog/PSPSaveDialog.cpp
  Core/ELF/ElfReader.cpp
  Core/HLE/HLE.cpp
  Core/HLE/HLEHelperThread.cpp
  Core/HLE/ReplaceTables.cpp
  Core/HLE/sceAtrac.cpp
  Core/HLE/sceCcc.cpp
  Core/HLE/sceDmac.cpp
  Core/HLE/sceHeap.cpp
  Core/HLE/sceIo.cpp
  Core/HLE/sceKernelHeap.cpp
  Core/HLE/sceKernelInterrupt.cpp
  Core/HLE/sceKernelMemory.cpp
  Core/HLE/sceKernelModule.cpp
  Core/HLE/sceKernelMsgPipe.cpp
  Core/HLE/sceKernelThread.cpp
  Core/HLE/sceKernelVTimer.cpp
  Core/HLE/sceMp3.cpp
  Core/HLE/sceMpeg.cpp
  Core/HLE/sceNet.cpp
  Core/HLE/scePsmf.cpp
  Core/HW/MediaEngine.cpp
  Core/HW/SimpleAudioDec.cpp
  Core/MemMap.cpp
  Core/MemMapHelpers.h
  Core/Util/BlockAllocator.cpp
  Core/Util/BlockAllocator.h
  Core/Util/PPGeDraw.cpp
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/TextureCacheCommon.cpp
  GPU/Debugger/Playback.cpp
  GPU/GPUCommon.cpp
  GPU/GeConstants.cpp
  GPU/Software/SoftGpu.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  GPU/ge_constants.h
  UWP/CoreUWP/CoreUWP.vcxproj
  UWP/CoreUWP/CoreUWP.vcxproj.filters
  Windows/Debugger/CtrlMemView.cpp
  Windows/Debugger/CtrlMemView.h
  Windows/Debugger/Debugger_MemoryDlg.cpp
  Windows/Debugger/Debugger_MemoryDlg.h
  Windows/ppsspp.rc
  Windows/resource.h
  android/jni/Android.mk
Labels: Debugger

#14188 Additional fixes for FFmpeg 3.1+
  Core/HLE/sceAtrac.cpp
  Core/HLE/sceMpeg.cpp
  Core/HW/MediaEngine.cpp
  Core/HW/MediaEngine.h
Labels: PSMF / MPEG

#14140 [Adhoc] Fix multiplayer issue on MGS:PW due to detecting an incorrect source port on incoming data
  Core/HLE/proAdhoc.cpp
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#14201 Add iOS version detection, turn off JIT on bootup if >= 14.3.
  Common/System/System.h
  Qt/QtMain.cpp
  SDL/SDLMain.cpp
  UI/DevScreens.cpp
  UI/NativeApp.cpp
  UWP/PPSSPP_UWPMain.cpp
  Windows/main.cpp
  android/jni/app-android.cpp
  headless/Headless.cpp
  ios/main.mm
  unittest/UnitTest.cpp
Labels: Platform-specific (iOS)

#14205 Mpeg: Correct stream buffer wrapping, cleanup
  Core/HW/BufferQueue.h
  Core/HW/MediaEngine.cpp
Labels: PSMF / MPEG

#14207 GPU: Use stencil discard workaround w/o depth test
  GPU/Common/ShaderId.cpp
Labels: Vulkan

#14224 Add a Storage tab to System Information with some path info
  Common/System/System.h
  Core/Config.h
  UI/DevScreens.cpp
  UI/NativeApp.cpp
  android/jni/app-android.cpp
  android/jni/app-android.h
  android/src/org/ppsspp/ppsspp/NativeActivity.java
  android/src/org/ppsspp/ppsspp/NativeApp.java
Labels: Platform-specific (Android)

#14189 sceKernelFindModuleByName:Add delay for Fake module
  Core/HLE/sceKernelModule.cpp
Labels: HLE/Kernel

#14225 Android: Implement opening ISOs through a file picker and Storage Access Framework
  Core/FileLoaders/LocalFileLoader.cpp
  Core/FileLoaders/LocalFileLoader.h
  Core/Loaders.cpp
  Core/Loaders.h
  UI/DevScreens.cpp
  UI/MainScreen.cpp
  android/jni/app-android.cpp
  android/jni/app-android.h
  android/src/org/ppsspp/ppsspp/NativeActivity.java
  android/src/org/ppsspp/ppsspp/PpssppActivity.java
Labels: Platform-specific (Android)

#14233 GPU: Dirty texparams when cropping a self-copy
  GPU/Common/FramebufferManagerCommon.cpp
Labels: GE emulation

#14235 [Adhoc] Always enable TCPNoDelay to improve response time
  Core/Config.cpp
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/proAdhocServer.cpp
  Core/HLE/sceNet.cpp
  Core/HLE/sceNetAdhoc.cpp
  UI/GameSettingsScreen.cpp
Labels: Networking / adhoc

#14234 Mpeg: Allow full use of the buffer queue
  Core/HW/BufferQueue.cpp
  Core/HW/BufferQueue.h
Labels: PSMF / MPEG

#14202 Add labels to all UI views
  Common/StringUtils.cpp
  Common/StringUtils.h
  Common/UI/UIScreen.cpp
  Common/UI/UIScreen.h
  Common/UI/View.cpp
  Common/UI/View.h
  Common/UI/ViewGroup.cpp
  Common/UI/ViewGroup.h
  UI/ChatScreen.cpp
  UI/ControlMappingScreen.cpp
  UI/CwCheatScreen.cpp
  UI/DevScreens.cpp
  UI/DisplayLayoutScreen.cpp
  UI/EmuScreen.cpp
  UI/GameSettingsScreen.cpp
  UI/GamepadEmu.cpp
  UI/GamepadEmu.h
  UI/MainScreen.cpp
  UI/MiscScreens.cpp
  UI/OnScreenDisplay.cpp
  UI/OnScreenDisplay.h
  UI/PauseScreen.cpp
  UI/PauseScreen.h
  UI/RemoteISOScreen.cpp
  UI/ReportScreen.cpp
  UI/SavedataScreen.cpp
  UI/Store.cpp
  UI/TextureUtil.h
  UI/TiltAnalogSettingsScreen.cpp
  UI/TouchControlLayoutScreen.cpp
  UI/TouchControlVisibilityScreen.cpp
Labels: User Interface
