Repository hrydgard/ppsspp, pull requests merged in 2022-03, with the labels that each got.

#15426 softgpu: Fix build with basic logging
  GPU/Software/Rasterizer.cpp
Labels: Software Rasterizer

#15431 Early-out in texture replacement code, if replacement disabled
  GPU/Common/TextureCacheCommon.cpp
  GPU/GPUCommon.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
Labels: GE emulation

#15433 Add version to game screen
  UI/GameScreen.cpp
  UI/GameScreen.h
Labels: User Interface

#15440 softgpu: Plug bad leak of bin queue data
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/Thread/ThreadManager.cpp
  Core/CoreTiming.cpp
  Core/Dialog/PSPMsgDialog.cpp
  Core/FileLoaders/DiskCachingFileLoader.cpp
  Core/KeyMap.cpp
  GPU/Common/PresentationCommon.cpp
  GPU/Math3D.h
  GPU/Software/BinManager.h
  GPU/Software/SoftGpu.cpp
Labels: Software Rasterizer

#15441 Add a check to the elf loader, preventing a crash on bad module info addr
  Core/HLE/sceKernelModule.cpp
Labels: Loader

#15452 [Build] Manual generate Android APK
  .github/workflows/manual_generate_apk.yml
Labels: Platform-specific (Android)

#15454 Debugger: Fast path write tag lookup
  Core/Debugger/MemBlockInfo.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Software/SoftGpu.cpp
Labels: Debugger

#15456 [Adhoc] Fix inconsistency issue between Windows and non-Windows
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/sceNetAdhoc.cpp
  Core/HLE/sceNetAdhoc.h
Labels: Networking / adhoc
