Repository hrydgard/ppsspp, pull requests merged in 2022-01, with the labels that each got.

#15267 Fix assortment of softgpu bugs
  Core/Util/PPGeDraw.cpp
  GPU/Common/SplineCommon.cpp
  GPU/Common/SplineCommon.h
  GPU/GPUCommon.cpp
  GPU/Software/DrawPixelX86.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Software/RasterizerRegCache.h
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
  GPU/Software/SoftGpu.cpp
Labels: Software Rasterizer

#15269 softgpu: Reduce interpolation if not needed
  GPU/Software/Rasterizer.cpp
Labels: Software Rasterizer

#15265 Debugger: Correct delayed symbol listbox updates
  Windows/Debugger/Debugger_MemoryDlg.cpp
  Windows/Debugger/Debugger_MemoryDlg.h
  Windows/MainWindow.cpp
  Windows/MainWindow.h
  Windows/MainWindowMenu.cpp
Labels: Debugger

#15264 A couple more smaller samplerjit optimizations
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15271 samplerjit: Decode colors in parallel
  GPU/Software/Sampler.cpp
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15272 softgpu: Add code for tracking GPU writes
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/RasterizerRectangle.cpp
Labels: Software Rasterizer

#15273 Optimize software renderer handling of common bloom operations
  GPU/Software/DrawPixel.cpp
  GPU/Software/DrawPixel.h
  GPU/Software/DrawPixelX86.cpp
  GPU/Software/FuncId.cpp
  GPU/Software/FuncId.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/Sampler.cpp
  GPU/Software/Sampler.h
Labels: Software Rasterizer

#15274 softgpu: Skip sample lookup if masked
  GPU/Software/Rasterizer.cpp
  GPU/Software/TransformUnit.cpp
Labels: Software Rasterizer

#15275 Use AVX2 gather for samplerjit
  Common/x64Emitter.cpp
  Common/x64Emitter.h
  GPU/Software/FuncId.cpp
  GPU/Software/FuncId.h
  GPU/Software/RasterizerRegCache.h
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15277 Small optimizations to raster and sampler, lighting optimization
  GPU/Software/DrawPixel.cpp
  GPU/Software/DrawPixel.h
  GPU/Software/DrawPixelX86.cpp
  GPU/Software/FuncId.h
  GPU/Software/Lighting.cpp
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15280 Correct some recent regressions in samplerjit
  GPU/Software/FuncId.cpp
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15279 softgpu: Correct mirroring in fastpath+nearest
  GPU/Software/RasterizerRectangle.cpp
Labels: Software Rasterizer

#15283 UI: Fix some sign/size comparison warnings
  UI/ControlMappingScreen.cpp
  UI/CwCheatScreen.cpp
  UI/GameSettingsScreen.cpp
  UI/MiscScreens.cpp
  Windows/Debugger/Debugger_MemoryDlg.cpp
  unittest/UnitTest.cpp
Labels: Code Cleanup

#15285 Skip part of row easily outside triangles in softgpu
  GPU/Software/Rasterizer.cpp
Labels: Software Rasterizer

#15284 Improve softgpu lighting accuracy and speed
  GPU/Math3D.h
  GPU/Software/Lighting.cpp
  GPU/Software/Lighting.h
  GPU/Software/TransformUnit.cpp
Labels: Software Rasterizer

#15288 softgpu: Draw top left of rectangles first
  GPU/Software/Clipper.cpp
  GPU/Software/Rasterizer.cpp
Labels: Software Rasterizer

#15291 samplerjit: Fix alpha for 565 in linear lookup
  GPU/Software/Rasterizer.cpp
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15294 Use System_GetPropertyInt to report the keyboard layout
  CMakeLists.txt
  Common/System/System.h
  Core/KeyMap.cpp
  Core/KeyMapDefaults.cpp
  Qt/QtMain.cpp
  SDL/SDLMain.cpp
  Windows/main.cpp
Labels: Code Cleanup

#15299 [AdhocGameMode] Fix Bomberman Panic Bomber multiplayer
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#15298 Compute func IDs and get func pointers once per prim call
  GPU/Software/Clipper.cpp
  GPU/Software/Clipper.h
  GPU/Software/DrawPixel.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/RasterizerRectangle.h
  GPU/Software/Sampler.h
  GPU/Software/TransformUnit.cpp
Labels: Software Rasterizer

#15301 Move more state processing to per prim call
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/TransformUnit.cpp
Labels: Software Rasterizer

#15302 Process verts within a draw call in binned threads within softgpu
  CMakeLists.txt
  Common/Thread/ThreadManager.cpp
  Common/Thread/ThreadManager.h
  GPU/GPU.vcxproj
  GPU/GPU.vcxproj.filters
  GPU/Software/BinManager.cpp
  GPU/Software/BinManager.h
  GPU/Software/Clipper.cpp
  GPU/Software/Clipper.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/RasterizerRectangle.h
  GPU/Software/TransformUnit.cpp
  UWP/GPU_UWP/GPU_UWP.vcxproj
  UWP/GPU_UWP/GPU_UWP.vcxproj.filters
  android/jni/Android.mk
  libretro/Makefile.common
Labels: Software Rasterizer

#15303 softgpu: Enqueue batches of prims when binning
  GPU/Software/BinManager.cpp
  GPU/Software/BinManager.h
  GPU/Software/Lighting.cpp
  GPU/Software/Lighting.h
  GPU/Software/TransformUnit.cpp
  GPU/Software/TransformUnit.h
Labels: Software Rasterizer

#15305 softgpu: Avoid double calculating screenpos
  GPU/Software/Clipper.cpp
  GPU/Software/DrawPixelX86.cpp
  GPU/Software/FuncId.cpp
  GPU/Software/FuncId.h
Labels: Software Rasterizer

#15307 softgpu: Remove accesses to gstate from DrawPixel
  GPU/Software/DrawPixel.cpp
  GPU/Software/DrawPixel.h
  GPU/Software/DrawPixelX86.cpp
  GPU/Software/FuncId.cpp
  GPU/Software/FuncId.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/RasterizerRegCache.h
Labels: Software Rasterizer

#15310 softgpu: Tune queue push/pop to reduce overhead
  GPU/Software/BinManager.cpp
  GPU/Software/BinManager.h
Labels: Software Rasterizer

#15309 Debugger: Avoid flushing meminfo on write lookup
  Core/Debugger/MemBlockInfo.cpp
Labels: Debugger

#15311 Avoid gstate references in rasterizerization
  GPU/GPUState.h
  GPU/Software/BinManager.cpp
  GPU/Software/DrawPixel.cpp
  GPU/Software/FuncId.cpp
  GPU/Software/FuncId.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/RasterizerRegCache.h
  GPU/Software/Sampler.cpp
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
  GPU/Software/TransformUnit.cpp
  GPU/Software/TransformUnit.h
Labels: Software Rasterizer

#15313 softgpu: Allow binning across prim calls
  GPU/Software/BinManager.cpp
  GPU/Software/SoftGpu.cpp
  GPU/Software/SoftGpu.h
  GPU/Software/TransformUnit.cpp
  GPU/Software/TransformUnit.h
Labels: Software Rasterizer

#15312 softgpu: Fix alpha blend with one/zero
  GPU/Software/Rasterizer.cpp
Labels: Software Rasterizer

#15314 Allow binning of separate textures
  GPU/Software/BinManager.cpp
  GPU/Software/BinManager.h
  GPU/Software/FuncId.cpp
  GPU/Software/FuncId.h
  GPU/Software/Sampler.cpp
  GPU/Software/SamplerX86.cpp
  GPU/Software/SoftGpu.cpp
  GPU/Software/TransformUnit.cpp
  GPU/Software/TransformUnit.h
Labels: Software Rasterizer

#15316 Throw some memory at the softgpu problem
  GPU/Software/BinManager.cpp
  GPU/Software/BinManager.h
  GPU/Software/SoftGpu.cpp
  GPU/Software/TransformUnit.cpp
  GPU/Software/TransformUnit.h
Labels: Software Rasterizer

#15317 softgpu: Precompute lighting parameters
  GPU/Common/ShaderId.cpp
  GPU/GPUState.h
  GPU/Software/Lighting.cpp
  GPU/Software/Lighting.h
  GPU/Software/TransformUnit.cpp
  GPU/Software/TransformUnit.h
Labels: Software Rasterizer

#15319 Precompute state for vertex transform
  GPU/Software/Lighting.cpp
  GPU/Software/TransformUnit.cpp
  GPU/Software/TransformUnit.h
Labels: Software Rasterizer

#15320 softgpu: Fix block transfer flush detection
  GPU/Software/SoftGpu.cpp
Labels: Software Rasterizer

#15321 Debugger: Fix crash in software renderer
  GPU/Software/FuncId.h
  GPU/Software/Rasterizer.cpp
Labels: Software Rasterizer

#15318 softgpu: Heuristic to avoid over-draining
  GPU/Software/BinManager.cpp
  GPU/Software/BinManager.h
  GPU/Software/SoftGpu.cpp
  GPU/Software/TransformUnit.cpp
Labels: Software Rasterizer

#15322 softgpu: Reduce copying during clipping
  GPU/Software/Clipper.cpp
Labels: Software Rasterizer

#15323 softgpu: Guide more SSE light factor handling
  GPU/Software/Lighting.cpp
Labels: Software Rasterizer

#15324 UI: Reset ZIP install errors for new ZIPs
  Core/Util/GameManager.cpp
  Core/Util/GameManager.h
  UI/InstallZipScreen.cpp
  UI/InstallZipScreen.h
Labels: User Interface

#15326 samplerjit: Simplify AVX shift-copies
  Common/x64Emitter.cpp
  Common/x64Emitter.h
  GPU/Software/SamplerX86.cpp
Labels: Code Cleanup

#15327 softjit: Switch to constant pool for draw pixel
  GPU/Software/DrawPixel.cpp
  GPU/Software/DrawPixel.h
  GPU/Software/DrawPixelX86.cpp
  GPU/Software/RasterizerRegCache.h
Labels: Software Rasterizer

#15330 Simplify constant writes, reduce prolog/epilog in softjit/samplerjit
  GPU/Software/DrawPixel.cpp
  GPU/Software/DrawPixel.h
  GPU/Software/DrawPixelX86.cpp
  GPU/Software/RasterizerRegCache.cpp
  GPU/Software/RasterizerRegCache.h
  GPU/Software/Sampler.cpp
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15331 [AdhocMatching] Fix timing issue
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/sceNetAdhoc.cpp
  Core/HLE/sceNetAdhoc.h
Labels: Networking / adhoc

#15333 Small optimizations to software flushing
  Common/Thread/ThreadManager.cpp
  Common/Thread/ThreadManager.h
  GPU/Software/BinManager.cpp
  GPU/Software/BinManager.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/SoftGpu.cpp
  GPU/Software/TransformUnit.cpp
  GPU/Software/TransformUnit.h
Labels: Software Rasterizer

#15338 Alow flushing at will via the GE debugger
  GPU/Common/GPUDebugInterface.h
  GPU/Debugger/Stepping.cpp
  GPU/Debugger/Stepping.h
  GPU/GPUCommon.cpp
  GPU/GPUCommon.h
  GPU/Software/TransformUnit.cpp
  Windows/GEDebugger/GEDebugger.cpp
  Windows/GEDebugger/GEDebugger.h
  Windows/ppsspp.rc
  Windows/resource.h
Labels: Debugger

#15342 Common: Fix conversion of 4444 to BGRA
  Common/Data/Convert/ColorConv.cpp
  Core/HLE/sceIo.cpp
Labels: Software Rasterizer

#15341 softgpu: Correct clear mode dither
  GPU/Software/Clipper.cpp
  GPU/Software/DrawPixelX86.cpp
  test.py
Labels: Software Rasterizer

#15340 Correct UV rotation and through mipmaps, optimize texenv blend a bit
  GPU/Software/Clipper.cpp
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/SamplerX86.cpp
  test.py
Labels: Software Rasterizer

#15339 Use dirty flags for softgpu state updates
  GPU/Common/DrawEngineCommon.h
  GPU/GPUCommon.cpp
  GPU/GPUCommon.h
  GPU/Software/BinManager.cpp
  GPU/Software/BinManager.h
  GPU/Software/FuncId.cpp
  GPU/Software/Lighting.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Software/SoftGpu.cpp
  GPU/Software/SoftGpu.h
  GPU/Software/TransformUnit.cpp
  GPU/Software/TransformUnit.h
Labels: Software Rasterizer

#15343 GPU: Log and report when region1 is non-zero
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/GPUState.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/SoftGpu.cpp
Labels: GE emulation

#15347 Improve samplerjit code a bit with mipmaps
  Common/x64Emitter.cpp
  Common/x64Emitter.h
  GPU/Software/Sampler.cpp
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15349 Vulkan: Add support for listing all the available surface formats in system info.
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanContext.h
  Common/GPU/Vulkan/VulkanLoader.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  UI/DevScreens.cpp
Labels: Vulkan

#15354 Kernel: Fail threads with invalid priority
  Core/HLE/sceKernelThread.cpp
Labels: HLE/Kernel

#15355 Add some Mp3 fixes from a bit ago, pass several mp3 tests
  Core/HLE/sceMp3.cpp
  Core/HLE/sceMp4.cpp
  Core/HW/SimpleAudioDec.cpp
  Core/HW/SimpleAudioDec.h
  test.py
Labels: MP3

#15359 [Network] An attempt to fix GetIPList on Darwin (MacOS/iOS)
  Common/Net/Resolve.cpp
Labels: Networking / adhoc

#15361 Run unit tests in GitHub Actions
  .github/workflows/build.yml
  CMakeLists.txt
  GPU/Common/VertexShaderGenerator.cpp
  headless/Headless.cpp
  test.py
  unittest/TestShaderGenerators.cpp
  unittest/TestThreadManager.cpp
  unittest/UnitTest.cpp
Labels: Code Cleanup

#15360 Cleanup register usage a bit in samplerjit
  GPU/Software/RasterizerRegCache.h
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
  GPU/Software/SoftGpu.cpp
Labels: Software Rasterizer

#15365 Kernel: Adjust timings of LwMutex and EventFlag
  Core/HLE/sceKernelEventFlag.cpp
  Core/HLE/sceKernelMutex.cpp
Labels: HLE/Kernel

#15364 Cleanup a few warnings
  UI/GameScreen.cpp
  UI/GameSettingsScreen.cpp
  android/jni/Locals.mk
  unittest/UnitTest.cpp
Labels: Code Cleanup

#15363 Add unit test to verify compilation of sampler/pixel jits
  CMakeLists.txt
  Common/Log.cpp
  Common/Log.h
  GPU/Software/DrawPixelX86.cpp
  GPU/Software/FuncId.cpp
  GPU/Software/Sampler.cpp
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
  android/jni/Android.mk
  unittest/TestSoftwareGPUJit.cpp
  unittest/UnitTest.cpp
  unittest/UnitTests.vcxproj
  unittest/UnitTests.vcxproj.filters
Labels: Software Rasterizer

#15368 Refactor display stats, prevent flush while stepping
  CMakeLists.txt
  Core/Core.cpp
  Core/Core.vcxproj
  Core/Core.vcxproj.filters
  Core/CoreTiming.cpp
  Core/Debugger/WebSocket/GPUStatsSubscriber.cpp
  Core/Debugger/WebSocket/InputBroadcaster.cpp
  Core/Debugger/WebSocket/InputSubscriber.cpp
  Core/Dialog/PSPOskDialog.cpp
  Core/HLE/HLE.cpp
  Core/HLE/sceCtrl.cpp
  Core/HLE/sceDisplay.cpp
  Core/HLE/sceDisplay.h
  Core/HLE/sceIo.cpp
  Core/HW/Display.cpp
  Core/HW/Display.h
  Core/MIPS/MIPS.cpp
  Core/Reporting.cpp
  Core/SaveState.cpp
  Core/System.cpp
  GPU/Common/PresentationCommon.cpp
  GPU/Common/PresentationCommon.h
  GPU/GPUCommon.cpp
  GPU/Vulkan/FramebufferManagerVulkan.cpp
  UI/EmuScreen.cpp
  UI/MainScreen.cpp
  UWP/CoreUWP/CoreUWP.vcxproj
  UWP/CoreUWP/CoreUWP.vcxproj.filters
  android/jni/Android.mk
  libretro/Makefile.common
Labels: Code Cleanup, Debugger
