Repository hrydgard/ppsspp, pull requests merged in 2022-05, with the labels that each got.

#15513 Upgrade Vulkan headers to latest
  build.gradle
  ext/vulkan/vk_enum_string_helper.h
  ext/vulkan/vulkan_android.h
  ext/vulkan/vulkan_beta.h
  ext/vulkan/vulkan_core.h
  ext/vulkan/vulkan_profiles.h
Labels: Platform-specific (Android), Vulkan

#15500 Add BlueToAlpha compat.ini workaround, fixes Split/Second graphics
  Common/Data/Convert/ColorConv.cpp
  Common/Data/Convert/ColorConv.h
  Core/Compatibility.cpp
  Core/Compatibility.h
  GPU/Common/FragmentShaderGenerator.cpp
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/FramebufferManagerCommon.h
  GPU/Common/GPUStateUtils.cpp
  GPU/Common/GPUStateUtils.h
  GPU/Common/ShaderId.cpp
  GPU/Common/TextureCacheCommon.cpp
  GPU/D3D11/DrawEngineD3D11.cpp
  GPU/Directx9/DrawEngineDX9.cpp
  GPU/GLES/DrawEngineGLES.cpp
  GPU/GPUCommon.cpp
  GPU/GPUState.h
  GPU/Vulkan/StateMappingVulkan.cpp
  assets/compat.ini
Labels: GE emulation

#15514 Vulkan barrier optimizations
  CMakeLists.txt
  Common/Common.vcxproj
  Common/Common.vcxproj.filters
  Common/GPU/Vulkan/VulkanBarrier.cpp
  Common/GPU/Vulkan/VulkanBarrier.h
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  GPU/Vulkan/TextureCacheVulkan.cpp
  android/jni/Android.mk
  libretro/Makefile.common
Labels: Vulkan

#15515 Remove the rather problematic limit on framebuffer copies
  GPU/Common/DrawEngineCommon.cpp
  GPU/Common/DrawEngineCommon.h
  GPU/D3D11/StateMappingD3D11.cpp
  GPU/Directx9/StateMappingDX9.cpp
  GPU/GLES/StateMappingGLES.cpp
  GPU/Vulkan/StateMappingVulkan.cpp
Labels: GE emulation, Code Cleanup

#15517 Vulkan: Fix depth transition barrier
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
Labels: Vulkan

#15518 Vulkan: Correct size for tex mip level readback
  GPU/Vulkan/TextureCacheVulkan.cpp
Labels: Vulkan

#15524 Enable -latomic on Linux.
  CMakeLists.txt
Labels: Platform-specific (Linux/POSIX)

#15529 softgpu: Fix viewport flag clean/dirty
  GPU/Software/SoftGpu.cpp
  GPU/Software/SoftGpu.h
Labels: Software Rasterizer

#15535 Unused lang tool
  .gitignore
  Tools/langtool/unused-euristic.sh
Labels: User Interface

#15536 Update lang files
  Tools/langtool/unused-euristic.sh
  assets/lang/ar_AE.ini
  assets/lang/az_AZ.ini
  assets/lang/bg_BG.ini
  assets/lang/ca_ES.ini
  assets/lang/cz_CZ.ini
  assets/lang/da_DK.ini
  assets/lang/de_DE.ini
  assets/lang/dr_ID.ini
  assets/lang/en_US.ini
  assets/lang/es_ES.ini
  assets/lang/es_LA.ini
  assets/lang/fa_IR.ini
  assets/lang/fi_FI.ini
  assets/lang/fr_FR.ini
  assets/lang/gl_ES.ini
  assets/lang/gr_EL.ini
  assets/lang/he_IL.ini
  assets/lang/he_IL_invert.ini
  assets/lang/hr_HR.ini
  assets/lang/hu_HU.ini
  assets/lang/id_ID.ini
  assets/lang/it_IT.ini
  assets/lang/ja_JP.ini
  assets/lang/jv_ID.ini
  assets/lang/ko_KR.ini
  assets/lang/lo_LA.ini
  assets/lang/lt-LT.ini
  assets/lang/ms_MY.ini
  assets/lang/nl_NL.ini
  assets/lang/no_NO.ini
  assets/lang/pl_PL.ini
  assets/lang/pt_BR.ini
  assets/lang/pt_PT.ini
  assets/lang/ro_RO.ini
  assets/lang/ru_RU.ini
  assets/lang/sv_SE.ini
  assets/lang/tg_PH.ini
  assets/lang/th_TH.ini
  assets/lang/tr_TR.ini
  assets/lang/uk_UA.ini
  assets/lang/vi_VN.ini
  assets/lang/zh_CN.ini
  assets/lang/zh_TW.ini
Labels: User Interface

#15538 Expose networking options in libretro core
  libretro/libretro.cpp
Labels: Networking / adhoc, Libretro

#15542 [Adhoc] Fix more inconsistency between Windows and non-Windows
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc

#15541 (libretro) Add option to detect and notifiy frontend of internal frame rate changes (60 <-> 30 <-> 20 fps, etc.) + restore 'Duplicate Frames in 30 Hz Games' core option
  libretro/libretro.cpp
Labels: Libretro

#15558 Config: Don't save --fullscreen unless changed
  Core/Config.h
  Qt/mainwindow.cpp
  SDL/SDLMain.cpp
  UI/ChatScreen.cpp
  UI/GameSettingsScreen.cpp
  UI/GameSettingsScreen.h
  UI/MainScreen.cpp
  UI/NativeApp.cpp
  UWP/App.cpp
  Windows/MainWindow.cpp
  Windows/MainWindowMenu.cpp
  Windows/main.cpp
Labels: User Interface

#15562 Savedata: Allow no key when not using SECURE modes
  Core/Dialog/SavedataParam.cpp
Labels: Saving issue

#15563 Config: Don't save CPUCore unless changed
  Core/Config.cpp
  Core/Config.h
  UI/NativeApp.cpp
Labels: Platform-specific (iOS)
