Repository hrydgard/ppsspp, pull requests merged in 2022-09, with the labels that each got.

#15936 Framebuffer settings and block transfer speedup
  Common/Data/Collections/TinySet.h
  Core/Config.cpp
  Core/Config.h
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/FramebufferManagerCommon.h
  GPU/Common/TextureCacheCommon.cpp
  GPU/Common/TextureCacheCommon.h
  GPU/D3D11/StateMappingD3D11.cpp
  GPU/Directx9/StateMappingDX9.cpp
  GPU/GLES/StateMappingGLES.cpp
  GPU/Vulkan/StateMappingVulkan.cpp
  UI/GameSettingsScreen.cpp
  assets/compat.ini
  libretro/libretro.cpp
Labels: GE emulation, User Interface

#15939 Texture dumping fix
  Common/File/Path.cpp
  Core/TextureReplacer.cpp
  GPU/Common/TextureCacheCommon.cpp
  GPU/Common/TextureCacheCommon.h
  GPU/D3D11/TextureCacheD3D11.cpp
  GPU/Directx9/TextureCacheDX9.cpp
  GPU/GLES/TextureCacheGLES.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
Labels: GE emulation, User Interface

#15946 Shader blend refactor part 1
  GPU/Common/DrawEngineCommon.h
  GPU/Common/FragmentShaderGenerator.cpp
  GPU/Common/GPUStateUtils.cpp
  GPU/Common/GPUStateUtils.h
  GPU/Common/ShaderId.cpp
  GPU/Common/ShaderId.h
  GPU/D3D11/DrawEngineD3D11.cpp
  GPU/D3D11/ShaderManagerD3D11.cpp
  GPU/D3D11/ShaderManagerD3D11.h
  GPU/D3D11/StateMappingD3D11.cpp
  GPU/Directx9/DrawEngineDX9.cpp
  GPU/Directx9/ShaderManagerDX9.cpp
  GPU/Directx9/ShaderManagerDX9.h
  GPU/Directx9/StateMappingDX9.cpp
  GPU/GLES/DrawEngineGLES.cpp
  GPU/GLES/ShaderManagerGLES.cpp
  GPU/GLES/ShaderManagerGLES.h
  GPU/GLES/StateMappingGLES.cpp
  GPU/Vulkan/DrawEngineVulkan.cpp
  GPU/Vulkan/ShaderManagerVulkan.cpp
  GPU/Vulkan/ShaderManagerVulkan.h
  GPU/Vulkan/StateMappingVulkan.cpp
Labels: GE emulation, Code Cleanup

#15943 vertexjit: Clamp through float pos during decode
  GPU/Common/VertexDecoderArm.cpp
  GPU/Common/VertexDecoderArm64.cpp
  GPU/Common/VertexDecoderCommon.cpp
  GPU/Common/VertexDecoderCommon.h
  GPU/Common/VertexDecoderX86.cpp
  unittest/TestVertexJit.cpp
Labels: Software Rasterizer

#15947 unitest: Correct wrong free, initialize data
  unittest/TestSoftwareGPUJit.cpp
  unittest/TestVertexJit.cpp
Labels: Code Cleanup

#15948 Remove setting: Slow framebuf effects
  Core/Config.cpp
  Core/Config.h
  GPU/Common/GPUStateUtils.cpp
  GPU/Common/GPUStateUtils.h
  GPU/Common/ShaderId.cpp
  GPU/D3D11/StateMappingD3D11.cpp
  GPU/Directx9/StateMappingDX9.cpp
  GPU/GLES/StateMappingGLES.cpp
  GPU/GPUState.h
  GPU/Vulkan/StateMappingVulkan.cpp
  UI/GameSettingsScreen.cpp
  assets/lang/ar_AE.ini
  assets/lang/az_AZ.ini
  assets/lang/bg_BG.ini
  assets/lang/ca_ES.ini
  assets/lang/cz_CZ.ini
  assets/lang/da_DK.ini
  assets/lang/de_DE.ini
  assets/lang/dr_ID.ini
  assets/lang/en_US.ini
  assets/lang/es_ES.ini
  assets/lang/es_LA.ini
  assets/lang/fa_IR.ini
  assets/lang/fi_FI.ini
  assets/lang/fr_FR.ini
  assets/lang/gl_ES.ini
  assets/lang/gr_EL.ini
  assets/lang/he_IL.ini
  assets/lang/he_IL_invert.ini
  assets/lang/hr_HR.ini
  assets/lang/hu_HU.ini
  assets/lang/id_ID.ini
  assets/lang/it_IT.ini
  assets/lang/ja_JP.ini
  assets/lang/jv_ID.ini
  assets/lang/ko_KR.ini
  assets/lang/lo_LA.ini
  assets/lang/lt-LT.ini
  assets/lang/ms_MY.ini
  assets/lang/nl_NL.ini
  assets/lang/no_NO.ini
  assets/lang/pl_PL.ini
  assets/lang/pt_BR.ini
  assets/lang/pt_PT.ini
  assets/lang/ro_RO.ini
  assets/lang/ru_RU.ini
  assets/lang/sv_SE.ini
  assets/lang/tg_PH.ini
  assets/lang/th_TH.ini
  assets/lang/tr_TR.ini
  assets/lang/uk_UA.ini
  assets/lang/vi_VN.ini
  assets/lang/zh_CN.ini
  assets/lang/zh_TW.ini
  libretro/libretro.cpp
Labels: Code Cleanup

#15949 Remove confusing resetFramebufferRead flag from secondary framebuffer binding
  GPU/Common/DrawEngineCommon.h
  GPU/Common/GPUStateUtils.cpp
  GPU/Common/GPUStateUtils.h
  GPU/D3D11/DrawEngineD3D11.h
  GPU/D3D11/StateMappingD3D11.cpp
  GPU/Directx9/DrawEngineDX9.h
  GPU/Directx9/StateMappingDX9.cpp
  GPU/GLES/DrawEngineGLES.h
  GPU/GLES/StateMappingGLES.cpp
  GPU/Vulkan/DrawEngineVulkan.h
  GPU/Vulkan/StateMappingVulkan.cpp
Labels: Code Cleanup

#15589 Vulkan: Parallelize GLSL compilation
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/Thread/Channel.h
  Common/Thread/Promise.h
  GPU/Vulkan/PipelineManagerVulkan.cpp
  GPU/Vulkan/PipelineManagerVulkan.h
  GPU/Vulkan/ShaderManagerVulkan.cpp
  GPU/Vulkan/ShaderManagerVulkan.h
  assets/lang/sv_SE.ini
  ext/gason/gason.h
Labels: Vulkan, Performance

#15950 Remove Memory::WriteStruct() and ReadStruct()
  Core/Dialog/PSPGamedataInstallDialog.cpp
  Core/HLE/sceChnnlsv.cpp
  Core/HLE/sceFont.cpp
  Core/HLE/sceGe.cpp
  Core/HLE/sceIo.cpp
  Core/HLE/sceKernel.cpp
  Core/HLE/sceKernelEventFlag.cpp
  Core/HLE/sceKernelInterrupt.cpp
  Core/HLE/sceKernelMbx.cpp
  Core/HLE/sceKernelMemory.cpp
  Core/HLE/sceKernelModule.cpp
  Core/HLE/sceKernelMsgPipe.cpp
  Core/HLE/sceKernelMutex.cpp
  Core/HLE/sceKernelSemaphore.cpp
  Core/HLE/sceKernelThread.cpp
  Core/HLE/sceMpeg.cpp
  Core/HLE/sceNet.cpp
  Core/HLE/sceNetAdhoc.cpp
  Core/HLE/sceNp.cpp
  Core/HLE/sceNp2.cpp
  Core/HLE/sceOpenPSID.cpp
  Core/HLE/scePsmf.cpp
  Core/HLE/sceUsbCam.cpp
  Core/HLE/sceUsbGps.cpp
  Core/MemMap.cpp
  Core/MemMap.h
  Core/MemMapHelpers.h
  Core/Util/PPGeDraw.cpp
Labels: Code Cleanup

#15952 interp: Handle jumps in branch delay slots better
  Core/MIPS/MIPSInt.cpp
Labels: CPU emulation

#15951 Improve rectangle fast path checks in softgpu
  GPU/Software/RasterizerRectangle.cpp
Labels: Software Rasterizer

#15953 Shader blend refactor part 2
  Common/GPU/D3D11/thin3d_d3d11.cpp
  Common/GPU/OpenGL/thin3d_gl.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  GPU/Common/FragmentShaderGenerator.cpp
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/GPUStateUtils.cpp
  GPU/Common/GPUStateUtils.h
  GPU/Common/ShaderId.cpp
  GPU/Common/ShaderId.h
  GPU/D3D11/StateMappingD3D11.cpp
  GPU/Directx9/StateMappingDX9.cpp
  GPU/GLES/StateMappingGLES.cpp
  GPU/Vulkan/GPU_Vulkan.cpp
  GPU/Vulkan/StateMappingVulkan.cpp
Labels: Code Cleanup

#15960 Enable logic op emulation in-shader
  Core/Compatibility.cpp
  GPU/Common/FragmentShaderGenerator.cpp
  GPU/Common/GPUStateUtils.cpp
  GPU/Common/GPUStateUtils.h
  GPU/Common/ShaderId.cpp
  GPU/Common/ShaderId.h
  GPU/Vulkan/ShaderManagerVulkan.cpp
  assets/compat.ini
Labels: GE emulation

#15962 Fix the new logic-op-in-shader on OpenGL ES and D3D11
  GPU/Common/FragmentShaderGenerator.cpp
  GPU/Common/GPUStateUtils.cpp
  GPU/Common/GPUStateUtils.h
  GPU/D3D11/StateMappingD3D11.cpp
  GPU/Directx9/StateMappingDX9.cpp
  GPU/GLES/StateMappingGLES.cpp
  GPU/Vulkan/StateMappingVulkan.cpp
  assets/compat.ini
Labels: GE emulation

#15957 Handle branch/jump in branch delay slots more accurately
  Core/MIPS/ARM/ArmCompBranch.cpp
  Core/MIPS/ARM64/Arm64CompBranch.cpp
  Core/MIPS/IR/IRCompBranch.cpp
  Core/MIPS/JitCommon/JitCommon.cpp
  Core/MIPS/JitCommon/JitCommon.h
  Core/MIPS/x86/CompBranch.cpp
  Core/MIPS/x86/Jit.h
  Core/System.cpp
  headless/Headless.cpp
Labels: CPU emulation

#15965 Build: Split ppsspp_common out for Android bins
  android/jni/Android.mk
  android/jni/Locals.mk
Labels: Platform-specific (Android)

#15963 Various scale fixes/workarounds
  Core/Compatibility.cpp
  Core/Compatibility.h
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/FramebufferManagerCommon.h
  GPU/Common/TextureCacheCommon.cpp
  assets/compat.ini
Labels: GE emulation

#15967 Fix BlueToAlpha mode, re-enable it for Outrun and DiRT
  GPU/GPUCommon.cpp
  assets/compat.ini
Labels: GE emulation

#15968 Remove the assembly implementation of 4x4 matrix mul, in favor of intrinsics.
  CMakeLists.txt
  Common/Common.vcxproj
  Common/Common.vcxproj.filters
  Common/Math/fast/fast_math.c
  Common/Math/fast/fast_math.h
  Common/Math/fast/fast_matrix.c
  Common/Math/fast/fast_matrix.h
  Common/Math/fast/fast_matrix_neon.S
  Common/Math/fast/fast_matrix_sse.c
  Common/Math/lin/matrix_neon.s
  GPU/Common/DrawEngineCommon.cpp
  GPU/Common/GPUStateUtils.cpp
  UI/NativeApp.cpp
  UWP/CommonUWP/CommonUWP.vcxproj
  UWP/CommonUWP/CommonUWP.vcxproj.filters
  android/jni/Android.mk
  libretro/Makefile.common
Labels: Code Cleanup

#15973 NFS speed effect: Improve framebuffer match logging, tighten up stride checks.
  Common/Data/Collections/TinySet.h
  GPU/Common/TextureCacheCommon.cpp
  GPU/Common/TextureCacheCommon.h
  GPU/GPU.h
Labels: GE emulation

#15976 softgpu: Implement matrix data wrap-around
  Core/HLE/sceGe.cpp
  GPU/GPUCommon.cpp
  GPU/Software/SoftGpu.cpp
Labels: Software Rasterizer

#15977 GE Debugger: Add more missing GE disasm
  GPU/GeDisasm.cpp
Labels: Debugger

#15979 d3d9: Correct decode of 16-bit textures
  GPU/D3D11/TextureCacheD3D11.cpp
  GPU/Directx9/TextureCacheDX9.cpp
Labels: D3D9, D3D11

#15974 Add breakpoint conditions to GE debugger
  CMakeLists.txt
  Common/Math/expression_parser.cpp
  GPU/Common/GPUDebugInterface.cpp
  GPU/Common/GPUDebugInterface.h
  GPU/Debugger/Breakpoints.cpp
  GPU/Debugger/Breakpoints.h
  GPU/Debugger/GECommandTable.cpp
  GPU/Debugger/GECommandTable.h
  GPU/GPU.vcxproj
  GPU/GPU.vcxproj.filters
  GPU/GPUState.h
  UWP/GPU_UWP/GPU_UWP.vcxproj
  UWP/GPU_UWP/GPU_UWP.vcxproj.filters
  Windows/GEDebugger/CtrlDisplayListView.cpp
  Windows/GEDebugger/CtrlDisplayListView.h
  Windows/GEDebugger/GEDebugger.cpp
  Windows/GEDebugger/TabState.cpp
  Windows/GEDebugger/TabState.h
  Windows/GEDebugger/TabVertices.cpp
  Windows/GEDebugger/TabVertices.h
  Windows/ppsspp.rc
  Windows/resource.h
  android/jni/Android.mk
  libretro/Makefile.common
Labels: Debugger

#15978 Correct some of immediate vertex handling
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/VertexDecoderCommon.h
  GPU/Debugger/Debugger.cpp
  GPU/Debugger/GECommandTable.cpp
  GPU/Debugger/GECommandTable.h
  GPU/GPUCommon.cpp
  GPU/GPUCommon.h
  GPU/GeDisasm.cpp
  GPU/Software/BinManager.cpp
  GPU/Software/BinManager.h
  GPU/Software/Clipper.cpp
  GPU/Software/FuncId.cpp
  GPU/Software/FuncId.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/SoftGpu.cpp
  GPU/Software/TransformUnit.cpp
  GPU/ge_constants.h
  Windows/GEDebugger/TabState.cpp
Labels: Software Rasterizer

#15980 Build: Add additional zstd file for libretro
  GPU/Common/TextureCacheCommon.cpp
  libretro/Makefile.common
Labels: Libretro

#15985 Build: Another attempt to fix libretro
  libretro/Makefile.common
Labels: Libretro

#16001 softgpu: Check depth test early on simple stencil
  GPU/Software/DrawPixel.cpp
  GPU/Software/DrawPixel.h
  GPU/Software/DrawPixelX86.cpp
  GPU/Software/FuncId.cpp
  GPU/Software/FuncId.h
  GPU/Software/Rasterizer.cpp
Labels: Software Rasterizer

#15998 softgpu: Allow almost flat rectangles to go fast
  GPU/GeDisasm.cpp
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/SoftGpu.cpp
Labels: Software Rasterizer

#16002 vertexjit: Use consistent skinInDecode
  GPU/Common/VertexDecoderArm.cpp
  GPU/Common/VertexDecoderArm64.cpp
  GPU/Common/VertexDecoderCommon.cpp
  GPU/Common/VertexDecoderCommon.h
  GPU/Common/VertexDecoderX86.cpp
Labels: Code Cleanup

#15999 softgpu: Clamp/wrap textures at 512 pixels
  GPU/Software/Rasterizer.cpp
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/Sampler.cpp
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#16003 CLUT download: Replace the backwards block transfer check with a new compat flag
  Core/Compatibility.cpp
  Core/Compatibility.h
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/TextureCacheCommon.cpp
  assets/compat.ini
Labels: GE emulation

#16005 softgpu: Correct accuracy of fog calculation
  GPU/Math3D.h
  GPU/Software/DrawPixel.cpp
  GPU/Software/DrawPixel.h
  GPU/Software/DrawPixelX86.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/TransformUnit.cpp
  GPU/Software/TransformUnit.h
Labels: Software Rasterizer

#16004 Implement shader depal for D3D11, texture match refactorings
  Common/GPU/ShaderWriter.cpp
  Common/GPU/ShaderWriter.h
  GPU/Common/FragmentShaderGenerator.cpp
  GPU/Common/FramebufferManagerCommon.h
  GPU/Common/ShaderId.cpp
  GPU/Common/ShaderId.h
  GPU/Common/TextureCacheCommon.cpp
  GPU/D3D11/D3D11Util.cpp
  GPU/D3D11/TextureCacheD3D11.cpp
  GPU/GLES/ShaderManagerGLES.cpp
  GPU/GLES/TextureCacheGLES.cpp
  GPU/GPU.h
  GPU/GPUState.h
  GPU/Vulkan/ShaderManagerVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  unittest/TestShaderGenerators.cpp
Labels: GE emulation

#16000 Cleanup some crashes in GE debugger or with large textures
  Common/GPU/Vulkan/VulkanImage.cpp
  GPU/Common/TextureCacheCommon.cpp
  GPU/D3D11/TextureCacheD3D11.cpp
  GPU/Debugger/Breakpoints.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  Windows/GEDebugger/TabState.cpp
Labels: Debugger

#16007 GE Debugger: Add fields to register expressions
  GPU/Common/GPUDebugInterface.cpp
  GPU/Debugger/Breakpoints.cpp
  GPU/Debugger/GECommandTable.cpp
  GPU/Debugger/GECommandTable.h
Labels: Debugger

#16009 softgpu: Store vertex colors as packed RGBA8
  GPU/Software/BinManager.cpp
  GPU/Software/BinManager.h
  GPU/Software/FuncId.cpp
  GPU/Software/Lighting.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/TransformUnit.cpp
  GPU/Software/TransformUnit.h
Labels: Software Rasterizer

#16011 Detect more triangles as rectangles in softgpu
  GPU/Software/FuncId.cpp
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/RasterizerRectangle.h
  GPU/Software/TransformUnit.cpp
  GPU/Software/TransformUnit.h
Labels: Software Rasterizer

#16013 Some render debug utils, fix shader blending when off
  GPU/Common/GPUStateUtils.cpp
  GPU/Common/GPUStateUtils.h
  GPU/Vulkan/ShaderManagerVulkan.cpp
Labels: GE emulation

#16021 Reduce the size of state and vertex data in softgpu
  Common/Data/Collections/TinySet.h
  Common/GPU/OpenGL/thin3d_gl.cpp
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  GPU/Math3D.h
  GPU/Software/BinManager.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/Sampler.cpp
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
  GPU/Software/TransformUnit.h
  GPU/ge_constants.h
  UI/MiscScreens.cpp
  unittest/TestSoftwareGPUJit.cpp
Labels: Software Rasterizer

#16023 Small refactorings around clut and framebuffers
  GPU/Common/DepalettizeShaderCommon.cpp
  GPU/Common/FragmentShaderGenerator.cpp
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/FramebufferManagerCommon.h
  GPU/Common/TextureShaderCommon.cpp
Labels: Code Cleanup

#16025 Change the parameters to DecodeTextureLevel from multiple bools to a flags enum.
  GPU/Common/TextureCacheCommon.cpp
  GPU/Common/TextureCacheCommon.h
  GPU/D3D11/TextureCacheD3D11.cpp
  GPU/Directx9/TextureCacheDX9.cpp
  GPU/GLES/TextureCacheGLES.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
Labels: Code Cleanup

#16027 Fix const pointer conversion error for RISC-V
  Common/RiscVEmitter.cpp
Labels: RISC-V

#16014 Texture depal using CLUT loaded from framebuffers, and more. Fixes Burnout Dominator lens flare
  Common/GPU/D3D11/thin3d_d3d11.cpp
  Common/GPU/D3D9/thin3d_d3d9.cpp
  Common/GPU/DataFormat.h
  Common/GPU/OpenGL/DataFormatGL.cpp
  Common/GPU/OpenGL/DataFormatGL.h
  Common/GPU/OpenGL/GLQueueRunner.cpp
  Common/GPU/OpenGL/thin3d_gl.cpp
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  Common/GPU/thin3d.cpp
  Common/GPU/thin3d.h
  Core/Compatibility.cpp
  Core/Compatibility.h
  GPU/Common/DepalettizeShaderCommon.cpp
  GPU/Common/FragmentShaderGenerator.cpp
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/FramebufferManagerCommon.h
  GPU/Common/ShaderId.cpp
  GPU/Common/ShaderUniforms.h
  GPU/Common/TextureCacheCommon.cpp
  GPU/Common/TextureCacheCommon.h
  GPU/Common/TextureShaderCommon.cpp
  GPU/D3D11/TextureCacheD3D11.cpp
  GPU/D3D11/TextureCacheD3D11.h
  GPU/Directx9/TextureCacheDX9.cpp
  GPU/Directx9/TextureCacheDX9.h
  GPU/GLES/TextureCacheGLES.cpp
  GPU/GLES/TextureCacheGLES.h
  GPU/Vulkan/TextureCacheVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.h
  GPU/Vulkan/VulkanUtil.h
  GPU/ge_constants.h
  assets/compat.ini
Labels: GE emulation

#16031 Tag all the UI screens with names, improve logging of scissor errors
  Common/UI/Context.cpp
  Common/UI/Context.h
  Common/UI/Screen.h
  Common/UI/UIScreen.cpp
  Common/UI/UIScreen.h
  UI/ComboKeyMappingScreen.cpp
  UI/ComboKeyMappingScreen.h
  UI/ControlMappingScreen.h
  UI/CwCheatScreen.h
  UI/DevScreens.cpp
  UI/DevScreens.h
  UI/DisplayLayoutScreen.h
  UI/EmuScreen.cpp
  UI/EmuScreen.h
  UI/GPUDriverTestScreen.h
  UI/GameScreen.cpp
  UI/GameScreen.h
  UI/GameSettingsScreen.h
  UI/InstallZipScreen.h
  UI/MainScreen.h
  UI/MemStickScreen.h
  UI/MiscScreens.h
  UI/PauseScreen.cpp
  UI/PauseScreen.h
  UI/RemoteISOScreen.h
  UI/ReportScreen.h
  UI/SavedataScreen.cpp
  UI/SavedataScreen.h
  UI/Store.h
  UI/TiltAnalogSettingsScreen.h
  UI/TouchControlLayoutScreen.h
  UI/TouchControlVisibilityScreen.h
Labels: User Interface

#16032 Fix the water in Outrun when no logic ops
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  GPU/Common/GPUStateUtils.cpp
  GPU/Common/TextureCacheCommon.cpp
  assets/compat.ini
Labels: GE emulation

#15944 Shader blending in Vulkan through input attachments
  Common/GPU/Vulkan/VulkanBarrier.cpp
  Common/GPU/Vulkan/VulkanBarrier.h
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanDebug.cpp
  Common/GPU/Vulkan/VulkanLoader.h
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  Common/GPU/thin3d.cpp
  Common/GPU/thin3d.h
  Common/UI/UIScreen.h
  GPU/Common/DrawEngineCommon.cpp
  GPU/Common/DrawEngineCommon.h
  GPU/Common/FragmentShaderGenerator.cpp
  GPU/Common/FragmentShaderGenerator.h
  GPU/Common/TextureCacheCommon.cpp
  GPU/D3D11/StateMappingD3D11.cpp
  GPU/Directx9/DrawEngineDX9.h
  GPU/Directx9/StateMappingDX9.cpp
  GPU/GLES/StateMappingGLES.cpp
  GPU/GPUState.h
  GPU/Vulkan/DrawEngineVulkan.cpp
  GPU/Vulkan/DrawEngineVulkan.h
  GPU/Vulkan/FramebufferManagerVulkan.h
  GPU/Vulkan/GPU_Vulkan.cpp
  GPU/Vulkan/PipelineManagerVulkan.cpp
  GPU/Vulkan/PipelineManagerVulkan.h
  GPU/Vulkan/StateMappingVulkan.cpp
  UI/InstallZipScreen.h
Labels: Vulkan, GE emulation

#16035 Vulkan: "Acquire" the image from the swapchain as late as possible in the frame
  CMakeLists.txt
  Common/Common.vcxproj
  Common/Common.vcxproj.filters
  Common/GPU/OpenGL/GLRenderManager.cpp
  Common/GPU/Vulkan/VulkanFrameData.cpp
  Common/GPU/Vulkan/VulkanFrameData.h
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  Common/GPU/thin3d_create.h
  Core/Config.cpp
  Core/Config.h
  SDL/SDLVulkanGraphicsContext.cpp
  Windows/GPU/WindowsVulkanContext.cpp
  android/jni/Android.mk
  android/jni/AndroidVulkanContext.cpp
  libretro/LibretroVulkanContext.cpp
  libretro/Makefile.common
Labels: Vulkan, Code Cleanup

#16039 softgpu: Run early Z tests in fast rect path
  GPU/Software/RasterizerRectangle.cpp
Labels: Software Rasterizer

#16043 Consider the Adreno and Mali stencil-discard bugs the same.
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  Common/GPU/thin3d.cpp
  Common/GPU/thin3d.h
  GPU/Common/ShaderId.cpp
  assets/compat.ini
Labels: Adreno GPU, Mali GPU, GE emulation

#16042 softgpu: Refactor imm prim handling to support fog/color1
  GPU/Common/DrawEngineCommon.cpp
  GPU/Common/DrawEngineCommon.h
  GPU/GPUCommon.cpp
  GPU/GPUCommon.h
  GPU/GPUInterface.h
  GPU/Software/BinManager.cpp
  GPU/Software/Clipper.cpp
  GPU/Software/FuncId.cpp
  GPU/Software/FuncId.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/SoftGpu.cpp
  GPU/Software/SoftGpu.h
  GPU/Software/TransformUnit.cpp
  GPU/Software/TransformUnit.h
Labels: Software Rasterizer

#16048 softgpu: Correct line early z checks
  GPU/Software/Rasterizer.cpp
Labels: Software Rasterizer

#16050 Fix the UI setting "Buffer graphics commands". Was off by 1.
  UI/GameSettingsScreen.cpp
Labels: User Interface

#16047 GE Debugger: Allow search by state name
  GPU/Debugger/Debugger.cpp
  Windows/W32Util/Misc.cpp
  Windows/W32Util/Misc.h
Labels: Debugger

#16049 GPU: Clip depth properly when also clamping
  Common/GPU/OpenGL/GLQueueRunner.cpp
  Common/GPU/OpenGL/GLRenderManager.h
  Common/GPU/OpenGL/thin3d_gl.cpp
  GPU/Common/VertexShaderGenerator.cpp
  GPU/GLES/DepthBufferGLES.cpp
  GPU/GLES/ShaderManagerGLES.cpp
Labels: Vulkan, D3D11, OpenGL

#16053 GE Debugger: Save current clut in frame dumps
  GPU/Debugger/Record.cpp
  Windows/main.cpp
Labels: Debugger

#16055 Vulkan render manager cleanup
  Common/GPU/Vulkan/VulkanFrameData.cpp
  Common/GPU/Vulkan/VulkanFrameData.h
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
Labels: Vulkan, Code Cleanup

#16056 GE Debugger: Include rendered CLUTs in frame dumps
  GPU/Common/TextureCacheCommon.cpp
  GPU/Debugger/Playback.cpp
  GPU/Debugger/Record.cpp
  GPU/Debugger/RecordFormat.h
Labels: Debugger

#16059 Unify many GPU feature flags
  Common/GPU/D3D11/thin3d_d3d11.cpp
  Common/GPU/D3D9/thin3d_d3d9.cpp
  Common/GPU/OpenGL/thin3d_gl.cpp
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  Common/GPU/thin3d.h
  GPU/D3D11/GPU_D3D11.cpp
  GPU/D3D11/GPU_D3D11.h
  GPU/Directx9/GPU_DX9.cpp
  GPU/Directx9/GPU_DX9.h
  GPU/GLES/GPU_GLES.cpp
  GPU/GLES/GPU_GLES.h
  GPU/GPUCommon.cpp
  GPU/GPUCommon.h
  GPU/Software/SoftGpu.h
  GPU/Vulkan/GPU_Vulkan.cpp
  GPU/Vulkan/GPU_Vulkan.h
Labels: Code Cleanup

#16058 Allow allocating against volatile memory
  Core/HLE/sceKernelMemory.cpp
Labels: HLE/Kernel

#16052 HLE: sceKernelAllocPartitionMemory volatile memory support (partition 5)
  Core/HLE/sceKernelMemory.cpp
Labels: HLE/Kernel

#16061 Vulkan: Submit main command buffer before acquiring the swapchain image
  Common/GPU/Vulkan/VulkanFrameData.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  GPU/Common/GPUStateUtils.cpp
  GPU/Common/StencilCommon.cpp
  GPU/Common/TextureCacheCommon.cpp
  GPU/Software/Rasterizer.cpp
  UI/DevScreens.h
Labels: Vulkan

#16065 Correct some minor issues shown in a few tests
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/FramebufferManagerCommon.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/SoftGpu.cpp
  GPU/Software/SoftGpu.h
  headless/StubHost.cpp
  test.py
Labels: Software Rasterizer

#16068 GPU: Clip clamped depth accounting for perspective
  GPU/Common/VertexShaderGenerator.cpp
Labels: Vulkan, D3D11, OpenGL

#16067 GPU: Account for w properly in lines, fixing width
  GPU/Common/SoftwareTransformCommon.cpp
Labels: GE emulation

#16066 softgpu: Narrow blend check for fast path further
  GPU/Software/RasterizerRectangle.cpp
Labels: Software Rasterizer

#16070 Kernel: Match index lookup behavior for tls
  Core/HLE/sceKernelMemory.cpp
Labels: HLE/Kernel

#16073 CLUTs can be loaded from small rectangular textures. Need to linearize.
  GPU/Common/Draw2D.cpp
  GPU/Common/Draw2D.h
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/FramebufferManagerCommon.h
  GPU/Common/TextureCacheCommon.cpp
Labels: GE emulation

#16076 Don't try to replace or scale CLUT8-on-GPU textures.
  GPU/Common/TextureCacheCommon.cpp
Labels: GE emulation

#16078 GLES: Avoid resizing tessellation data textures
  GPU/GLES/DrawEngineGLES.cpp
Labels: OpenGL

#16079 Minor cleanups around dirtying of render state
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/ShaderCommon.h
  GPU/Common/StencilCommon.cpp
  GPU/Common/TextureCacheCommon.cpp
  GPU/GPUState.h
Labels: Code Cleanup

#16080 softgpu: Avoid unnecessary flushing for curves
  GPU/Common/DrawEngineCommon.h
  GPU/Common/SplineCommon.cpp
  GPU/GPUCommon.cpp
  GPU/Software/TransformUnit.cpp
Labels: Software Rasterizer

#16081 Fix green flashes with Burnout Dominator lens flare
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/TextureCacheCommon.cpp
Labels: GE emulation

#16072 Vulkan: Don't have renderpasses store/load depth buffers when we don't use them
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  GPU/Vulkan/PipelineManagerVulkan.cpp
  GPU/Vulkan/PipelineManagerVulkan.h
Labels: Vulkan

#16084 Fix Ridge Racer lens flares - ignore stride if texHeight == 1, when matching tex/fb
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/TextureCacheCommon.cpp
Labels: GE emulation

#16086 softgpu: Fix self-render detect in Ridge Racer
  GPU/Software/BinManager.cpp
  GPU/Software/BinManager.h
  GPU/Software/SoftGpu.h
Labels: Software Rasterizer

#16088 Assorted cleanup work (leaks, Vulkan)
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  Core/ELF/ElfReader.cpp
  Core/HLE/scePsmf.cpp
  GPU/Common/TextureCacheCommon.cpp
  GPU/Vulkan/DrawEngineVulkan.cpp
  GPU/Vulkan/DrawEngineVulkan.h
Labels: Code Cleanup

#16085 softgpu: Cache reused indexed verts
  GPU/Software/BinManager.cpp
  GPU/Software/BinManager.h
  GPU/Software/TransformUnit.cpp
  GPU/Software/TransformUnit.h
Labels: Software Rasterizer

#16090 Simplify synchronization in VulkanRenderManager
  Common/GPU/Vulkan/VulkanFrameData.cpp
  Common/GPU/Vulkan/VulkanFrameData.h
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/Thread/Promise.h
  GPU/Vulkan/StateMappingVulkan.cpp
Labels: Vulkan, Code Cleanup

#16093 GE Debugger: Fix small tex/clut recopying
  GPU/Debugger/Playback.cpp
  GPU/Debugger/Record.cpp
Labels: Debugger

#16092 Vulkan: Avoid crash on two backbuffer steps
  Common/GPU/Vulkan/VulkanFrameData.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Core/HLE/HLE.cpp
Labels: Debugger

#16094 softgpu: Optimize rectangle sampling/blending used in bloom
  GPU/Common/TextureCacheCommon.cpp
  GPU/D3D11/TextureCacheD3D11.cpp
  GPU/D3D11/TextureCacheD3D11.h
  GPU/Directx9/TextureCacheDX9.cpp
  GPU/Directx9/TextureCacheDX9.h
  GPU/Software/DrawPixel.cpp
  GPU/Software/DrawPixel.h
  GPU/Software/DrawPixelX86.cpp
  GPU/Software/FuncId.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.h
Labels: Software Rasterizer

#16096 GE Debugger: Add option to track pixel in preview
  Core/Screenshot.cpp
  Core/Screenshot.h
  Windows/GEDebugger/GEDebugger.cpp
  Windows/GEDebugger/GEDebugger.h
  Windows/GEDebugger/SimpleGLWindow.cpp
  Windows/GEDebugger/SimpleGLWindow.h
  Windows/W32Util/Misc.cpp
  Windows/W32Util/Misc.h
  Windows/ppsspp.rc
  Windows/resource.h
Labels: Debugger

#16098 Vulkan: Don't compile shader variants for incompatible render pass types
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  GPU/Vulkan/PipelineManagerVulkan.cpp
  GPU/Vulkan/ShaderManagerVulkan.cpp
Labels: Vulkan

#16101 softgpu: Avoid fast path in another wrong case
  GPU/Software/DrawPixel.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/TransformUnit.cpp
Labels: Software Rasterizer

#16102 softgpu: Avoid waiting for a thread to drain
  GPU/Software/BinManager.cpp
  GPU/Software/BinManager.h
Labels: Software Rasterizer

#16099 Vulkan: Avoid allocating depth images for stuff like temp copies, depal buffers etc.
  Common/GPU/Vulkan/VulkanBarrier.h
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  GPU/Common/TextureCacheCommon.cpp
Labels: Vulkan

#16100 D3D9: Allow INTZ depth buffers more correctly
  Common/GPU/D3D9/thin3d_d3d9.cpp
  GPU/Directx9/FramebufferManagerDX9.cpp
Labels: Debugger

#16108 Vulkan: Fix bug setting up pretransitions for both color and depth of the same framebuffer
  Common/Data/Collections/TinySet.h
  Common/GPU/Vulkan/VulkanFrameData.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
Labels: Vulkan

#16104 Generate "Ubershaders" that can handle all lighting configurations
  GPU/Common/ShaderCommon.h
  GPU/Common/ShaderId.cpp
  GPU/Common/ShaderId.h
  GPU/Common/ShaderUniforms.cpp
  GPU/Common/ShaderUniforms.h
  GPU/Common/VertexShaderGenerator.cpp
  GPU/GLES/ShaderManagerGLES.cpp
  GPU/GLES/ShaderManagerGLES.h
  GPU/GPUCommon.cpp
  GPU/GPUCommon.h
  GPU/GPUState.h
Labels: GE emulation

#16111 Always do the vertex shader part of the fog computation.
  GPU/Common/ShaderId.cpp
  GPU/Common/ShaderId.h
  GPU/Common/ShaderUniforms.h
  GPU/Common/VertexShaderGenerator.cpp
  GPU/GLES/ShaderManagerGLES.cpp
  GPU/GPUCommon.cpp
  GPU/Vulkan/PipelineManagerVulkan.cpp
  GPU/Vulkan/ShaderManagerVulkan.cpp
Labels: GE emulation

#16112 Fold the "materialUpdate" flag into the light-ubershader
  Common/GPU/Vulkan/VulkanDebug.cpp
  GPU/Common/FragmentShaderGenerator.cpp
  GPU/Common/ShaderId.cpp
  GPU/Common/ShaderUniforms.cpp
  GPU/Common/VertexShaderGenerator.cpp
  GPU/GPUCommon.cpp
  GPU/Vulkan/ShaderManagerVulkan.cpp
  Windows/GEDebugger/TabState.cpp
Labels: GE emulation

#16114 Mpeg: Correct Au update size
  Core/HLE/sceMpeg.cpp
Labels: PSMF / MPEG

#16103 Shrink our main uniform buffer by 32 bytes
  GPU/Common/FragmentShaderGenerator.cpp
  GPU/Common/ShaderUniforms.cpp
  GPU/Common/ShaderUniforms.h
  GPU/GLES/ShaderManagerGLES.cpp
Labels: Vulkan

#16115 Add compatibility flag for loading pixels on framebuffer create using nearest filtering
  Core/Compatibility.cpp
  Core/Compatibility.h
  GPU/Common/FramebufferManagerCommon.cpp
  assets/compat.ini
Labels: GE emulation

#16116 Fix color test.
  Common/GPU/Vulkan/VulkanFrameData.h
  GPU/Common/FragmentShaderGenerator.cpp
Labels: GE emulation

#16117 Correct texture projection issues, mainly in softgpu
  GPU/Common/SoftwareTransformCommon.cpp
  GPU/Common/VertexShaderGenerator.cpp
  GPU/Software/Clipper.cpp
  GPU/Software/Clipper.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/RasterizerRectangle.h
  GPU/Software/SoftGpu.cpp
  GPU/Software/TransformUnit.cpp
  GPU/Software/TransformUnit.h
Labels: Software Rasterizer

#16120 Vulkan: Better debug names for RENDER passes.
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  GPU/Common/FramebufferManagerCommon.cpp
Labels: Vulkan

#16122 GLES: Fix colortest/logicop uint/int conversion
  Common/GPU/OpenGL/GLQueueRunner.cpp
  GPU/Common/FragmentShaderGenerator.cpp
Labels: OpenGL

#16121 Debugger: Add API to scan memory for funcs
  Core/Debugger/WebSocket/DisasmSubscriber.cpp
  Core/Debugger/WebSocket/HLESubscriber.cpp
  Core/Debugger/WebSocket/HLESubscriber.h
Labels: Debugger

#16127 Fixes for Silent Hill: Origins (depth buffer reassignment, eliminate readback)
  Common/GPU/Vulkan/VulkanProfiler.cpp
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  Common/GPU/thin3d.h
  GPU/Common/FramebufferManagerCommon.cpp
  assets/compat.ini
Labels: GE emulation

#16130 Add hidden ini file setting that you can use to hide the menu bar on Windows
  Core/Config.cpp
  Core/Config.h
  Windows/MainWindow.cpp
Labels: Platform-specific (Windows), User Interface

#16132 softjit: Fix dst blend shift
  GPU/GPUCommon.cpp
  GPU/GPUState.cpp
  GPU/Software/DrawPixelX86.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Software/SoftGpu.cpp
  GPU/Software/SoftGpu.h
Labels: Software Rasterizer, GE emulation

#16133 GE Debugger: Correct rounded coords in vertex list
  GPU/Software/TransformUnit.cpp
Labels: Software Rasterizer, Debugger
