Repository hrydgard/ppsspp, pull requests merged in 2022-02, with the labels that each got.

#15370 GPUCommon: Remove misleading flag FLUSHBEFORE.
  GPU/GPUCommon.cpp
  GPU/GPUCommon.h
Labels: GE emulation

#15371 softgpu: Avoid flush on END
  GPU/GPUCommon.cpp
  GPU/GPUCommon.h
  GPU/Software/SoftGpu.cpp
Labels: Software Rasterizer

#15372 Optimize jits with a bit of BMI2
  Common/CPUDetect.cpp
  Common/CPUDetect.h
  Common/x64Emitter.cpp
  Core/MIPS/x86/CompALU.cpp
  GPU/Software/DrawPixelX86.cpp
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15375 Precalculate offsets for linear DXT in software renderer
  GPU/Software/FuncId.cpp
  GPU/Software/RasterizerRegCache.h
  GPU/Software/Sampler.h
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15376 Improve GE debugger playback, changes, and breakpoint display
  GPU/Debugger/Playback.cpp
  GPU/GPUCommon.cpp
  Windows/BreakpointSmall.ico
  Windows/GEDebugger/TabState.cpp
  Windows/GEDebugger/TabVertices.cpp
  Windows/GEDebugger/TabVertices.h
  Windows/InputBox.cpp
  Windows/PPSSPP.vcxproj
  Windows/PPSSPP.vcxproj.filters
  Windows/W32Util/ContextMenu.h
  Windows/W32Util/Misc.cpp
  Windows/W32Util/Misc.h
  Windows/ppsspp.rc
  Windows/resource.h
Labels: Debugger

#15377 Debugger: Avoid mem write tag lookup on small alloc
  Core/Debugger/Breakpoints.cpp
  Core/Debugger/MemBlockInfo.cpp
  Core/Debugger/MemBlockInfo.h
  Core/HLE/ReplaceTables.cpp
  Core/HLE/sceDeflt.cpp
  Core/HLE/sceDmac.cpp
  Core/HLE/sceKernelInterrupt.cpp
  Core/MemMapHelpers.h
  GPU/GPUCommon.cpp
  GPU/Software/SoftGpu.cpp
Labels: Debugger

#15379 Android: Correct truncation behavior
  Core/FileSystems/DirectoryFileSystem.cpp
Labels: Platform-specific (Android)

#15382 Vulkan: Avoid crash on double DeviceLost
  GPU/Vulkan/DrawEngineVulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
  UI/NativeApp.cpp
Labels: Platform-specific (Android), Vulkan

#15378 GE Debugger: Add filter to skip prim calls
  GPU/Debugger/Debugger.cpp
  GPU/Debugger/Debugger.h
  GPU/GPUCommon.cpp
  Windows/GEDebugger/GEDebugger.cpp
  Windows/ppsspp.rc
  Windows/resource.h
Labels: Debugger

#15384 Reduce GE Debugger overhead a bit
  GPU/Debugger/Breakpoints.cpp
  GPU/Debugger/Breakpoints.h
  GPU/Debugger/Debugger.cpp
  GPU/Debugger/Playback.cpp
Labels: Debugger

#15388 GE Debugger: Correct icon list cleanup on shutdown
  Windows/W32Util/Misc.cpp
Labels: Debugger

#15393 GE Debugger: Avoid crash on Step Draw with flush
  GPU/Debugger/Debugger.cpp
Labels: Software Rasterizer

#15392 Make debugger memory search more consistent
  Windows/Debugger/CtrlMemView.cpp
  Windows/Debugger/CtrlMemView.h
  Windows/Debugger/Debugger_MemoryDlg.cpp
  Windows/ppsspp.rc
Labels: Debugger

#15400 softgpu: Track dirty vs really dirty per buffer
  GPU/Software/SoftGpu.cpp
  GPU/Software/SoftGpu.h
Labels: Software Rasterizer

#15399 Convert more verts to rects, fix strip/fan skew on clip
  GPU/Software/Clipper.cpp
  GPU/Software/Clipper.h
  GPU/Software/Rasterizer.cpp
  GPU/Software/RasterizerRectangle.cpp
  GPU/Software/RasterizerRectangle.h
  GPU/Software/TransformUnit.cpp
Labels: Software Rasterizer

#15401 Debugger: Avoid scroll on breakpoint add
  Windows/Debugger/CtrlDisAsmView.cpp
  Windows/Debugger/CtrlDisAsmView.h
  Windows/Debugger/Debugger_Disasm.cpp
  Windows/Debugger/Debugger_Disasm.h
  Windows/GEDebugger/TabDisplayLists.cpp
  Windows/MainWindowMenu.cpp
Labels: Debugger

#15402 GE Debugger: Highlight changed state values
  GPU/Debugger/Stepping.cpp
  GPU/Debugger/Stepping.h
  Windows/Debugger/Debugger_Disasm.cpp
  Windows/GEDebugger/TabDisplayLists.cpp
  Windows/GEDebugger/TabState.cpp
  Windows/GEDebugger/TabState.h
  Windows/GEDebugger/TabVertices.cpp
  Windows/GEDebugger/TabVertices.h
  Windows/W32Util/Misc.cpp
  Windows/W32Util/Misc.h
Labels: Debugger

#15405 Fix some samplerjit issues without SSE4 or AVX
  Common/x64Emitter.cpp
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15394 Allow custom UI themes
  CMakeLists.txt
  Common/UI/UIScreen.cpp
  Common/UI/View.cpp
  Common/UI/View.h
  Common/UI/ViewGroup.cpp
  Common/UI/ViewGroup.h
  Core/Config.cpp
  Core/Config.h
  Core/System.cpp
  Core/System.h
  UI/ComboKeyMappingScreen.cpp
  UI/ControlMappingScreen.cpp
  UI/GameSettingsScreen.cpp
  UI/MainScreen.cpp
  UI/MiscScreens.cpp
  UI/NativeApp.cpp
  UI/Theme.cpp
  UI/Theme.h
  UI/UI.vcxproj
  UWP/UI_UWP/UI_UWP.vcxproj
  android/ab.cmd
  android/ab.sh
  android/jni/Android.mk
  assets/lang/en_US.ini
  assets/themes/defaultthemes.ini
  ppsspp.iss
Labels: User Interface

#15396 Add UI Tint/Saturation settings
  Common/GPU/Shader.h
  Common/GPU/thin3d.cpp
  Common/GPU/thin3d.h
  Common/Render/DrawBuffer.cpp
  Common/Render/DrawBuffer.h
  Common/UI/Context.cpp
  Common/UI/UIScreen.cpp
  Common/UI/UIScreen.h
  Common/UI/View.cpp
  Core/Config.cpp
  Core/Config.h
  UI/GameSettingsScreen.cpp
  UI/MiscScreens.cpp
  assets/ui_atlas.meta
  assets/ui_atlas.zim
  source_assets/image/background.png
  source_assets/image/background2.png
Labels: User Interface

#15389 Draw rectangles always using a specialized path in softgpu
  GPU/Software/BinManager.cpp
  GPU/Software/BinManager.h
  GPU/Software/Clipper.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/SamplerX86.cpp
Labels: Software Rasterizer

#15409 Upgrade to Vulkan 1.3 headers (and remove the .hpp files)
  ext/vulkan/vk_enum_string_helper.h
  ext/vulkan/vk_platform.h
  ext/vulkan/vulkan.h
  ext/vulkan/vulkan.hpp
  ext/vulkan/vulkan_android.h
  ext/vulkan/vulkan_beta.h
  ext/vulkan/vulkan_core.h
  ext/vulkan/vulkan_directfb.h
  ext/vulkan/vulkan_enums.hpp
  ext/vulkan/vulkan_fuchsia.h
  ext/vulkan/vulkan_funcs.hpp
  ext/vulkan/vulkan_ggp.h
  ext/vulkan/vulkan_handles.hpp
  ext/vulkan/vulkan_ios.h
  ext/vulkan/vulkan_macos.h
  ext/vulkan/vulkan_metal.h
  ext/vulkan/vulkan_profiles.h
  ext/vulkan/vulkan_raii.hpp
  ext/vulkan/vulkan_screen.h
  ext/vulkan/vulkan_structs.hpp
  ext/vulkan/vulkan_vi.h
  ext/vulkan/vulkan_wayland.h
  ext/vulkan/vulkan_win32.h
  ext/vulkan/vulkan_xcb.h
  ext/vulkan/vulkan_xlib.h
  ext/vulkan/vulkan_xlib_xrandr.h
Labels: Vulkan

#15411 softgpu: Apply region x2/y2 as a scissor
  GPU/Software/BinManager.cpp
  GPU/Software/Rasterizer.cpp
  GPU/Software/Rasterizer.h
  GPU/Software/SoftGpu.cpp
Labels: Software Rasterizer

#15412 Debugger: Track unchanged VRAM to avoid copy
  GPU/Debugger/Playback.cpp
  GPU/Debugger/Record.cpp
  GPU/Debugger/Record.h
  GPU/GPUCommon.cpp
Labels: Software Rasterizer

#15414 GLES: Use EXT not GLES3 for dualsrc blend support
  Common/GPU/OpenGL/GLQueueRunner.cpp
Labels: OpenGL

#15415 GLES: Add asserts for correct blend usage
  Common/GPU/OpenGL/GLFeatures.cpp
  Common/GPU/OpenGL/GLQueueRunner.cpp
Labels: OpenGL

#15416 GLES: Remove old invalidation code
  Common/GPU/OpenGL/GLQueueRunner.cpp
  Common/GPU/OpenGL/GLRenderManager.h
Labels: OpenGL, Code Cleanup

#15418 Show game crashed title
  UI/EmuScreen.cpp
Labels: User Interface
