Repository hrydgard/ppsspp, pull requests merged in 2023-05, with the labels that each got.

#17379 Tex replacement: Support BC1,2,3 formats also if packed in a DX10-style DDS.
  GPU/Common/ReplacedTexture.cpp
Labels: Texture replacement

#17382 Avoid double texture cache load.
  GPU/Common/TextureCacheCommon.cpp
  GPU/Common/TextureReplacer.cpp
  GPU/Common/TextureReplacer.h
Labels: Texture replacement

#17380 Pre-scan the root of texture packs for hash-named files.
  CMakeLists.txt
  Common/File/VFS/VFS.h
  Common/File/VFS/ZipFileReader.cpp
  Common/File/VFS/ZipFileReader.h
  Common/StringUtils.h
  GPU/Common/TextureReplacer.cpp
  GPU/Common/TextureReplacer.h
  android/jni/Android.mk
  source_assets/ziptest.zip
  unittest/TestVFS.cpp
  unittest/UnitTest.cpp
  unittest/UnitTests.vcxproj
  unittest/UnitTests.vcxproj.filters
Labels: Texture replacement

#17393 Prevent tilt-controlled left/right dpad butons from getting stuck
  Core/TiltEventProcessor.cpp
Labels: Input/Controller

#17391 Better (but not great) workaround for key bindings that pop up dialogs.
  Common/Input/InputState.h
  Core/ControlMapper.cpp
  Core/ControlMapper.h
  UI/EmuScreen.cpp
  UI/MiscScreens.cpp
Labels: Input/Controller

#17394 Bump the index/vertex cpu-side buffer sizes a little.
  GPU/Common/DrawEngineCommon.h
  GPU/Common/SplineCommon.cpp
  GPU/Common/SplineCommon.h
Labels: GE emulation

#17396 Vulkan: Turn off the ubershader on Mali T880, T860 and T830 on old driver versions
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  Common/GPU/thin3d.h
  GPU/Vulkan/GPU_Vulkan.cpp
Labels: Vulkan, Mali GPU

#17398 OpenXR - Cleanup unsupported features, support Android 12
  UI/GameSettingsScreen.cpp
  android/build.gradle
  android/jni/app-android.cpp
Labels: User Interface, VR

#17407 Qt: Buildfix with SDL disabled
  Qt/QtMain.cpp
Labels: Qt

#17412 Controller mapping fixes
  Common/VR/PPSSPPVR.cpp
  Core/KeyMap.cpp
  UI/ControlMappingScreen.cpp
Labels: Input/Controller

#17413 Allow usage of system SDL2 on macOS
  CMakeLists.txt
Labels: Platform-specific (Mac OS X)

#17414 GPU: Remove JumpFast/CallFast
  GPU/GPUCommon.cpp
  GPU/GPUCommon.h
  GPU/GPUCommonHW.cpp
Labels: GE emulation

#17420 Fix glitch when mapping analog inputs, caused by multiple TriggerFinish
  Common/UI/UIScreen.cpp
  Common/UI/UIScreen.h
  UI/ControlMappingScreen.cpp
Labels: Input/Controller

#17423 Debugger: Correct PC if replacement breaks
  Core/Debugger/MemBlockInfo.cpp
  Core/MIPS/ARM/ArmJit.cpp
  Core/MIPS/ARM64/Arm64Jit.cpp
  Core/MIPS/x86/Jit.cpp
Labels: Debugger

#17433 Custom button analog fix
  Common/Data/Format/IniFile.cpp
  Core/ControlMapper.cpp
  Core/ControlMapper.h
  UI/CustomButtonMappingScreen.h
  UI/GamepadEmu.cpp
  UI/GamepadEmu.h
Labels: Input/Controller

#17435 ElfLoader: Don't scan for functions in zero-length sections
  Core/HLE/sceKernelModule.cpp
Labels: Loader

#17440 Revert lmode variant reduction
  Core/HLE/sceMpeg.cpp
  GPU/Common/FragmentShaderGenerator.cpp
  GPU/Common/GeometryShaderGenerator.cpp
  GPU/Common/ShaderId.cpp
  GPU/Common/ShaderId.h
  GPU/Common/ShaderUniforms.cpp
  GPU/Common/VertexShaderGenerator.cpp
  GPU/GLES/ShaderManagerGLES.cpp
  GPU/GPUCommonHW.cpp
  GPU/Vulkan/ShaderManagerVulkan.cpp
Labels: GE emulation, Performance

#17446 OpenGL: Combine some render commands
  Common/GPU/OpenGL/GLQueueRunner.cpp
  Common/GPU/OpenGL/GLQueueRunner.h
  Common/GPU/OpenGL/GLRenderManager.h
  Common/GPU/OpenGL/thin3d_gl.cpp
  Common/VR/PPSSPPVR.cpp
  GPU/GLES/DrawEngineGLES.cpp
Labels: OpenGL

#17452 Don't cache render target copies for shader blending, only cache copies for overlap
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/FramebufferManagerCommon.h
  GPU/D3D11/StateMappingD3D11.cpp
  GPU/Directx9/StateMappingDX9.cpp
  GPU/GLES/StateMappingGLES.cpp
  GPU/Vulkan/StateMappingVulkan.cpp
Labels: GE emulation

#17442 Shrink the GLRRenderCommand struct from 152 to 88 bytes
  Common/GPU/OpenGL/GLQueueRunner.cpp
  Common/GPU/OpenGL/GLQueueRunner.h
  Common/GPU/OpenGL/GLRenderManager.cpp
  Common/GPU/OpenGL/GLRenderManager.h
Labels: GE emulation

#17465 AndroidContentURI: Move code from the header to cpp.
  CMakeLists.txt
  Common/Common.vcxproj
  Common/Common.vcxproj.filters
  Common/File/AndroidContentURI.cpp
  Common/File/AndroidContentURI.h
  Common/File/FileUtil.cpp
  Common/File/Path.cpp
  Common/File/Path.h
  Common/File/PathBrowser.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Core/ELF/ParamSFO.cpp
  Core/ELF/ParamSFO.h
  Core/Loaders.cpp
  UI/GameSettingsScreen.cpp
  UWP/CommonUWP/CommonUWP.vcxproj
  UWP/CommonUWP/CommonUWP.vcxproj.filters
  android/jni/Android.mk
  android/jni/AndroidContentURI.h
  android/src/org/ppsspp/ppsspp/NativeActivity.java
  libretro/Makefile.common
  unittest/UnitTest.cpp
Labels: Platform-specific (Android)

#17467 Make the DJ Max workaround more aggressive about hiding stuff.
  Core/FileSystems/DirectoryFileSystem.cpp
Labels: Scoped Storage

#17466 Fix running some file formats from the Downloads folder
  Common/File/AndroidContentURI.cpp
  Common/File/AndroidContentURI.h
  unittest/UnitTest.cpp
Labels: Platform-specific (Android), Scoped Storage

#17473 Revert "Remove the Android display resolution selector"
  Common/System/Request.h
  Common/System/System.h
  Core/Config.cpp
  Core/Config.h
  UI/ControlMappingScreen.cpp
  UI/GameSettingsScreen.cpp
  UI/GameSettingsScreen.h
  UI/NativeApp.cpp
  android/jni/app-android.cpp
  android/src/org/ppsspp/ppsspp/SizeManager.java
Labels: Platform-specific (Android)

#17476 Icon compromise
  android/gold/res/mipmap-hdpi/ic_launcher.png
  android/gold/res/mipmap-hdpi/ic_launcher_round.png
  android/gold/res/mipmap-mdpi/ic_launcher.png
  android/gold/res/mipmap-mdpi/ic_launcher_round.png
  android/gold/res/mipmap-xhdpi/ic_launcher.png
  android/gold/res/mipmap-xhdpi/ic_launcher_round.png
  android/gold/res/mipmap-xxhdpi/ic_launcher.png
  android/gold/res/mipmap-xxhdpi/ic_launcher_round.png
  android/gold/res/mipmap-xxxhdpi/ic_launcher.png
  android/gold/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  android/gold/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/res/drawable-ldpi/ic_launcher.png
  android/res/mipmap-hdpi/ic_launcher.png
  android/res/mipmap-hdpi/ic_launcher_round.png
  android/res/mipmap-mdpi/ic_launcher.png
  android/res/mipmap-mdpi/ic_launcher_round.png
  android/res/mipmap-xhdpi/ic_launcher.png
  android/res/mipmap-xhdpi/ic_launcher_round.png
  android/res/mipmap-xxhdpi/ic_launcher.png
  android/res/mipmap-xxhdpi/ic_launcher_round.png
  android/res/mipmap-xxxhdpi/ic_launcher.png
  android/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  android/res/mipmap-xxxhdpi/ic_launcher_round.png
Labels: Platform-specific (Android)

#17484 Automatically hide home indicator on iPhone X/all devices with home indicator
  ios/ViewController.mm
Labels: Platform-specific (iOS)

#17489 Restore "low end radius" (inverse deadzone) for tilt input
  Core/Config.cpp
  Core/Config.h
  Core/TiltEventProcessor.cpp
  Tools/langtool/Cargo.lock
  UI/TiltAnalogSettingsScreen.cpp
  assets/lang/ar_AE.ini
  assets/lang/az_AZ.ini
  assets/lang/bg_BG.ini
  assets/lang/ca_ES.ini
  assets/lang/cz_CZ.ini
  assets/lang/da_DK.ini
  assets/lang/de_DE.ini
  assets/lang/dr_ID.ini
  assets/lang/en_US.ini
  assets/lang/es_ES.ini
  assets/lang/es_LA.ini
  assets/lang/fa_IR.ini
  assets/lang/fi_FI.ini
  assets/lang/fr_FR.ini
  assets/lang/gl_ES.ini
  assets/lang/gr_EL.ini
  assets/lang/he_IL.ini
  assets/lang/he_IL_invert.ini
  assets/lang/hr_HR.ini
  assets/lang/hu_HU.ini
  assets/lang/id_ID.ini
  assets/lang/it_IT.ini
  assets/lang/ja_JP.ini
  assets/lang/jv_ID.ini
  assets/lang/ko_KR.ini
  assets/lang/lo_LA.ini
  assets/lang/lt-LT.ini
  assets/lang/ms_MY.ini
  assets/lang/nl_NL.ini
  assets/lang/no_NO.ini
  assets/lang/pl_PL.ini
  assets/lang/pt_BR.ini
  assets/lang/pt_PT.ini
  assets/lang/ro_RO.ini
  assets/lang/ru_RU.ini
  assets/lang/sv_SE.ini
  assets/lang/tg_PH.ini
  assets/lang/th_TH.ini
  assets/lang/tr_TR.ini
  assets/lang/uk_UA.ini
  assets/lang/vi_VN.ini
  assets/lang/zh_CN.ini
  assets/lang/zh_TW.ini
Labels: Input/Controller

#17356 Cleanup some more string formats, mostly in debugger
  Common/ArmCPUDetect.cpp
  Common/Math/expression_parser.cpp
  Common/Math/expression_parser.h
  Common/RiscVCPUDetect.cpp
  Core/Config.cpp
  Core/Config.h
  Core/Debugger/DebugInterface.h
  Core/Debugger/DisassemblyManager.cpp
  Core/ELF/ElfReader.cpp
  Core/MIPS/ARM/ArmCompVFPU.cpp
  Core/MIPS/ARM/ArmJit.cpp
  Core/MIPS/ARM/ArmRegCacheFPU.cpp
  Core/MIPS/ARM64/Arm64CompVFPU.cpp
  Core/MIPS/ARM64/Arm64Jit.cpp
  Core/MIPS/ARM64/Arm64RegCacheFPU.cpp
  Core/MIPS/IR/IRFrontend.cpp
  Core/MIPS/IR/IRInst.cpp
  Core/MIPS/IR/IRJit.cpp
  Core/MIPS/JitCommon/JitBlockCache.cpp
  Core/MIPS/MIPSAnalyst.cpp
  Core/MIPS/MIPSDebugInterface.cpp
  Core/MIPS/MIPSDebugInterface.h
  Core/MIPS/MIPSDis.cpp
  Core/MIPS/MIPSDis.h
  Core/MIPS/MIPSDisVFPU.cpp
  Core/MIPS/MIPSDisVFPU.h
  Core/MIPS/MIPSIntVFPU.cpp
  Core/MIPS/MIPSTables.cpp
  Core/MIPS/MIPSTables.h
  Core/MIPS/MIPSVFPUUtils.cpp
  Core/MIPS/MIPSVFPUUtils.h
  Core/MIPS/x86/CompBranch.cpp
  GPU/Common/GPUDebugInterface.cpp
  SDL/SDLMain.cpp
  UI/DevScreens.cpp
  UWP/cpu_features_UWP/cpu_features_UWP.vcxproj
  UWP/cpu_features_UWP/cpu_features_UWP.vcxproj.filters
  Windows/Debugger/CtrlDisAsmView.cpp
  Windows/Debugger/CtrlRegisterList.cpp
  ext/cpu_features.vcxproj
  ext/cpu_features.vcxproj.filters
  libretro/Makefile.common
  unittest/JitHarness.cpp
  unittest/TestArmEmitter.cpp
  unittest/UnitTest.cpp
Labels: Code Cleanup, Debugger

#17357 Add half of game list search
  Common/UI/ViewGroup.cpp
  UI/MainScreen.cpp
  UI/MainScreen.h
Labels: User Interface

#17480 GL: Break out GLPushBuffer from GLRenderManager.cpp/h
  CMakeLists.txt
  Common/Common.vcxproj
  Common/Common.vcxproj.filters
  Common/GPU/OpenGL/GLMemory.cpp
  Common/GPU/OpenGL/GLMemory.h
  Common/GPU/OpenGL/GLRenderManager.cpp
  Common/GPU/OpenGL/GLRenderManager.h
  Common/GPU/OpenGL/thin3d_gl.cpp
  GPU/GLES/DrawEngineGLES.cpp
  GPU/Vulkan/DebugVisVulkan.cpp
  GPU/Vulkan/DebugVisVulkan.h
  UI/EmuScreen.cpp
  android/jni/Android.mk
  libretro/Makefile.common
Labels: OpenGL, Code Cleanup

#17471 Reduce zero initialization and copying overhead of render commands
  CMakeLists.txt
  Common/Common.vcxproj
  Common/Common.vcxproj.filters
  Common/Data/Collections/FastVec.h
  Common/GPU/OpenGL/GLQueueRunner.cpp
  Common/GPU/OpenGL/GLQueueRunner.h
  Common/GPU/OpenGL/GLRenderManager.cpp
  Common/GPU/OpenGL/GLRenderManager.h
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/VR/PPSSPPVR.cpp
  unittest/UnitTest.cpp
Labels: Vulkan, OpenGL, GE emulation

#17478 OpenGL: Efficiency improvements for stencil commands
  Common/GPU/OpenGL/GLQueueRunner.cpp
  Common/GPU/OpenGL/GLQueueRunner.h
  Common/GPU/OpenGL/GLRenderManager.h
  Common/GPU/OpenGL/thin3d_gl.cpp
  GPU/GLES/StateMappingGLES.cpp
Labels: OpenGL

#17492 More GL dirty tracking
  Common/GPU/OpenGL/GLQueueRunner.cpp
Labels: OpenGL

#17494 DrawEngineCommon/DrawEngineGLES minor refactors
  Common/GPU/OpenGL/GLMemory.cpp
  Common/GPU/OpenGL/GLMemory.h
  Common/GPU/OpenGL/GLRenderManager.h
  Common/GPU/OpenGL/thin3d_gl.cpp
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  GPU/Common/DrawEngineCommon.cpp
  GPU/Common/DrawEngineCommon.h
  GPU/Common/SplineCommon.cpp
  GPU/D3D11/DrawEngineD3D11.cpp
  GPU/D3D11/DrawEngineD3D11.h
  GPU/Directx9/DrawEngineDX9.cpp
  GPU/Directx9/DrawEngineDX9.h
  GPU/GLES/DrawEngineGLES.cpp
  GPU/GLES/DrawEngineGLES.h
  GPU/Vulkan/DrawEngineVulkan.cpp
Labels: OpenGL, Code Cleanup

#17498 OpenGL: Show passes in GPU profiler, add GPU memory stats, plus a bugfix
  CMakeLists.txt
  Common/Common.vcxproj
  Common/Common.vcxproj.filters
  Common/GPU/GPUBackendCommon.cpp
  Common/GPU/GPUBackendCommon.h
  Common/GPU/OpenGL/GLFrameData.h
  Common/GPU/OpenGL/GLMemory.cpp
  Common/GPU/OpenGL/GLMemory.h
  Common/GPU/OpenGL/GLQueueRunner.cpp
  Common/GPU/OpenGL/GLQueueRunner.h
  Common/GPU/OpenGL/GLRenderManager.cpp
  Common/GPU/OpenGL/GLRenderManager.h
  Common/GPU/OpenGL/thin3d_gl.cpp
  Common/GPU/Vulkan/VulkanMemory.cpp
  Common/GPU/Vulkan/VulkanMemory.h
  GPU/Vulkan/DebugVisVulkan.cpp
  UI/DevScreens.cpp
  UWP/CommonUWP/CommonUWP.vcxproj
  UWP/CommonUWP/CommonUWP.vcxproj.filters
  android/jni/Android.mk
  libretro/Makefile.common
Labels: OpenGL

#17502 previous slot shortcut
  Core/KeyMap.cpp
  Core/KeyMap.h
  Core/SaveState.cpp
  Core/SaveState.h
  UI/EmuScreen.cpp
  UI/GamepadEmu.h
Labels: User Interface

#17449 Fragment "ubershader" option
  GPU/Common/FragmentShaderGenerator.cpp
  GPU/Common/FragmentShaderGenerator.h
  GPU/Common/ShaderId.cpp
  GPU/Common/ShaderId.h
  GPU/Common/ShaderUniforms.h
  GPU/D3D11/GPU_D3D11.cpp
  GPU/Directx9/GPU_DX9.cpp
  GPU/Directx9/ShaderManagerDX9.cpp
  GPU/GLES/DrawEngineGLES.cpp
  GPU/GLES/GPU_GLES.cpp
  GPU/GLES/ShaderManagerGLES.cpp
  GPU/GLES/ShaderManagerGLES.h
  GPU/GPUCommonHW.cpp
  GPU/GPUState.h
  GPU/Vulkan/GPU_Vulkan.cpp
  GPU/Vulkan/ShaderManagerVulkan.cpp
Labels: GE emulation

#17504 OpenGL queue-runner: Add render command counts (debug builds only).
  Common/GPU/OpenGL/GLFrameData.h
  Common/GPU/OpenGL/GLQueueRunner.cpp
  Common/GPU/OpenGL/GLQueueRunner.h
  Common/GPU/OpenGL/GLRenderManager.cpp
Labels: User Interface

#17505 Only dirty the uniform UVSCALEOFFSET when really needed
  GPU/Common/DrawEngineCommon.cpp
  GPU/Common/ShaderId.cpp
  GPU/Common/TextureCacheCommon.cpp
  GPU/Common/VertexDecoderCommon.cpp
  GPU/Common/VertexDecoderCommon.h
  GPU/GPUCommonHW.cpp
  GPU/GPUState.h
  GPU/Vulkan/DrawEngineVulkan.cpp
Labels: GE emulation

#17515 [Libretro] Remove "Skip Buffer Effects" core option
  libretro/libretro.cpp
  libretro/libretro_core_options.h
Labels: Libretro

#17513 Post-processing: Fix using limited UV ranges when there's a single upscaling filter in the chain.
  Common/GPU/OpenGL/GLRenderManager.h
  GPU/Common/PresentationCommon.cpp
  GPU/GPUCommon.cpp
  GPU/GPUCommon.h
  GPU/GPUCommonHW.cpp
  GPU/GPUCommonHW.h
  GPU/Software/SoftGpu.cpp
  GPU/Software/SoftGpu.h
Labels: User Interface

#17514 Input event and device enums
  Common/Input/InputState.cpp
  Common/Input/InputState.h
  Common/Input/KeyCodes.h
  Common/UI/Root.cpp
  Common/UI/ScrollView.cpp
  Common/UI/View.cpp
  Common/UI/View.h
  Common/VR/PPSSPPVR.cpp
  Core/KeyMap.cpp
  Core/KeyMap.h
  Core/KeyMapDefaults.cpp
  Qt/NKCodeFromQt.h
  Qt/QtMain.cpp
  SDL/NKCodeFromSDL.h
  SDL/SDLJoystick.cpp
  SDL/SDLJoystick.h
  SDL/SDLMain.cpp
  UI/GameSettingsScreen.cpp
  UI/GameSettingsScreen.h
  UI/NativeApp.cpp
  UI/TiltAnalogSettingsScreen.cpp
  UWP/NKCodeFromWindowsSystem.cpp
  UWP/NKCodeFromWindowsSystem.h
  UWP/PPSSPP_UWPMain.cpp
  Windows/DinputDevice.cpp
  Windows/RawInput.cpp
  Windows/XinputDevice.cpp
  android/jni/app-android.cpp
  ios/SmartKeyboardMap.cpp
  ios/SmartKeyboardMap.hpp
  ios/ViewController.mm
  unittest/UnitTest.cpp
Labels: Code Cleanup

#17375 Queue up input events for processing, except in-game. Avoids some potential threading issues/hangs.
  Common/UI/Root.cpp
  Common/UI/Root.h
  Common/UI/Screen.cpp
  Common/UI/Screen.h
  Common/UI/UIScreen.cpp
  Common/UI/UIScreen.h
  UI/EmuScreen.cpp
  UI/EmuScreen.h
Labels: User Interface

#17524 Fix sceMpegAvcDecode
  Core/HLE/sceMpeg.cpp
Labels: PSMF / MPEG

#17529 SDL: Add a way to reset OpenGL rendering by pressing F7.
  Common/GPU/OpenGL/GLFeatures.cpp
  SDL/SDLGLGraphicsContext.cpp
  SDL/SDLMain.cpp
Labels: OpenGL, GE emulation

#17533 Couple of minor Vulkan tweaks
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/GPU.h
  GPU/GPUCommonHW.cpp
  GPU/Vulkan/DrawEngineVulkan.cpp
Labels: Code Cleanup

#17534 Add a cache for MakePixelsTexture
  Common/GPU/D3D11/thin3d_d3d11.cpp
  Common/GPU/D3D9/thin3d_d3d9.cpp
  Common/GPU/OpenGL/thin3d_gl.cpp
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  Common/GPU/thin3d.cpp
  Common/GPU/thin3d.h
  GPU/Common/FramebufferManagerCommon.cpp
  GPU/Common/FramebufferManagerCommon.h
  GPU/Common/PresentationCommon.cpp
  GPU/Common/StencilCommon.cpp
Labels: GE emulation

#17536 Vulkan image barrier fix, image leak fix from #17534
  Common/GPU/D3D11/thin3d_d3d11.cpp
  Common/GPU/D3D9/thin3d_d3d9.cpp
  Common/GPU/OpenGL/thin3d_gl.cpp
  Common/GPU/Vulkan/VulkanDebug.cpp
  Common/GPU/Vulkan/VulkanImage.cpp
  Common/GPU/Vulkan/VulkanImage.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  Common/GPU/thin3d.h
  GPU/Common/FramebufferManagerCommon.cpp
Labels: Vulkan, GE emulation

#17537 Make GameSubscriber backward compatible again
  Core/Debugger/WebSocket/GameSubscriber.cpp
Labels: Debugger
