Repository hrydgard/ppsspp, pull requests merged in 2023-07, with the labels that each got.

#17648 Replace some signed divison in SoftGPU
  Common/MemoryUtil.cpp
  GPU/Math3D.h
  GPU/Software/Lighting.cpp
  GPU/Software/Sampler.cpp
Labels: Software Rasterizer

#17653 Move RetroAchievements.cpp/h from UI to the Core folder
  CMakeLists.txt
  Core/Core.vcxproj
  Core/Core.vcxproj.filters
  Core/RetroAchievements.cpp
  Core/RetroAchievements.h
  UI/EmuScreen.cpp
  UI/NativeApp.cpp
  UI/PauseScreen.cpp
  UI/RetroAchievementScreens.cpp
  UI/RetroAchievementScreens.h
  UI/UI.vcxproj
  UI/UI.vcxproj.filters
  UWP/CoreUWP/CoreUWP.vcxproj
  UWP/CoreUWP/CoreUWP.vcxproj.filters
  UWP/UI_UWP/UI_UWP.vcxproj
  UWP/UI_UWP/UI_UWP.vcxproj.filters
  android/jni/Android.mk
  libretro/Makefile.common
Labels: Code Cleanup

#17654 GameInfoCache: Some fixes for the icon loaded flag.
  UI/GameInfoCache.cpp
Labels: Code Cleanup

#17656 OpenXR - Game compatibility fixes
  Common/VR/PPSSPPVR.cpp
  Common/VR/PPSSPPVR.h
  Core/Compatibility.cpp
  Core/Compatibility.h
  GPU/GLES/ShaderManagerGLES.cpp
  assets/compatvr.ini
Labels: VR

#17651 SDL: support HiDPI on wayland
  Core/Core.cpp
  SDL/SDLMain.cpp
Labels: SDL2

#17658 fix `Memory init failed` on Linux x32 ABI
  ppsspp_config.h
Labels: Platform-specific (Linux/POSIX)

#17660 Backport rcheevos build setup to libretro/Makefile.common from the rc_client branch
  libretro/Makefile.common
  libretro/libretro.cpp
Labels: Libretro

#17662 Simplify projective texcoord calculation
  GPU/Software/Rasterizer.cpp
Labels: Software Rasterizer

#17666 Fix performance issue in MLB 2k games with profiler funcs
  Core/HLE/sceKernel.cpp
Labels: HLE/Kernel, Performance

#17670 Control and menu navigation fixes
  Common/UI/Root.cpp
  Common/UI/Screen.cpp
  Common/UI/Screen.h
  Common/UI/UIScreen.h
  Common/UI/ViewGroup.cpp
  Common/UI/ViewGroup.h
  UI/ControlMappingScreen.cpp
  UI/ControlMappingScreen.h
  UI/MainScreen.cpp
  UI/OnScreenDisplay.cpp
  Windows/XinputDevice.cpp
  Windows/XinputDevice.h
  android/jni/app-android.cpp
  android/src/org/ppsspp/ppsspp/InputDeviceState.java
  android/src/org/ppsspp/ppsspp/NativeActivity.java
Labels: Input/Controller, User Interface

#17672 Android: Show some Java exceptions as they happen
  Common/System/System.h
  UI/DevScreens.cpp
  android/jni/app-android.cpp
  android/src/org/ppsspp/ppsspp/NativeActivity.java
  android/src/org/ppsspp/ppsspp/NativeApp.java
Labels: Platform-specific (Android)

#17673 Add checkbox controlling if new mappings can be combo mappings.
  Common/Input/InputState.cpp
  Core/Config.cpp
  Core/Config.h
  Core/SaveState.cpp
  UI/ControlMappingScreen.cpp
  UI/ControlMappingScreen.h
  android/src/org/ppsspp/ppsspp/NativeActivity.java
  assets/lang/en_US.ini
Labels: Input/Controller

#17674 New UI view: Notice
  Common/UI/Root.cpp
  Common/UI/View.h
  GPU/D3D11/DrawEngineD3D11.cpp
  UI/ControlMappingScreen.cpp
  UI/OnScreenDisplay.cpp
  UI/OnScreenDisplay.h
Labels: User Interface, Code Cleanup

#17676 Reduce delays in sceKernelReferThreadProfiler/ReferGlobalProfiler.
  Core/HLE/sceKernel.cpp
Labels: HLE/Kernel

#17682 RetroAchievements: Show active challenge achievements on pause screen.
  Common/System/OSD.h
  Core/RetroAchievements.cpp
  Core/RetroAchievements.h
  UI/EmuScreen.cpp
  UI/OnScreenDisplay.cpp
  UI/PauseScreen.cpp
  UI/PauseScreen.h
  UI/RetroAchievementScreens.cpp
Labels: User Interface, RetroAchievements

#17684 RetroAchievements: Revert to the old behavior for bad accesses (return 0).
  Core/RetroAchievements.cpp
Labels: RetroAchievements

#17686 Add assorted null checks for safety
  Common/System/OSD.cpp
  Common/UI/Context.cpp
  Core/RetroAchievements.cpp
  UI/OnScreenDisplay.cpp
  UI/RetroAchievementScreens.cpp
Labels: RetroAchievements

#17688 libretro: use JIT on iOS if available
  libretro/libretro.cpp
  libretro/libretro.h
Labels: Libretro

#17691 More achievement fixes
  Common/System/OSD.cpp
  Common/System/OSD.h
  Core/RetroAchievements.cpp
  UI/EmuScreen.cpp
  Windows/InputBox.cpp
Labels: RetroAchievements

#17693 Bugfix: Also check the allow-combo setting for analog inputs.
  UI/ControlMappingScreen.cpp
Labels: Input/Controller

#17692 RetroAchievements UI updates: Merge Account and Settings tabs
  Core/RetroAchievements.cpp
  UI/RetroAchievementScreens.cpp
  UI/RetroAchievementScreens.h
  assets/lang/en_US.ini
  assets/lang/sv_SE.ini
Labels: RetroAchievements

#17695 In challenge mode, allow faster alternate speeds (but not slower).
  Core/HLE/sceDisplay.cpp
  UI/EmuScreen.cpp
Labels: RetroAchievements

#17699 RetroAchievements CSO support, delay until identified
  Core/RetroAchievements.cpp
  Core/RetroAchievements.h
  Core/System.cpp
  UI/EmuScreen.cpp
Labels: RetroAchievements

#17700 Improve some logging related to bad ISO detection
  Common/System/System.h
  Core/FileSystems/ISOFileSystem.cpp
  Core/FileSystems/ISOFileSystem.h
  UI/MiscScreens.cpp
  UI/MiscScreens.h
  UI/TabbedDialogScreen.cpp
Labels: Code Cleanup

#17701 First-boot memstick screen: Attempt to fix some logic holes
  Core/FileSystems/ISOFileSystem.cpp
  UI/MemStickScreen.cpp
  android/jni/app-android.cpp
  android/src/org/ppsspp/ppsspp/NativeActivity.java
Labels: Platform-specific (Android), Scoped Storage

#17703 Change the sound effects mixer (used for UI sounds) to mix on top of main output
  Common/UI/Root.cpp
  UI/AudioCommon.cpp
  UI/BackgroundAudio.cpp
  UI/BackgroundAudio.h
  UI/NativeApp.cpp
Labels: User Interface

#17705 Achievement Unlocked sound effect, more UI work
  Common/UI/Root.cpp
  Common/UI/Root.h
  Core/RetroAchievements.cpp
  UI/BackgroundAudio.cpp
  UI/BackgroundAudio.h
  UI/EmuScreen.cpp
  UI/RetroAchievementScreens.cpp
  assets/lang/en_US.ini
  assets/lang/sv_SE.ini
  assets/sfx_achievement_unlocked.wav
  assets/sfx_leaderbord_submitted.wav
Labels: User Interface, RetroAchievements

#17704 OpenXR - Enhancements of cinema-style screen
  Common/VR/PPSSPPVR.cpp
  Common/VR/VRRenderer.cpp
  Common/VR/VRRenderer.h
  Core/Config.cpp
  Core/Config.h
  UI/GameSettingsScreen.cpp
Labels: VR

#17706 Unlimited alternate speed got broken in recent changes.
  Core/HLE/sceDisplay.cpp
Labels: User Interface

#17709 Save/Load the icon cache to disk if RetroAchievements are enabled.
  Common/UI/IconCache.cpp
  Common/UI/IconCache.h
  UI/NativeApp.cpp
Labels: RetroAchievements

#17708 RetroAchievements: Try to eliminate possible race conditions on load
  Core/RetroAchievements.cpp
Labels: RetroAchievements

#17710 RetroAchievements: Call rc_client_do_frame from hleEnterVblank
  Common/UI/IconCache.cpp
  Core/HLE/sceDisplay.cpp
  UI/EmuScreen.cpp
Labels: RetroAchievements

#17715 Vulkan: Enable the present-id/present-wait/display-timing extensions
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanContext.h
  Common/GPU/Vulkan/VulkanLoader.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  UI/DevScreens.cpp
Labels: Vulkan

#17714 Android: Create .nomedia file in the PSP directory directly
  UI/NativeApp.cpp
Labels: Platform-specific (Android)

#17717 Fix key event processing issue.
  Common/UI/Root.cpp
  Common/UI/Root.h
  Common/UI/UIScreen.cpp
Labels: User Interface

#17718 HTTP user agent fix for DownloadManager
  Common/Net/HTTPClient.cpp
  Common/Net/HTTPClient.h
  Core/Config.cpp
  Core/RetroAchievements.cpp
  assets/lang/en_US.ini
  assets/lang/sv_SE.ini
Labels: RetroAchievements

#17720 Java dialog requests: Simplify handling, more unique error codes
  Common/System/Request.h
  UI/GameSettingsScreen.cpp
  UI/MemStickScreen.cpp
  UI/MemStickScreen.h
  android/jni/app-android.cpp
  android/src/org/ppsspp/ppsspp/NativeActivity.java
  android/src/org/ppsspp/ppsspp/NativeApp.java
Labels: Platform-specific (Android), Scoped Storage

#17721 Android: Simplify handling of dialog requests even more.
  UI/RetroAchievementScreens.cpp
  android/src/org/ppsspp/ppsspp/NativeActivity.java
Labels: Platform-specific (Android)

#17722 Fix keyboard presence check on switch.
  SDL/SDLMain.cpp
Labels: Platform-specific (Switch)

#17723 Address some feedback
  Common/UI/Root.cpp
  UI/GameInfoCache.cpp
Labels: User Interface, Code Cleanup

#17724 Address more feedback
  Common/Math/math_util.h
  Common/System/OSD.cpp
  Common/System/OSD.h
  Core/RetroAchievements.cpp
  Core/System.cpp
  UI/EmuScreen.cpp
  UI/OnScreenDisplay.cpp
  UI/PauseScreen.cpp
  UI/RetroAchievementScreens.cpp
Labels: Code Cleanup

#17726 More achievement translation work
  Common/StringUtils.cpp
  Common/StringUtils.h
  Common/UI/View.cpp
  Core/RetroAchievements.cpp
  Tools/langtool/Cargo.lock
  UI/MainScreen.cpp
  UI/ReportScreen.cpp
  UI/RetroAchievementScreens.cpp
  UI/SavedataScreen.cpp
  UI/TabbedDialogScreen.cpp
  assets/lang/ar_AE.ini
  assets/lang/az_AZ.ini
  assets/lang/bg_BG.ini
  assets/lang/ca_ES.ini
  assets/lang/cz_CZ.ini
  assets/lang/da_DK.ini
  assets/lang/de_DE.ini
  assets/lang/dr_ID.ini
  assets/lang/en_US.ini
  assets/lang/es_ES.ini
  assets/lang/es_LA.ini
  assets/lang/fa_IR.ini
  assets/lang/fi_FI.ini
  assets/lang/fr_FR.ini
  assets/lang/gl_ES.ini
  assets/lang/gr_EL.ini
  assets/lang/he_IL.ini
  assets/lang/he_IL_invert.ini
  assets/lang/hr_HR.ini
  assets/lang/hu_HU.ini
  assets/lang/id_ID.ini
  assets/lang/it_IT.ini
  assets/lang/ja_JP.ini
  assets/lang/jv_ID.ini
  assets/lang/ko_KR.ini
  assets/lang/lo_LA.ini
  assets/lang/lt-LT.ini
  assets/lang/ms_MY.ini
  assets/lang/nl_NL.ini
  assets/lang/no_NO.ini
  assets/lang/pl_PL.ini
  assets/lang/pt_BR.ini
  assets/lang/pt_PT.ini
  assets/lang/ro_RO.ini
  assets/lang/ru_RU.ini
  assets/lang/sv_SE.ini
  assets/lang/tg_PH.ini
  assets/lang/th_TH.ini
  assets/lang/tr_TR.ini
  assets/lang/uk_UA.ini
  assets/lang/vi_VN.ini
  assets/lang/zh_CN.ini
  assets/lang/zh_TW.ini
  unittest/UnitTest.cpp
Labels: Translation, RetroAchievements

#17728 Make the achievement lists collapsible on the main achievements screen
  Common/UI/View.cpp
  Common/UI/View.h
  Common/UI/ViewGroup.cpp
  Common/UI/ViewGroup.h
  Core/RetroAchievements.h
  UI/RetroAchievementScreens.cpp
Labels: User Interface, RetroAchievements

#17729 softgpu: Reduce some non-SIMD lighting math
  GPU/Math3D.h
  GPU/Software/Lighting.cpp
  ext/rcheevos-build/rcheevos.vcxproj
Labels: Software Rasterizer

#17730 GE Debugger: Make step tex jump to first prim
  GPU/Debugger/Breakpoints.cpp
Labels: Debugger

#17731 More achievement UI fixes
  Common/Render/Text/draw_text_win.cpp
  Common/UI/Root.h
  UI/EmuScreen.cpp
  UI/OnScreenDisplay.cpp
  UI/RetroAchievementScreens.cpp
  UI/RetroAchievementScreens.h
  assets/lang/en_US.ini
  assets/lang/sv_SE.ini
Labels: User Interface, RetroAchievements

#17734 Text display fixes
  Common/UI/Context.cpp
  Common/UI/Context.h
  Common/UI/View.cpp
  Common/UI/View.h
  UI/RetroAchievementScreens.cpp
  android/src/org/ppsspp/ppsspp/TextRenderer.java
Labels: User Interface

#17743 Show version on prompt screens that aren't questions
  Common/System/System.h
  Common/UI/PopupScreens.h
  Common/UI/UIScreen.cpp
  Qt/QtMain.cpp
  SDL/SDLMain.cpp
  UI/MiscScreens.cpp
  UWP/PPSSPP_UWPMain.cpp
  Windows/main.cpp
  android/jni/app-android.cpp
  ios/main.mm
Labels: User Interface

#17749 In D3D11, force block compressed textures to have dimensions divisible by 4
  GPU/Common/ReplacedTexture.cpp
  GPU/Common/TextureReplacer.cpp
  GPU/D3D11/TextureCacheD3D11.cpp
  assets/lang/en_US.ini
Labels: Texture replacement

#17750 Cleanup the g_PortManager shutdown process
  Core/Util/PortManager.cpp
  Core/Util/PortManager.h
  UI/NativeApp.cpp
Labels: Networking / adhoc

#17753 Common: Rename Download to Request, and the old Request to ServerRequest.
  Common/Net/HTTPClient.cpp
  Common/Net/HTTPClient.h
  Common/Net/HTTPNaettRequest.cpp
  Common/Net/HTTPNaettRequest.h
  Common/Net/HTTPRequest.cpp
  Common/Net/HTTPRequest.h
  Common/Net/HTTPServer.cpp
  Common/Net/HTTPServer.h
  Common/Net/WebsocketServer.cpp
  Common/Net/WebsocketServer.h
  Core/Config.cpp
  Core/Config.h
  Core/Debugger/WebSocket.cpp
  Core/Debugger/WebSocket.h
  Core/RetroAchievements.cpp
  Core/Util/GameManager.h
  Core/WebServer.cpp
  UI/DevScreens.h
  UI/Store.cpp
  UI/Store.h
Labels: Code Cleanup

#17754 Fix an initialLayout issue with the image we use as the backbuffers's depth buffer
  Common/GPU/Vulkan/VulkanFramebuffer.cpp
Labels: Vulkan, intel gpu

#17755 Allow entering an exact Mac address, while keeping the randomization ability
  UI/GameSettingsScreen.cpp
  UI/GameSettingsScreen.h
  assets/lang/en_US.ini
Labels: Networking / adhoc

#17752 OpenXR - Enable 6DoF in cinema mode
  Common/VR/PPSSPPVR.cpp
Labels: VR

#17763 Translations: Add missing language strings to ini files
  Tools/langtool/Cargo.lock
  assets/lang/ar_AE.ini
  assets/lang/az_AZ.ini
  assets/lang/bg_BG.ini
  assets/lang/ca_ES.ini
  assets/lang/cz_CZ.ini
  assets/lang/da_DK.ini
  assets/lang/de_DE.ini
  assets/lang/dr_ID.ini
  assets/lang/es_ES.ini
  assets/lang/es_LA.ini
  assets/lang/fa_IR.ini
  assets/lang/fi_FI.ini
  assets/lang/fr_FR.ini
  assets/lang/gl_ES.ini
  assets/lang/gr_EL.ini
  assets/lang/he_IL.ini
  assets/lang/he_IL_invert.ini
  assets/lang/hr_HR.ini
  assets/lang/hu_HU.ini
  assets/lang/id_ID.ini
  assets/lang/it_IT.ini
  assets/lang/ja_JP.ini
  assets/lang/jv_ID.ini
  assets/lang/ko_KR.ini
  assets/lang/lo_LA.ini
  assets/lang/lt-LT.ini
  assets/lang/ms_MY.ini
  assets/lang/nl_NL.ini
  assets/lang/no_NO.ini
  assets/lang/pl_PL.ini
  assets/lang/pt_BR.ini
  assets/lang/pt_PT.ini
  assets/lang/ro_RO.ini
  assets/lang/ru_RU.ini
  assets/lang/sv_SE.ini
  assets/lang/tg_PH.ini
  assets/lang/th_TH.ini
  assets/lang/tr_TR.ini
  assets/lang/uk_UA.ini
  assets/lang/vi_VN.ini
  assets/lang/zh_CN.ini
  assets/lang/zh_TW.ini
Labels: Translation

#17764 Allow configuring the game language separately from the PPSSPP UI language
  Common/Data/Collections/FastVec.h
  Common/Data/Text/I18n.cpp
  Common/Data/Text/I18n.h
  Common/Net/HTTPClient.cpp
  Common/Net/NetBuffer.h
  Common/UI/View.cpp
  Common/UI/View.h
  Common/UI/ViewGroup.cpp
  Common/UI/ViewGroup.h
  Core/Config.cpp
  Core/Config.h
  Core/Dialog/PSPDialog.cpp
  Core/HLE/sceImpose.cpp
  Core/HLE/sceNp2.cpp
  Core/HLE/sceUtility.cpp
  Core/WebServer.cpp
  UI/GameSettingsScreen.cpp
  UI/MiscScreens.cpp
  assets/lang/en_US.ini
  assets/lang/es_LA.ini
  assets/lang/sv_SE.ini
Labels: User Interface

#17765 Make the rapid-fire interval configurable
  Core/Config.cpp
  Core/Config.h
  Core/HLE/sceCtrl.cpp
  Core/HLE/sceCtrl.h
  UI/EmuScreen.cpp
  UI/GameSettingsScreen.cpp
  UI/GamepadEmu.cpp
  assets/lang/ar_AE.ini
  assets/lang/az_AZ.ini
  assets/lang/bg_BG.ini
  assets/lang/ca_ES.ini
  assets/lang/cz_CZ.ini
  assets/lang/da_DK.ini
  assets/lang/de_DE.ini
  assets/lang/dr_ID.ini
  assets/lang/en_US.ini
  assets/lang/es_ES.ini
  assets/lang/es_LA.ini
  assets/lang/fa_IR.ini
  assets/lang/fi_FI.ini
  assets/lang/fr_FR.ini
  assets/lang/gl_ES.ini
  assets/lang/gr_EL.ini
  assets/lang/he_IL.ini
  assets/lang/he_IL_invert.ini
  assets/lang/hr_HR.ini
  assets/lang/hu_HU.ini
  assets/lang/id_ID.ini
  assets/lang/it_IT.ini
  assets/lang/ja_JP.ini
  assets/lang/jv_ID.ini
  assets/lang/ko_KR.ini
  assets/lang/lo_LA.ini
  assets/lang/lt-LT.ini
  assets/lang/ms_MY.ini
  assets/lang/nl_NL.ini
  assets/lang/no_NO.ini
  assets/lang/pl_PL.ini
  assets/lang/pt_BR.ini
  assets/lang/pt_PT.ini
  assets/lang/ro_RO.ini
  assets/lang/ru_RU.ini
  assets/lang/sv_SE.ini
  assets/lang/tg_PH.ini
  assets/lang/th_TH.ini
  assets/lang/tr_TR.ini
  assets/lang/uk_UA.ini
  assets/lang/vi_VN.ini
  assets/lang/zh_CN.ini
  assets/lang/zh_TW.ini
Labels: Input/Controller, User Interface

#17756 Improve handling of RetroAchievements login errors
  Core/RetroAchievements.cpp
  Core/RetroAchievements.h
  UI/RetroAchievementScreens.cpp
  assets/lang/en_US.ini
Labels: RetroAchievements

#17766 Vulkan: Make multi-threaded rendering a developer option (previously always on)
  Common/GPU/Vulkan/VulkanFrameData.cpp
  Common/GPU/Vulkan/VulkanFrameData.h
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  Common/GPU/thin3d_create.h
  Core/Config.cpp
  Core/Config.h
  GPU/Common/ReplacedTexture.cpp
  SDL/SDLVulkanGraphicsContext.cpp
  UI/GameSettingsScreen.cpp
  Windows/GPU/WindowsVulkanContext.cpp
  android/jni/AndroidVulkanContext.cpp
  assets/lang/en_US.ini
  libretro/LibretroVulkanContext.cpp
Labels: Vulkan

#17768 GPU: Correct UV scale for non-jit vertices
  GPU/Common/VertexDecoderCommon.cpp
  GPU/Common/VertexDecoderCommon.h
Labels: GE emulation

#17771 Fix some silly mistakes in the RISC-V vertexjit
  GPU/Common/VertexDecoderRiscV.cpp
Labels: RISC-V

#17767 Translation: Consolidate a few strings
  UI/GameSettingsScreen.cpp
  UI/GameSettingsScreen.h
  assets/lang/ar_AE.ini
  assets/lang/az_AZ.ini
  assets/lang/bg_BG.ini
  assets/lang/ca_ES.ini
  assets/lang/cz_CZ.ini
  assets/lang/da_DK.ini
  assets/lang/de_DE.ini
  assets/lang/dr_ID.ini
  assets/lang/en_US.ini
  assets/lang/es_ES.ini
  assets/lang/es_LA.ini
  assets/lang/fa_IR.ini
  assets/lang/fi_FI.ini
  assets/lang/fr_FR.ini
  assets/lang/gl_ES.ini
  assets/lang/gr_EL.ini
  assets/lang/he_IL.ini
  assets/lang/he_IL_invert.ini
  assets/lang/hr_HR.ini
  assets/lang/hu_HU.ini
  assets/lang/id_ID.ini
  assets/lang/it_IT.ini
  assets/lang/ja_JP.ini
  assets/lang/jv_ID.ini
  assets/lang/ko_KR.ini
  assets/lang/lo_LA.ini
  assets/lang/lt-LT.ini
  assets/lang/ms_MY.ini
  assets/lang/nl_NL.ini
  assets/lang/no_NO.ini
  assets/lang/pl_PL.ini
  assets/lang/pt_BR.ini
  assets/lang/pt_PT.ini
  assets/lang/ro_RO.ini
  assets/lang/ru_RU.ini
  assets/lang/sv_SE.ini
  assets/lang/tg_PH.ini
  assets/lang/th_TH.ini
  assets/lang/tr_TR.ini
  assets/lang/uk_UA.ini
  assets/lang/vi_VN.ini
  assets/lang/zh_CN.ini
  assets/lang/zh_TW.ini
Labels: Translation

#17773 Fix some issues in the RISC-V emitter
  Common/CPUDetect.h
  Common/RiscVCPUDetect.cpp
  Common/RiscVEmitter.cpp
Labels: RISC-V

#17772 Fix issue where achievements wouldn't always activate when starting from frontends
  Core/RetroAchievements.cpp
  Core/RetroAchievements.h
  Core/System.cpp
Labels: RetroAchievements

#17775 Linux: Use _DEFAULT_SOURCE
  CMakeLists.txt
Labels: Code Cleanup

#17776 Correct a few more RISC-V vertexjit bugs
  GPU/Common/VertexDecoderRiscV.cpp
Labels: RISC-V

#17777 RetroAchievements: Fix another race condition, improve logging.
  Core/RetroAchievements.cpp
  Core/System.cpp
  UI/EmuScreen.cpp
Labels: RetroAchievements

#17778 Add some new UI icons
  Common/System/OSD.h
  UI/OnScreenDisplay.cpp
  UI/RetroAchievementScreens.cpp
  assets/ui_atlas.meta
  assets/ui_atlas.zim
  source_assets/image/buttons.svg
  source_assets/image/fast_forward.png
  source_assets/image/pausepng.png
  source_assets/image/play.png
  source_assets/image/record.png
  source_assets/image/speaker.png
  source_assets/image/speaker_max.png
  source_assets/image/speaker_off.png
  source_assets/image/stop.png
  source_assets/image/winner_cup.png
  ui_atlasscript.txt
Labels: User Interface

#17751 Initial RISC-V jit based on IR
  CMakeLists.txt
  Common/RiscVEmitter.cpp
  Common/RiscVEmitter.h
  Core/Config.cpp
  Core/Core.vcxproj
  Core/Core.vcxproj.filters
  Core/MIPS/ARM64/Arm64Jit.h
  Core/MIPS/ARM64/Arm64RegCache.cpp
  Core/MIPS/IR/IRInst.h
  Core/MIPS/IR/IRJit.cpp
  Core/MIPS/IR/IRJit.h
  Core/MIPS/IR/IRRegCache.cpp
  Core/MIPS/IR/IRRegCache.h
  Core/MIPS/JitCommon/JitCommon.cpp
  Core/MIPS/RiscV/RiscVAsm.cpp
  Core/MIPS/RiscV/RiscVCompALU.cpp
  Core/MIPS/RiscV/RiscVCompBranch.cpp
  Core/MIPS/RiscV/RiscVCompFPU.cpp
  Core/MIPS/RiscV/RiscVCompLoadStore.cpp
  Core/MIPS/RiscV/RiscVCompSystem.cpp
  Core/MIPS/RiscV/RiscVCompVec.cpp
  Core/MIPS/RiscV/RiscVJit.cpp
  Core/MIPS/RiscV/RiscVJit.h
  Core/MIPS/RiscV/RiscVRegCache.cpp
  Core/MIPS/RiscV/RiscVRegCache.h
  Core/MIPS/RiscV/RiscVRegCacheFPU.cpp
  Core/MIPS/RiscV/RiscVRegCacheFPU.h
  Core/MIPS/fake/FakeJit.cpp
  Core/MIPS/fake/FakeJit.h
  Core/MemFault.cpp
  UI/DevScreens.cpp
  unittest/JitHarness.cpp
Labels: RISC-V

#16251 CMakeList: fix SDL+Wayland+Vulkan
  CMakeLists.txt
Labels: SDL2

#17784 arm64jit: When rouding unset, use nearest
  Core/MIPS/ARM64/Arm64Asm.cpp
  Core/MIPS/ARM64/Arm64CompFPU.cpp
Labels: arm64jit

#17783 Implement float/vec operations in RISC-V jit
  Core/MIPS/ARM64/Arm64RegCache.cpp
  Core/MIPS/ARM64/Arm64RegCacheFPU.cpp
  Core/MIPS/ARM64/Arm64RegCacheFPU.h
  Core/MIPS/IR/IRCompBranch.cpp
  Core/MIPS/IR/IRCompFPU.cpp
  Core/MIPS/IR/IRInst.cpp
  Core/MIPS/IR/IRInst.h
  Core/MIPS/IR/IRInterpreter.cpp
  Core/MIPS/IR/IRPassSimplify.cpp
  Core/MIPS/RiscV/RiscVAsm.cpp
  Core/MIPS/RiscV/RiscVCompBranch.cpp
  Core/MIPS/RiscV/RiscVCompFPU.cpp
  Core/MIPS/RiscV/RiscVCompLoadStore.cpp
  Core/MIPS/RiscV/RiscVCompSystem.cpp
  Core/MIPS/RiscV/RiscVCompVec.cpp
  Core/MIPS/RiscV/RiscVJit.cpp
  Core/MIPS/RiscV/RiscVJit.h
  Core/MIPS/RiscV/RiscVRegCache.cpp
  Core/MIPS/RiscV/RiscVRegCache.h
  Core/MIPS/RiscV/RiscVRegCacheFPU.cpp
  Core/MIPS/RiscV/RiscVRegCacheFPU.h
Labels: RISC-V

#17780 SDL: implement TextDrawer using SDL2_ttf
  CMakeLists.txt
  Common/Render/Text/draw_text.cpp
  Common/Render/Text/draw_text_sdl.cpp
  Common/Render/Text/draw_text_sdl.h
Labels: SDL2, User Interface

#17798 irjit: Implement vf2ix
  Core/MIPS/IR/IRCompVFPU.cpp
  Core/MIPS/IR/IRInst.cpp
  Core/MIPS/IR/IRInst.h
  Core/MIPS/IR/IRInterpreter.cpp
  Core/MIPS/IR/IRPassSimplify.cpp
  Core/MIPS/RiscV/RiscVCompFPU.cpp
  Core/MIPS/RiscV/RiscVJit.cpp
Labels: IRInterpreter

#17799 Add ll/sc to IR and x86jit
  Core/HLE/HLE.cpp
  Core/MIPS/ARM/ArmCompLoadStore.cpp
  Core/MIPS/ARM/ArmJit.h
  Core/MIPS/ARM64/Arm64CompLoadStore.cpp
  Core/MIPS/ARM64/Arm64Jit.h
  Core/MIPS/IR/IRCompLoadStore.cpp
  Core/MIPS/IR/IRFrontend.h
  Core/MIPS/IR/IRInst.cpp
  Core/MIPS/IR/IRInst.h
  Core/MIPS/IR/IRInterpreter.cpp
  Core/MIPS/IR/IRPassSimplify.cpp
  Core/MIPS/JitCommon/JitCommon.h
  Core/MIPS/MIPS/MipsJit.h
  Core/MIPS/MIPSTables.cpp
  Core/MIPS/RiscV/RiscVCompLoadStore.cpp
  Core/MIPS/RiscV/RiscVJit.cpp
  Core/MIPS/RiscV/RiscVJit.h
  Core/MIPS/fake/FakeJit.h
  Core/MIPS/x86/CompLoadStore.cpp
  Core/MIPS/x86/Jit.h
Labels: Debugger

#17801 irjit: Fix vmin/vmax nan handling
  Core/MIPS/IR/IRInterpreter.cpp
Labels: IRInterpreter

#17800 More RISC-V jit ops
  Core/MIPS/IR/IRJit.cpp
  Core/MIPS/IR/IRJit.h
  Core/MIPS/RiscV/RiscVAsm.cpp
  Core/MIPS/RiscV/RiscVCompALU.cpp
  Core/MIPS/RiscV/RiscVCompFPU.cpp
  Core/MIPS/RiscV/RiscVCompSystem.cpp
  Core/MIPS/RiscV/RiscVCompVec.cpp
  Core/MIPS/RiscV/RiscVJit.cpp
  Core/MIPS/RiscV/RiscVJit.h
  Core/MIPS/RiscV/RiscVRegCache.h
  Core/MIPS/RiscV/RiscVRegCacheFPU.cpp
  Core/MIPS/RiscV/RiscVRegCacheFPU.h
Labels: RISC-V

#17804 A couple more RISC-V ops
  Common/RiscVEmitter.cpp
  Core/MIPS/IR/IRInst.h
  Core/MIPS/RiscV/RiscVCompFPU.cpp
  Core/MIPS/RiscV/RiscVCompLoadStore.cpp
  Core/MIPS/RiscV/RiscVRegCache.cpp
Labels: RISC-V

#17807 Re-enable framebuffer fetch for blend where available.
  GPU/GPUCommonHW.cpp
Labels: OpenGL, GE emulation

#17805 SDL: address comments on #17780
  Common/Render/Text/draw_text_sdl.cpp
  Common/Render/Text/draw_text_sdl.h
Labels: User Interface

#17810 Cache computed planes used for BBOX culling
  Core/HLE/sceDisplay.cpp
  GPU/Common/DrawEngineCommon.cpp
  GPU/Common/DrawEngineCommon.h
  GPU/Common/ShaderCommon.h
  GPU/GPU.h
  GPU/GPUCommon.cpp
  GPU/GPUCommonHW.cpp
  GPU/GPUState.cpp
  GPU/Software/SoftGpu.cpp
  GPU/Software/SoftGpu.h
Labels: GE emulation

#17812 Cleanup IR cond move flag, fmov to self
  Core/MIPS/IR/IRCompFPU.cpp
  Core/MIPS/IR/IRCompVFPU.cpp
  Core/MIPS/IR/IRInst.cpp
  Core/MIPS/IR/IRPassSimplify.cpp
  Core/MIPS/RiscV/RiscVCompFPU.cpp
Labels: IRInterpreter

#17813 Fix some typos and mistakes in RISC-V jit
  Core/MIPS/JitCommon/JitCommon.cpp
  Core/MIPS/RiscV/RiscVCompALU.cpp
  Core/MIPS/RiscV/RiscVCompFPU.cpp
  Core/MIPS/RiscV/RiscVRegCache.cpp
Labels: RISC-V

#17814 riscv: Implement block debug interface
  Core/MIPS/RiscV/RiscVJit.cpp
  Core/MIPS/RiscV/RiscVJit.h
Labels: RISC-V

#17815 riscv: Spill registers more intelligently
  CMakeLists.txt
  Core/Core.vcxproj
  Core/Core.vcxproj.filters
  Core/MIPS/IR/IRAnalysis.cpp
  Core/MIPS/IR/IRAnalysis.h
  Core/MIPS/IR/IRInst.cpp
  Core/MIPS/IR/IRJit.cpp
  Core/MIPS/IR/IRPassSimplify.cpp
  Core/MIPS/MIPSAnalyst.cpp
  Core/MIPS/RiscV/RiscVCompFPU.cpp
  Core/MIPS/RiscV/RiscVJit.cpp
  Core/MIPS/RiscV/RiscVRegCache.cpp
  Core/MIPS/RiscV/RiscVRegCache.h
  Core/MIPS/RiscV/RiscVRegCacheFPU.cpp
  Core/MIPS/RiscV/RiscVRegCacheFPU.h
  UWP/CoreUWP/CoreUWP.vcxproj
  UWP/CoreUWP/CoreUWP.vcxproj.filters
  android/jni/Android.mk
  libretro/Makefile.common
Labels: RISC-V

#17816 Build: Fix link issue for rv64 disasm
  Core/MIPS/RiscV/RiscVAsm.cpp
  Core/MIPS/RiscV/RiscVJit.cpp
Labels: RISC-V

#17817 riscv: Add bitmanip ops to disasm
  Core/MIPS/JitCommon/JitCommon.cpp
  ext/riscv-disas.cpp
  ext/riscv-disas.h
Labels: RISC-V

#17819 Experiment with the collapsible header thingy, increase ItemHeader font size
  Common/UI/View.cpp
  GPU/GPUState.cpp
  UI/DevScreens.cpp
  UI/Theme.cpp
Labels: User Interface

#17821 Translation: Move the corner position strings from Networking (for Chat) to Dialog (general)
  Tools/langtool/Cargo.lock
  UI/GameSettingsScreen.cpp
  assets/lang/ar_AE.ini
  assets/lang/az_AZ.ini
  assets/lang/bg_BG.ini
  assets/lang/ca_ES.ini
  assets/lang/cz_CZ.ini
  assets/lang/da_DK.ini
  assets/lang/de_DE.ini
  assets/lang/dr_ID.ini
  assets/lang/en_US.ini
  assets/lang/es_ES.ini
  assets/lang/es_LA.ini
  assets/lang/fa_IR.ini
  assets/lang/fi_FI.ini
  assets/lang/fr_FR.ini
  assets/lang/gl_ES.ini
  assets/lang/gr_EL.ini
  assets/lang/he_IL.ini
  assets/lang/he_IL_invert.ini
  assets/lang/hr_HR.ini
  assets/lang/hu_HU.ini
  assets/lang/id_ID.ini
  assets/lang/it_IT.ini
  assets/lang/ja_JP.ini
  assets/lang/jv_ID.ini
  assets/lang/ko_KR.ini
  assets/lang/lo_LA.ini
  assets/lang/lt-LT.ini
  assets/lang/ms_MY.ini
  assets/lang/nl_NL.ini
  assets/lang/no_NO.ini
  assets/lang/pl_PL.ini
  assets/lang/pt_BR.ini
  assets/lang/pt_PT.ini
  assets/lang/ro_RO.ini
  assets/lang/ru_RU.ini
  assets/lang/sv_SE.ini
  assets/lang/tg_PH.ini
  assets/lang/th_TH.ini
  assets/lang/tr_TR.ini
  assets/lang/uk_UA.ini
  assets/lang/vi_VN.ini
  assets/lang/zh_CN.ini
  assets/lang/zh_TW.ini
Labels: Translation
