Repository hrydgard/ppsspp, pull requests merged in 2024-04, with the labels that each got.

#18966 Fix memory leak on shutdown in sceHeap
  Core/HLE/sceHeap.cpp
  Core/HLE/sceHeap.h
  Core/HLE/sceKernel.cpp
Labels: HLE/Kernel

#18969 Fix the EGL tab in System Info.
  UI/DevScreens.cpp
Labels: User Interface

#18973 Fixed return copies from functions and added const ref params
  Common/Data/Text/I18n.h
  Common/GPU/D3D11/thin3d_d3d11.cpp
  Common/GPU/thin3d_create.h
  Core/Debugger/Breakpoints.cpp
  Core/Debugger/Breakpoints.h
  Core/Dialog/PSPSaveDialog.cpp
  Core/Dialog/PSPSaveDialog.h
  Core/MIPS/IR/IRJit.cpp
  Core/MIPS/IR/IRJit.h
  Core/MIPS/JitCommon/JitBlockCache.cpp
  Core/MIPS/JitCommon/JitBlockCache.h
  UI/MainScreen.cpp
  UI/MainScreen.h
  Windows/Debugger/Debugger_MemoryDlg.cpp
  Windows/Debugger/Debugger_MemoryDlg.h
Labels: Code Cleanup

#18977 FramebufferManager: Allow "large offset" framebuffers priority
  GPU/Common/FramebufferManagerCommon.cpp
Labels: GE emulation

#18992 Some assorted cleanup
  Common/GPU/Vulkan/VulkanBarrier.cpp
  Common/GPU/Vulkan/VulkanBarrier.h
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanContext.h
  Common/GPU/Vulkan/VulkanFramebuffer.cpp
  Common/GPU/Vulkan/VulkanImage.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  Core/HLE/sceDisplay.cpp
  Core/RetroAchievements.cpp
  UWP/rcheevos_UWP/rcheevos_UWP.vcxproj
  UWP/rcheevos_UWP/rcheevos_UWP.vcxproj.filters
  libretro/libretro_vulkan.cpp
Labels: Vulkan

#19000 SDL: Make rightclicks work just like in Windows
  SDL/SDLMain.cpp
Labels: SDL2, User Interface

#19004 Vulkan: Fix function loading regression affecting MSAA
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanContext.h
  Common/GPU/Vulkan/VulkanFramebuffer.cpp
  Common/GPU/Vulkan/VulkanLoader.cpp
  Common/GPU/Vulkan/VulkanLoader.h
  Core/Config.cpp
Labels: GE emulation

#19002 Add initial RAIntegration support through rc_client
  .gitignore
  Common/System/System.h
  Core/Config.cpp
  Core/Config.h
  Core/Core.vcxproj
  Core/RetroAchievements.cpp
  Core/RetroAchievements.h
  Qt/QtMain.cpp
  SDL/SDLMain.cpp
  UI/MiscScreens.cpp
  UI/PauseScreen.cpp
  UI/PauseScreen.h
  UI/RetroAchievementScreens.cpp
  UI/UI.vcxproj
  UWP/PPSSPP_UWPMain.cpp
  Windows/MainWindowMenu.cpp
  Windows/PPSSPP.vcxproj
  Windows/main.cpp
  android/jni/app-android.cpp
  ext/rcheevos-build/rcheevos.vcxproj
  ext/rcheevos-build/rcheevos.vcxproj.filters
  headless/Headless.cpp
  ios/main.mm
  libretro/libretro.cpp
  unittest/UnitTest.cpp
Labels: Platform-specific (Windows), RetroAchievements

#19007 RAIntegration fixes
  Core/Config.cpp
  Core/Config.h
  Core/RetroAchievements.cpp
  UI/RetroAchievementScreens.cpp
  Windows/Debugger/Debugger_Disasm.cpp
  Windows/GEDebugger/GEDebugger.cpp
  Windows/MainWindow.cpp
  Windows/main.h
Labels: RetroAchievements

#19009 More Vulkan barrier code cleanup work
  Common/GPU/Vulkan/VulkanBarrier.cpp
  Common/GPU/Vulkan/VulkanBarrier.h
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanContext.h
  Common/GPU/Vulkan/VulkanDebug.cpp
  Common/GPU/Vulkan/VulkanImage.cpp
  Common/GPU/Vulkan/VulkanImage.h
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  GPU/Vulkan/TextureCacheVulkan.cpp
Labels: Code Cleanup

#19010 Vulkan: Update headers and the VMA library (Vulkan Memory Allocator)
  ext/vma/vk_mem_alloc.h
  ext/vulkan/vk_platform.h
  ext/vulkan/vk_sdk_platform.h
  ext/vulkan/vk_video/vulkan_video_codec_av1std.h
  ext/vulkan/vk_video/vulkan_video_codec_av1std_decode.h
  ext/vulkan/vk_video/vulkan_video_codec_h264std.h
  ext/vulkan/vk_video/vulkan_video_codec_h264std_decode.h
  ext/vulkan/vk_video/vulkan_video_codec_h264std_encode.h
  ext/vulkan/vk_video/vulkan_video_codec_h265std.h
  ext/vulkan/vk_video/vulkan_video_codec_h265std_decode.h
  ext/vulkan/vk_video/vulkan_video_codec_h265std_encode.h
  ext/vulkan/vk_video/vulkan_video_codecs_common.h
  ext/vulkan/vulkan.h
  ext/vulkan/vulkan_android.h
  ext/vulkan/vulkan_beta.h
  ext/vulkan/vulkan_core.h
  ext/vulkan/vulkan_directfb.h
  ext/vulkan/vulkan_fuchsia.h
  ext/vulkan/vulkan_ggp.h
  ext/vulkan/vulkan_ios.h
  ext/vulkan/vulkan_macos.h
  ext/vulkan/vulkan_metal.h
  ext/vulkan/vulkan_screen.h
  ext/vulkan/vulkan_vi.h
  ext/vulkan/vulkan_wayland.h
  ext/vulkan/vulkan_win32.h
  ext/vulkan/vulkan_xcb.h
  ext/vulkan/vulkan_xlib.h
  ext/vulkan/vulkan_xlib_xrandr.h
Labels: Vulkan, Code Cleanup

#19014 Save data code cleanup
  Core/Dialog/SavedataParam.cpp
  Core/Dialog/SavedataParam.h
  Core/ELF/ParamSFO.cpp
  Core/ELF/ParamSFO.h
  Core/HLE/sceChnnlsv.cpp
  Core/HLE/sceChnnlsv.h
Labels: Code Cleanup

#19017 Vulkan: More memory barrier simplification and fixes
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/build.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/graphics.yml
  .github/ISSUE_TEMPLATE/performance.yml
  Common/GPU/Vulkan/VulkanBarrier.cpp
  Common/GPU/Vulkan/VulkanBarrier.h
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.h
  README.md
Labels: Vulkan

#19018 More Vulkan barrier fixes
  Common/GPU/Vulkan/VulkanBarrier.cpp
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
Labels: Vulkan

#19021 Try to fix loop in scePsmfPlayerGetVideoData
  Core/HLE/scePsmf.cpp
Labels: PSMF / MPEG

#19019 Add option to disable plugin, show list of available plugins on game screen
  Common/Data/Format/IniFile.h
  Core/Config.cpp
  Core/Config.h
  Core/HLE/Plugins.cpp
  Core/HLE/Plugins.h
  UI/GameScreen.cpp
  UI/GameSettingsScreen.cpp
  assets/lang/ar_AE.ini
  assets/lang/az_AZ.ini
  assets/lang/bg_BG.ini
  assets/lang/ca_ES.ini
  assets/lang/cz_CZ.ini
  assets/lang/da_DK.ini
  assets/lang/de_DE.ini
  assets/lang/dr_ID.ini
  assets/lang/en_US.ini
  assets/lang/es_ES.ini
  assets/lang/es_LA.ini
  assets/lang/fa_IR.ini
  assets/lang/fi_FI.ini
  assets/lang/fr_FR.ini
  assets/lang/gl_ES.ini
  assets/lang/gr_EL.ini
  assets/lang/he_IL.ini
  assets/lang/he_IL_invert.ini
  assets/lang/hr_HR.ini
  assets/lang/hu_HU.ini
  assets/lang/id_ID.ini
  assets/lang/it_IT.ini
  assets/lang/ja_JP.ini
  assets/lang/jv_ID.ini
  assets/lang/ko_KR.ini
  assets/lang/lo_LA.ini
  assets/lang/lt-LT.ini
  assets/lang/ms_MY.ini
  assets/lang/nl_NL.ini
  assets/lang/no_NO.ini
  assets/lang/pl_PL.ini
  assets/lang/pt_BR.ini
  assets/lang/pt_PT.ini
  assets/lang/ro_RO.ini
  assets/lang/ru_RU.ini
  assets/lang/sv_SE.ini
  assets/lang/tg_PH.ini
  assets/lang/th_TH.ini
  assets/lang/tr_TR.ini
  assets/lang/uk_UA.ini
  assets/lang/vi_VN.ini
  assets/lang/zh_CN.ini
  assets/lang/zh_TW.ini
Labels: User Interface, Plugins

#19030 Fix no-ffmpeg build
  Core/HLE/sceMpeg.cpp
  Core/HW/SimpleAudioDec.cpp
  Windows/CaptureDevice.cpp
  Windows/PPSSPP.vcxproj
Labels: Platform-specific (Windows), Code Cleanup

#19026 Decode MP3 without using ffmpeg
  Core/HLE/sceMp3.cpp
  Core/HLE/sceMp4.cpp
  Core/HW/SimpleAudioDec.cpp
  Core/HW/SimpleAudioDec.h
  libretro/Makefile.common
Labels: Audio, Code Cleanup

#19033 Break out the Atrac3/Atrac3+ decoders from FFMPEG to a separate library
  CMakeLists.txt
  Common/Common.vcxproj
  Common/Common.vcxproj.filters
  Core/Core.vcxproj
  Core/Core.vcxproj.filters
  Core/HW/Atrac3Standalone.cpp
  Core/HW/Atrac3Standalone.h
  Core/HW/SimpleAudioDec.cpp
  Core/HW/SimpleAudioDec.h
  UI/BackgroundAudio.cpp
  UWP/CommonUWP/CommonUWP.vcxproj
  UWP/CommonUWP/CommonUWP.vcxproj.filters
  UWP/CoreUWP/CoreUWP.vcxproj
  UWP/CoreUWP/CoreUWP.vcxproj.filters
  Windows/PPSSPP.vcxproj
  android/jni/Android.mk
  ext/CMakeLists.txt
  ext/at3_standalone/CMakeLists.txt
  ext/at3_standalone/README.txt
  ext/at3_standalone/aac_defines.h
  ext/at3_standalone/at3_decoders.h
  ext/at3_standalone/atrac.cpp
  ext/at3_standalone/atrac.h
  ext/at3_standalone/atrac3.cpp
  ext/at3_standalone/atrac3data.h
  ext/at3_standalone/atrac3plus.cpp
  ext/at3_standalone/atrac3plus.h
  ext/at3_standalone/atrac3plus_data.h
  ext/at3_standalone/atrac3plusdec.cpp
  ext/at3_standalone/atrac3plusdsp.cpp
  ext/at3_standalone/compat.cpp
  ext/at3_standalone/compat.h
  ext/at3_standalone/fft.cpp
  ext/at3_standalone/fft.h
  ext/at3_standalone/float_dsp.cpp
  ext/at3_standalone/float_dsp.h
  ext/at3_standalone/get_bits.cpp
  ext/at3_standalone/get_bits.h
  ext/at3_standalone/intreadwrite.h
  ext/at3_standalone/mathematics.cpp
  ext/at3_standalone/mathematics.h
  ext/at3_standalone/mem.cpp
  ext/at3_standalone/mem.h
  ext/at3_standalone/sinewin.cpp
  ext/at3_standalone/sinewin.h
  libretro/Makefile.common
Labels: Atrac3+

#19043 Atrac-standalone followup
  Core/HLE/sceAtrac.cpp
  Core/HLE/sceAtrac.h
  Core/HLE/sceAudiocodec.cpp
  Core/HLE/sceMp3.cpp
  Core/HW/Atrac3Standalone.cpp
  Core/HW/MediaEngine.cpp
  Core/HW/SimpleAudioDec.cpp
  Core/HW/SimpleAudioDec.h
  UI/BackgroundAudio.cpp
  ext/at3_standalone/at3_decoders.h
  ext/at3_standalone/atrac3.cpp
  ext/at3_standalone/atrac3plusdec.cpp
  ext/at3_standalone/compat.h
Labels: Atrac3+, Code Cleanup

#19044 Atrac-standalone followup 2
  Core/HLE/sceAtrac.cpp
  Core/HW/Atrac3Standalone.cpp
  ext/at3_standalone/at3_decoders.h
  ext/at3_standalone/atrac.cpp
  ext/at3_standalone/atrac3.cpp
  ext/at3_standalone/atrac3plus.cpp
  ext/at3_standalone/atrac3plusdec.cpp
  ext/at3_standalone/compat.cpp
  ext/at3_standalone/compat.h
  ext/at3_standalone/get_bits.cpp
  ext/at3_standalone/mathematics.cpp
  ext/at3_standalone/mem.cpp
  libretro/Makefile.common
Labels: Code Cleanup

#19046 Just some sceAtrac code cleanup
  Core/HLE/sceAtrac.cpp
Labels: Code Cleanup

#19020 Clickable notifications
  Common/System/OSD.cpp
  Common/System/OSD.h
  GPU/Common/TextureReplacer.cpp
  UI/DevScreens.cpp
  UI/NativeApp.cpp
  UI/OnScreenDisplay.cpp
Labels: User Interface

#19053 Remove ffmpeg use from the sceAtrac HLE module
  Core/HLE/sceAtrac.cpp
  Core/HW/Atrac3Standalone.cpp
Labels: Atrac3+

#19054 More audio decoding cleanup, some optimization
  .editorconfig
  Core/HLE/sceAtrac.cpp
  Core/HLE/sceAtrac.h
  Core/HW/Atrac3Standalone.cpp
  Core/HW/SimpleAudioDec.cpp
  Core/HW/SimpleAudioDec.h
  ext/at3_standalone/at3_decoders.h
  ext/at3_standalone/atrac3.cpp
  ext/at3_standalone/atrac3plusdsp.cpp
  ext/at3_standalone/compat.h
  ext/at3_standalone/fft.cpp
  ext/at3_standalone/fft.h
Labels: Atrac3+

#19056 Atrac: Refactor: Move a lot more code into the Atrac class
  Core/HLE/sceAtrac.cpp
  Core/HLE/sceAtrac.h
  Core/HW/SasAudio.cpp
Labels: Atrac3+

#19059 Fix the AxisSwap feature - had a double mutex lock, oops.
  Core/ControlMapper.cpp
Labels: Input/Controller, User Interface

#19060 More Atrac cleanup - break out the context into its own file
  CMakeLists.txt
  Core/Core.vcxproj
  Core/Core.vcxproj.filters
  Core/HLE/AtracCtx.cpp
  Core/HLE/AtracCtx.h
  Core/HLE/sceAtrac.cpp
  UWP/CoreUWP/CoreUWP.vcxproj
  UWP/CoreUWP/CoreUWP.vcxproj.filters
  android/jni/Android.mk
  libretro/Makefile.common
Labels: Code Cleanup

#19061 More Atrac code cleanup
  Core/HLE/AtracCtx.cpp
  Core/HLE/AtracCtx.h
  Core/HLE/sceAtrac.cpp
Labels: Atrac3+, Code Cleanup

#19062 Fix mono output from Atrac decoders. (sceAtrac*MOut* functions)
  Core/HLE/AtracCtx.cpp
  Core/HLE/sceAtrac.cpp
  Core/HLE/sceAudiocodec.cpp
  Core/HLE/sceMp3.cpp
  Core/HW/Atrac3Standalone.cpp
  Core/HW/MediaEngine.cpp
  Core/HW/SimpleAudioDec.cpp
  Core/HW/SimpleAudioDec.h
  UI/BackgroundAudio.cpp
Labels: Atrac3+

#19063 atrac: Change the databuf check in sceAtracDecodeData
  Core/HLE/sceAtrac.cpp
Labels: Atrac3+

#19064 Atrac: Split the context into a base class and a derived class, to be able to replace the buffering logic
  Common/Serialize/SerializeFuncs.h
  Core/HLE/AtracCtx.cpp
  Core/HLE/AtracCtx.h
  Core/HLE/sceAtrac.cpp
Labels: Atrac3+

#19066 Add a new dummy sceAtrac implementation
  CMakeLists.txt
  Core/Config.cpp
  Core/Config.h
  Core/Core.vcxproj
  Core/Core.vcxproj.filters
  Core/HLE/AtracCtx.cpp
  Core/HLE/AtracCtx.h
  Core/HLE/AtracCtx2.cpp
  Core/HLE/AtracCtx2.h
  Core/HLE/sceAtrac.cpp
  Core/HLE/sceAudiocodec.h
  UI/GameSettingsScreen.cpp
  UWP/CoreUWP/CoreUWP.vcxproj
  UWP/CoreUWP/CoreUWP.vcxproj.filters
  android/jni/Android.mk
  libretro/Makefile.common
Labels: Atrac3+

#19070 Fix camera on Windows. Forgot to re-enable USE_FFMPEG in the project.
  Windows/PPSSPP.vcxproj
Labels: Platform-specific (Windows)

#19073 Add option to mirror the camera image horizontally.
  Core/Config.cpp
  Core/Config.h
  Tools/langtool/Cargo.lock
  UI/GameSettingsScreen.cpp
  Windows/CaptureDevice.cpp
  assets/lang/ar_AE.ini
  assets/lang/az_AZ.ini
  assets/lang/bg_BG.ini
  assets/lang/ca_ES.ini
  assets/lang/cz_CZ.ini
  assets/lang/da_DK.ini
  assets/lang/de_DE.ini
  assets/lang/dr_ID.ini
  assets/lang/en_US.ini
  assets/lang/es_ES.ini
  assets/lang/es_LA.ini
  assets/lang/fa_IR.ini
  assets/lang/fi_FI.ini
  assets/lang/fr_FR.ini
  assets/lang/gl_ES.ini
  assets/lang/gr_EL.ini
  assets/lang/he_IL.ini
  assets/lang/he_IL_invert.ini
  assets/lang/hr_HR.ini
  assets/lang/hu_HU.ini
  assets/lang/id_ID.ini
  assets/lang/it_IT.ini
  assets/lang/ja_JP.ini
  assets/lang/jv_ID.ini
  assets/lang/ko_KR.ini
  assets/lang/lo_LA.ini
  assets/lang/lt-LT.ini
  assets/lang/ms_MY.ini
  assets/lang/nl_NL.ini
  assets/lang/no_NO.ini
  assets/lang/pl_PL.ini
  assets/lang/pt_BR.ini
  assets/lang/pt_PT.ini
  assets/lang/ro_RO.ini
  assets/lang/ru_RU.ini
  assets/lang/sv_SE.ini
  assets/lang/tg_PH.ini
  assets/lang/th_TH.ini
  assets/lang/tr_TR.ini
  assets/lang/uk_UA.ini
  assets/lang/vi_VN.ini
  assets/lang/zh_CN.ini
  assets/lang/zh_TW.ini
Labels: Platform-specific (Windows), Camera/Microphone

#19071 Refactor: Change *outBytes to *outSamples in AudioDecoder::Decode.
  Core/HLE/AtracCtx.cpp
  Core/HLE/sceAtrac.cpp
  Core/HLE/sceAudiocodec.cpp
  Core/HLE/sceMp3.cpp
  Core/HW/Atrac3Standalone.cpp
  Core/HW/MediaEngine.cpp
  Core/HW/SimpleAudioDec.cpp
  Core/HW/SimpleAudioDec.h
  UI/BackgroundAudio.cpp
Labels: Atrac3+, Code Cleanup

#19074 More sceAtrac code cleanup and comments
  Common/Log.cpp
  Common/Log.h
  Core/HLE/AtracCtx.cpp
  Core/HLE/AtracCtx.h
  Core/HLE/AtracCtx2.cpp
  Core/HLE/AtracCtx2.h
  Core/HLE/sceAtrac.cpp
  headless/Headless.cpp
Labels: Code Cleanup

#19079 iOS: Update VulkanLoader for MoltenVK 1.2.8-style framework finding
  Common/GPU/Vulkan/VulkanLoader.cpp
Labels: Platform-specific (iOS)

#19093 Update unittests for compatibility with ARM Macs
  Common/CPUDetect.cpp
  Common/CPUDetect.h
  Core/MIPS/ARM64/Arm64CompVFPU.cpp
  UI/DebugOverlay.cpp
  UI/DevScreens.cpp
  UI/DevScreens.h
  headless/headless.txt
  test.py
  unittest/JitHarness.cpp
  unittest/TestArm64Emitter.cpp
  unittest/TestSoftwareGPUJit.cpp
  unittest/UnitTest.cpp
Labels: Platform-specific (Mac OS X)

#19091 Use the DWM API to disable rounded corners on Windows 11.
  Windows/MainWindow.cpp
  Windows/PPSSPP.vcxproj
Labels: Platform-specific (Windows), User Interface

#19094 Vulkan init: Add a workaround and an assert
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanLoader.cpp
Labels: Vulkan

#19096 RetroAchievements: Add support for hashing homebrew
  Core/Config.cpp
  Core/RetroAchievements.cpp
Labels: RetroAchievements
