Repository hrydgard/ppsspp, pull requests merged in 2024-06, with the labels that each got.

#19223 More text rendering code cleanup
  Common/Render/Text/draw_text.cpp
  Common/Render/Text/draw_text.h
  Common/Render/Text/draw_text_android.cpp
  Common/Render/Text/draw_text_android.h
  Common/Render/Text/draw_text_cocoa.h
  Common/Render/Text/draw_text_cocoa.mm
  Common/Render/Text/draw_text_qt.cpp
  Common/Render/Text/draw_text_qt.h
  Common/Render/Text/draw_text_sdl.cpp
  Common/Render/Text/draw_text_sdl.h
  Common/Render/Text/draw_text_uwp.cpp
  Common/Render/Text/draw_text_uwp.h
  Common/Render/Text/draw_text_win.cpp
  Common/Render/Text/draw_text_win.h
  assets/lang/sv_SE.ini
Labels: Code Cleanup

#19224 More iOS fixes
  Common/Render/Text/draw_text_cocoa.mm
  SDL/CocoaBarItems.mm
  SDL/SDLMain.cpp
  UI/DarwinFileSystemServices.h
  UI/DarwinFileSystemServices.mm
  UI/MiscScreens.cpp
  ios/ViewController.mm
  ios/ViewControllerMetal.mm
  ios/main.mm
Labels: Platform-specific (iOS)

#19226 Add AppImage Scripts for Linux
  scripts/makeappimage_32-bit.sh
  scripts/makeappimage_64-bit.sh
Labels: Platform-specific (Linux/POSIX)

#19231 IR Interpreter: Some minor optimizations
  Common/BitSet.h
  Core/MIPS/IR/IRInterpreter.cpp
  Core/MIPS/IR/IRInterpreter.h
Labels: IRInterpreter

#19233 Minor IR Interpreter optimizations, other bugfixes
  Core/MIPS/IR/IRInterpreter.cpp
  GPU/Common/VertexDecoderCommon.cpp
  GPU/Common/VertexDecoderCommon.h
  GPU/Common/VertexDecoderHandwritten.cpp
  UI/DevScreens.cpp
  UI/DevScreens.h
Labels: IRInterpreter

#19208 Vulkan: Update to the latest version of VMA
  ext/vma/vk_mem_alloc.h
Labels: Vulkan

#19238 Update zh_TW.ini
  assets/lang/zh_TW.ini
Labels: Platform-specific (iOS)

#19241 Optimize color conversions in non-JIT vertex decoder
  Common/Data/Convert/ColorConv.h
  GPU/Common/VertexDecoderCommon.cpp
  unittest/UnitTest.cpp
Labels: GE emulation

#19243 iOS: Implement accelerometer support
  CMakeLists.txt
  ios/Controls.h
  ios/Controls.mm
  ios/ViewController.mm
  ios/ViewControllerMetal.mm
Labels: Platform-specific (iOS)

#19244 JIT-less vertex decoder: SSE/NEON-optimize ComputeSkinMatrix
  GPU/Common/VertexDecoderCommon.cpp
Labels: GE emulation

#19230 Libretro: Add video renderer core option
  libretro/LibretroGraphicsContext.cpp
  libretro/LibretroGraphicsContext.h
  libretro/libretro.cpp
  libretro/libretro_core_options.h
  libretro/libretro_vulkan.cpp
  libretro/libretro_vulkan.h
Labels: Libretro

#19252 Preparations for adding a performance profiler for the IR Interpreter
  CMakeLists.txt
  Common/LogManager.cpp
  Common/Render/Text/draw_text_uwp.cpp
  Common/TimeUtil.cpp
  Common/TimeUtil.h
  Core/HW/Atrac3Standalone.cpp
  UI/DevScreens.cpp
  UI/DevScreens.h
  UI/JitCompareScreen.cpp
  UI/JitCompareScreen.h
  UI/UI.vcxproj
  UI/UI.vcxproj.filters
  UWP/UI_UWP/UI_UWP.vcxproj
  UWP/UI_UWP/UI_UWP.vcxproj.filters
  android/jni/Android.mk
  unittest/TestThreadManager.cpp
Labels: Code Cleanup

#19255 Add built-in IR Interpreter profiler
  Common/UI/View.h
  Common/UI/ViewGroup.cpp
  Common/UI/ViewGroup.h
  Core/MIPS/IR/IRJit.cpp
  Core/MIPS/IR/IRJit.h
  Core/MIPS/IR/IRNativeCommon.cpp
  Core/MIPS/IR/IRNativeCommon.h
  Core/MIPS/JitCommon/JitBlockCache.h
  UI/JitCompareScreen.cpp
  UI/JitCompareScreen.h
Labels: IRInterpreter, CPU emulation

#19250 Libretro: More maintenance
  libretro/LibretroGraphicsContext.cpp
  libretro/libretro.cpp
Labels: Libretro

#19257 iOS: Implement basic physical keyboard support
  Core/MIPS/IR/IRJit.h
  ios/Controls.h
  ios/Controls.mm
  ios/ViewController.mm
  ios/ViewControllerMetal.mm
Labels: Platform-specific (iOS), Input/Controller

#19260 More IR interpreter profiler work
  Core/MIPS/IR/IRInst.cpp
  Core/MIPS/IR/IRJit.cpp
  Core/MIPS/IR/IRNativeCommon.cpp
  Core/MIPS/JitCommon/JitBlockCache.cpp
  Core/MIPS/JitCommon/JitBlockCache.h
  Core/MIPS/MIPSTables.cpp
  Core/MIPS/MIPSTables.h
  UI/JitCompareScreen.cpp
  UI/JitCompareScreen.h
Labels: IRInterpreter, Debugger

#19240 Store IR instructions in a bump-allocated vector instead of loose allocations
  Core/MIPS/ARM64/Arm64IRJit.cpp
  Core/MIPS/ARM64/Arm64IRJit.h
  Core/MIPS/IR/IRInst.cpp
  Core/MIPS/IR/IRJit.cpp
  Core/MIPS/IR/IRJit.h
  Core/MIPS/IR/IRNativeCommon.cpp
  Core/MIPS/IR/IRNativeCommon.h
  Core/MIPS/IR/IRRegCache.cpp
  Core/MIPS/IR/IRRegCache.h
  Core/MIPS/MIPSIntVFPU.cpp
  Core/MIPS/RiscV/RiscVJit.cpp
  Core/MIPS/RiscV/RiscVJit.h
  Core/MIPS/x86/X64IRJit.cpp
  Core/MIPS/x86/X64IRJit.h
  GPU/Common/VertexDecoderCommon.cpp
Labels: IRInterpreter

#19262 IR: Add some interpreter-only IR instructions for faster interpretation
  Core/MIPS/IR/IRFrontend.cpp
  Core/MIPS/IR/IRInst.cpp
  Core/MIPS/IR/IRInst.h
  Core/MIPS/IR/IRInterpreter.cpp
  Core/MIPS/IR/IRJit.cpp
  Core/MIPS/IR/IRPassSimplify.cpp
  Core/MIPS/IR/IRPassSimplify.h
Labels: IRInterpreter

#19265 More minor IR optimizations
  Core/MIPS/IR/IRCompALU.cpp
  Core/MIPS/IR/IRInst.cpp
  Core/MIPS/IR/IRInst.h
  Core/MIPS/IR/IRInterpreter.cpp
  Core/MIPS/IR/IRPassSimplify.cpp
Labels: IRInterpreter

#19268 IRJit: If we're in "JIT using IR" mode, don't accidentally optimize for the interpreter.
  Core/MIPS/IR/IRJit.cpp
  Core/MIPS/IR/IRJit.h
  Core/MIPS/IR/IRNativeCommon.cpp
  Core/MIPS/MIPS.cpp
Labels: IRInterpreter

#19269 Set the games category in plists for Mac and iOS.
  ios/PPSSPP-Info.plist
  macOS/Info.plist
Labels: Platform-specific (iOS), Platform-specific (Mac OS X)

#19270 Set GCSupportsGameMode in info.plist files for iOS and Mac
  ios/PPSSPP-Info.plist
  macOS/Info.plist
  macOS/InfoGold.plist
Labels: Platform-specific (iOS), Platform-specific (Mac OS X)

#19279 Fix screenshot hang
  Common/GPU/Vulkan/VulkanFrameData.cpp
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: Vulkan

#19280 Implement FPU rounding mode support in the IR interpreter
  Core/HLE/sceKernel.cpp
  Core/MIPS/IR/IRCompFPU.cpp
  Core/MIPS/IR/IRFrontend.cpp
  Core/MIPS/IR/IRInterpreter.cpp
  Core/MIPS/IR/IRInterpreter.h
  android/jni/TestRunner.cpp
Labels: IRInterpreter

#19281 iOS: Disable the swipe-back gesture in-game, to maximize touch responsiveness
  Common/Render/Text/draw_text_cocoa.mm
  ios/ViewController.mm
  ios/ViewControllerMetal.mm
Labels: Platform-specific (iOS), User Interface

#19283 Use fuse3 compatible appimagetool
  scripts/makeappimage_32-bit.sh
  scripts/makeappimage_64-bit.sh
Labels: Platform-specific (Linux/POSIX)

#19287 iOS: Enable "double-swipe" to switch apps
  ios/ViewController.mm
  ios/ViewControllerMetal.mm
Labels: Platform-specific (iOS), User Interface

#19289 Remote Disc Streaming on iOS: Don't accidentally force the game browser to the local folder
  UI/MainScreen.cpp
Labels: User Interface

#19291 Changed PPSSPPSDL.desktop, makeappimage_32-bit.sh, and makeappimage_64-bit.sh for making AppImages
  SDL/PPSSPPSDL.desktop
  scripts/makeappimage_32-bit.sh
  scripts/makeappimage_64-bit.sh
Labels: Platform-specific (Linux/POSIX)

#19296 Vulkan: Fall back to extension if core functions won't load.
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanLoader.cpp
Labels: Platform-specific (Android)

#19293 Rework remote ISO UI a bit
  Tools/langtool/Cargo.lock
  UI/RemoteISOScreen.cpp
  UI/RemoteISOScreen.h
  assets/lang/ar_AE.ini
  assets/lang/az_AZ.ini
  assets/lang/bg_BG.ini
  assets/lang/ca_ES.ini
  assets/lang/cz_CZ.ini
  assets/lang/da_DK.ini
  assets/lang/de_DE.ini
  assets/lang/dr_ID.ini
  assets/lang/en_US.ini
  assets/lang/es_ES.ini
  assets/lang/es_LA.ini
  assets/lang/fa_IR.ini
  assets/lang/fi_FI.ini
  assets/lang/fr_FR.ini
  assets/lang/gl_ES.ini
  assets/lang/gr_EL.ini
  assets/lang/he_IL.ini
  assets/lang/he_IL_invert.ini
  assets/lang/hr_HR.ini
  assets/lang/hu_HU.ini
  assets/lang/id_ID.ini
  assets/lang/it_IT.ini
  assets/lang/ja_JP.ini
  assets/lang/jv_ID.ini
  assets/lang/ko_KR.ini
  assets/lang/ku_SO.ini
  assets/lang/lo_LA.ini
  assets/lang/lt-LT.ini
  assets/lang/ms_MY.ini
  assets/lang/nl_NL.ini
  assets/lang/no_NO.ini
  assets/lang/pl_PL.ini
  assets/lang/pt_BR.ini
  assets/lang/pt_PT.ini
  assets/lang/ro_RO.ini
  assets/lang/ru_RU.ini
  assets/lang/sv_SE.ini
  assets/lang/tg_PH.ini
  assets/lang/th_TH.ini
  assets/lang/tr_TR.ini
  assets/lang/uk_UA.ini
  assets/lang/vi_VN.ini
  assets/lang/zh_CN.ini
  assets/lang/zh_TW.ini
Labels: User Interface

#19299 IR Interpreter: Two small optimizations
  Common/Math/math_util.h
  Core/MIPS/IR/IRCompALU.cpp
  Core/MIPS/IR/IRInterpreter.cpp
Labels: IRInterpreter

#19303 Fix math of simple stereo
  GPU/Common/VertexShaderGenerator.cpp
Labels: VR

#19310 [Adhoc] Attempt to prevent sockets lingering in TIME_WAIT state after closure
  Core/HLE/proAdhoc.cpp
  Core/HLE/proAdhoc.h
  Core/HLE/sceNetAdhoc.cpp
Labels: Networking / adhoc
