Repository hrydgard/ppsspp, pull requests merged in 2024-03, with the labels that each got.

#18913 fix libretro compile error
  libretro/Makefile.common
  libretro/jni/Android.mk
  libretro/jni/Application.mk
Labels: Platform-specific (Android), Libretro

#18920 Don't gate the RetroAchievements customize tab on the availability of a file chooser
  UI/RetroAchievementScreens.cpp
Labels: User Interface, RetroAchievements

#18924 Fix a bunch of cases where we forgot to check for CHD files
  Core/FileSystems/DirectoryFileSystem.cpp
  Core/Loaders.cpp
  Core/Util/GameManager.cpp
  UWP/PPSSPP_UWPMain.cpp
Labels: Loader

#18937 Another gradle/Android Studio update
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: Platform-specific (Android)

#18942 OpenXR - One APK for Android and standalone VR
  Common/VR/PPSSPPVR.cpp
  Common/VR/PPSSPPVR.h
  android/AndroidManifest.xml
  android/VRManifest.xml
  android/build.gradle
  android/jni/app-android.cpp
  android/src/org/ppsspp/ppsspp/NativeActivity.java
Labels: Platform-specific (Android), VR

#18947 Colored logs for SDL
  Common/ConsoleListener.cpp
Labels: Platform-specific (Linux/POSIX)

#18950 Fix soft-lock when loading non-existing files, fix wrong timer in MIPSDebugInterface
  Core/MIPS/MIPSDebugInterface.cpp
  UI/GameInfoCache.cpp
Labels: User Interface, Debugger
