Repository hrydgard/ppsspp, pull requests merged in 2024-02, with the labels that each got.

#18810 More fixes looking at crash reports
  Common/GPU/OpenGL/GLMemory.cpp
  Common/GPU/OpenGL/GLMemory.h
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanFrameData.cpp
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  Core/HLE/Plugins.cpp
  GPU/Common/DrawEngineCommon.h
  GPU/Common/PresentationCommon.cpp
  GPU/GPU.h
  GPU/GPUCommonHW.cpp
  GPU/Vulkan/DrawEngineVulkan.cpp
  UI/EmuScreen.cpp
  UI/NativeApp.cpp
  android/jni/app-android.cpp
Labels: Platform-specific (Android)

#18813 Mali: Turn off any depth writes in the shader if depth test == NEVER
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  Common/GPU/thin3d.cpp
  Common/GPU/thin3d.h
  Core/Util/GameManager.cpp
  GPU/Common/FragmentShaderGenerator.cpp
  GPU/Common/ShaderId.cpp
  GPU/Common/ShaderId.h
  GPU/Common/StencilCommon.cpp
  GPU/GPUCommonHW.cpp
Labels: GE emulation

#18816 Try to resolve another race condition. Improve an assert.
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/Thread/Promise.h
Labels: Vulkan

#18819 Temporarily disable MSAA on Adreno GPUs
  Common/GPU/Vulkan/thin3d_vulkan.cpp
  UI/GameSettingsScreen.cpp
Labels: Vulkan

#18821 Hacky compat workaround for Resistance's ad-hoc mode
  Core/Compatibility.cpp
  Core/Compatibility.h
  Core/HLE/ReplaceTables.cpp
  assets/compat.ini
Labels: HLE/Kernel

#18822 Avoid vertically merging the two main framebuffers, even if FramebufferAllowLargeVerticalOffset is on.
  GPU/Common/FramebufferManagerCommon.cpp
  UI/EmuScreen.cpp
Labels: GE emulation

#18890 Gradle upgrade again
  android/src/org/ppsspp/ppsspp/PpssppActivity.java
  build.gradle
Labels: Platform-specific (Android)

#18893 OpenXR - Passthrough on the latest QuestOS fixed
  Common/VR/VRBase.h
  Common/VR/VRRenderer.cpp
Labels: VR

#18899 Simplify a translation string.
  UI/GameSettingsScreen.cpp
  assets/lang/ar_AE.ini
  assets/lang/az_AZ.ini
  assets/lang/bg_BG.ini
  assets/lang/ca_ES.ini
  assets/lang/cz_CZ.ini
  assets/lang/da_DK.ini
  assets/lang/de_DE.ini
  assets/lang/dr_ID.ini
  assets/lang/en_US.ini
  assets/lang/es_ES.ini
  assets/lang/es_LA.ini
  assets/lang/fa_IR.ini
  assets/lang/fi_FI.ini
  assets/lang/fr_FR.ini
  assets/lang/gl_ES.ini
  assets/lang/gr_EL.ini
  assets/lang/he_IL.ini
  assets/lang/he_IL_invert.ini
  assets/lang/hr_HR.ini
  assets/lang/hu_HU.ini
  assets/lang/id_ID.ini
  assets/lang/it_IT.ini
  assets/lang/ja_JP.ini
  assets/lang/jv_ID.ini
  assets/lang/ko_KR.ini
  assets/lang/lo_LA.ini
  assets/lang/lt-LT.ini
  assets/lang/ms_MY.ini
  assets/lang/nl_NL.ini
  assets/lang/no_NO.ini
  assets/lang/pl_PL.ini
  assets/lang/pt_BR.ini
  assets/lang/pt_PT.ini
  assets/lang/ro_RO.ini
  assets/lang/ru_RU.ini
  assets/lang/sv_SE.ini
  assets/lang/tg_PH.ini
  assets/lang/th_TH.ini
  assets/lang/tr_TR.ini
  assets/lang/uk_UA.ini
  assets/lang/vi_VN.ini
  assets/lang/zh_CN.ini
  assets/lang/zh_TW.ini
Labels: User Interface
