Repository hrydgard/ppsspp, pull requests merged in 2025-07, with the labels that each got.

#20580 Windows: Add basic native support for DualShock / DualSense
  Common/Math/CrossSIMD.h
  Core/KeyMapDefaults.cpp
  Windows/DinputDevice.cpp
  Windows/HidInputDevice.cpp
  Windows/HidInputDevice.h
  Windows/InputDevice.cpp
  Windows/InputDevice.h
  Windows/PPSSPP.vcxproj
  Windows/PPSSPP.vcxproj.filters
  Windows/main.cpp
Labels: Input/Controller

#20602 Poll for new HID gamepads a bit less often, reduce logspam in debug mode
  Windows/HidInputDevice.cpp
  Windows/HidInputDevice.h
Labels: Input/Controller

#20604 Fix some small UI regressions
  Common/Input/KeyCodes.h
  Core/KeyMap.cpp
  GPU/Common/TextureReplacer.cpp
  GPU/Common/TextureReplacer.h
  UI/EmuScreen.cpp
  UI/PauseScreen.cpp
  Windows/RawInput.cpp
  ext/imgui/imgui_impl_platform.cpp
Labels: User Interface

#20606 Windows: Remove the "inner" window
  Windows/EmuThread.cpp
  Windows/MainWindow.cpp
  Windows/MainWindow.h
  Windows/main.cpp
Labels: Platform-specific (Windows), Code Cleanup

#20609 use ComPtr in WASAPIContext
  Windows/WASAPIContext.cpp
  Windows/WASAPIContext.h
Labels: Code Cleanup

#20613 mingw64: fix Windows build
  CMakeLists.txt
  Windows/HidInputDevice.h
Labels: Platform-specific (Windows)

#20614 WASAPI: Try to ask the device for a stereo format if it has too many channels.
  Common/Audio/AudioBackend.h
  UI/NativeApp.cpp
  UWP/XAudioSoundStream.cpp
  Windows/WASAPIContext.cpp
  Windows/WASAPIContext.h
Labels: Platform-specific (Windows), Audio

#20618 loongarch: Add emitter, JIT and disassembler support for LoongArch64
  CMakeLists.txt
  Common/Common.vcxproj
  Common/Common.vcxproj.filters
  Common/CommonFuncs.h
  Common/LoongArch64Emitter.cpp
  Common/LoongArch64Emitter.h
  Core/Config.cpp
  Core/Core.vcxproj
  Core/Core.vcxproj.filters
  Core/MIPS/IR/IRNativeCommon.cpp
  Core/MIPS/JitCommon/JitBlockCache.cpp
  Core/MIPS/JitCommon/JitCommon.cpp
  Core/MIPS/JitCommon/JitCommon.h
  Core/MIPS/JitCommon/JitState.cpp
  Core/MIPS/LoongArch64/LoongArch64Asm.cpp
  Core/MIPS/LoongArch64/LoongArch64CompALU.cpp
  Core/MIPS/LoongArch64/LoongArch64CompBranch.cpp
  Core/MIPS/LoongArch64/LoongArch64CompFPU.cpp
  Core/MIPS/LoongArch64/LoongArch64CompLoadStore.cpp
  Core/MIPS/LoongArch64/LoongArch64CompSystem.cpp
  Core/MIPS/LoongArch64/LoongArch64CompVec.cpp
  Core/MIPS/LoongArch64/LoongArch64Jit.cpp
  Core/MIPS/LoongArch64/LoongArch64Jit.h
  Core/MIPS/LoongArch64/LoongArch64RegCache.cpp
  Core/MIPS/LoongArch64/LoongArch64RegCache.h
  Core/MemFault.cpp
  UWP/CoreUWP/CoreUWP.vcxproj
  UWP/CoreUWP/CoreUWP.vcxproj.filters
  android/jni/Android.mk
  ext/loongarch-disasm.cpp
  ext/loongarch-disasm.h
  unittest/TestLoongArch64Emitter.cpp
  unittest/UnitTest.cpp
  unittest/UnitTests.vcxproj
  unittest/UnitTests.vcxproj.filters
Labels: LoongArch64

#20637 Use a TTF font for fixed-width text in the debugger
  UI/EmuScreen.cpp
  UI/ImDebugger/ImDebugger.cpp
  assets/Inconsolata-Medium.ttf
  ext/imgui/imgui_impl_thin3d.cpp
  ext/imgui/imgui_impl_thin3d.h
Labels: Debugger

#20638 Android (Gradle): Update target to SDK version 36, fix some outdated syntax
  android/build.gradle
  gradle.properties
Labels: Platform-specific (Android)

#20643 Windows/Vulkan: Correctly handle minimizing and restoring the window
  Common/GPU/Vulkan/VulkanContext.cpp
  Common/GPU/Vulkan/VulkanContext.h
  Common/GPU/Vulkan/VulkanQueueRunner.cpp
  Common/GPU/Vulkan/VulkanRenderManager.cpp
  Common/GPU/Vulkan/VulkanRenderManager.h
  Common/GraphicsContext.h
  Common/System/System.h
  UI/NativeApp.cpp
  Windows/GPU/WindowsVulkanContext.cpp
  Windows/GPU/WindowsVulkanContext.h
  Windows/MainWindow.cpp
Labels: Platform-specific (Windows), Vulkan

#20647 Windows: Add basic native support for Switch Pro controllers
  Windows/GPU/WindowsVulkanContext.h
  Windows/HidInputDevice.cpp
  Windows/HidInputDevice.h
Labels: Input/Controller

#20652 Separate out GamePreviewVolume from UIVolume
  Core/Config.cpp
  Core/Config.h
  UI/BackgroundAudio.cpp
  UI/BackgroundAudio.h
  UI/GameSettingsScreen.cpp
  assets/lang/ar_AE.ini
  assets/lang/az_AZ.ini
  assets/lang/be_BY.ini
  assets/lang/bg_BG.ini
  assets/lang/ca_ES.ini
  assets/lang/cz_CZ.ini
  assets/lang/da_DK.ini
  assets/lang/de_DE.ini
  assets/lang/dr_ID.ini
  assets/lang/en_US.ini
  assets/lang/es_ES.ini
  assets/lang/es_LA.ini
  assets/lang/fa_IR.ini
  assets/lang/fi_FI.ini
  assets/lang/fr_FR.ini
  assets/lang/gl_ES.ini
  assets/lang/gr_EL.ini
  assets/lang/he_IL.ini
  assets/lang/he_IL_invert.ini
  assets/lang/hr_HR.ini
  assets/lang/hu_HU.ini
  assets/lang/id_ID.ini
  assets/lang/it_IT.ini
  assets/lang/ja_JP.ini
  assets/lang/jv_ID.ini
  assets/lang/ko_KR.ini
  assets/lang/ku_SO.ini
  assets/lang/lo_LA.ini
  assets/lang/lt-LT.ini
  assets/lang/ms_MY.ini
  assets/lang/nl_NL.ini
  assets/lang/no_NO.ini
  assets/lang/pl_PL.ini
  assets/lang/pt_BR.ini
  assets/lang/pt_PT.ini
  assets/lang/ro_RO.ini
  assets/lang/ru_RU.ini
  assets/lang/sv_SE.ini
  assets/lang/tg_PH.ini
  assets/lang/th_TH.ini
  assets/lang/tr_TR.ini
  assets/lang/uk_UA.ini
  assets/lang/vi_VN.ini
  assets/lang/zh_CN.ini
  assets/lang/zh_TW.ini
Labels: User Interface

#20654 Misc UI fixes
  Common/UI/View.cpp
  GPU/Common/PresentationCommon.cpp
  UI/DevScreens.cpp
  UI/DevScreens.h
  UI/GameSettingsScreen.cpp
  Windows/HidInputDevice.cpp
Labels: User Interface

#20657 Default to Vulkan on earlier Windows versions, show sceAac contexts in debugger
  Common/OSVersion.cpp
  Common/OSVersion.h
  Core/Config.cpp
  Core/HLE/sceAac.cpp
  Core/HLE/sceAac.h
  Core/HLE/sceKernel.cpp
  Core/HLE/sceMp3.cpp
  Core/HLE/sceMp3.h
  Core/HLE/sceMpeg.cpp
  UI/ImDebugger/ImDebugger.cpp
  UI/ImDebugger/ImDebugger.h
Labels: Platform-specific (Windows), Vulkan, Debugger

#20662 Atrac3+: Fix parsing for the AA3 file format
  Core/HLE/AtracBase.h
  Core/HLE/AtracCtx.cpp
  Core/HLE/AtracCtx.h
  Core/HLE/AtracCtx2.cpp
  Core/HLE/AtracCtx2.h
  Core/HLE/ErrorCodes.h
  Core/HLE/sceAtrac.cpp
  Core/HLE/sceKernel.cpp
  Core/Util/AtracTrack.cpp
  Core/Util/AtracTrack.h
Labels: Atrac3+

#20433 Run module_start of plugins before starting boot module
  Core/HLE/Plugins.cpp
  Core/HLE/Plugins.h
  Core/HLE/sceKernelModule.cpp
  Core/HLE/sceKernelModule.h
  Core/HLE/sceKernelThread.cpp
  Core/HLE/sceKernelThread.h
Labels: Plugins
