Repository hrydgard/ppsspp, pull requests merged in 2025-09, with the labels that each got.

#20778 Windows: More startup performance
  Windows/MainWindow.cpp
  Windows/MainWindow.h
  Windows/MainWindowMenu.cpp
  Windows/MainWindowMenu.h
  Windows/ppsspp.rc
Labels: Platform-specific (Windows)

#20786 Small upgrade to the ParamSFO debugger window
  Core/PSPLoaders.cpp
  Core/System.cpp
  Core/System.h
  UI/ImDebugger/ImDebugger.cpp
  android/src/org/ppsspp/ppsspp/SimpleFileChooser.java
Labels: Debugger

#20788 Android: Update to NDK 28
  Common/LoongArch64Emitter.h
  Core/HLE/sceNetAdhoc.cpp
  android/build.gradle
Labels: Platform-specific (Android)

#20790 Rework the game info screen implementation
  Common/Common.h
  Core/ELF/ParamSFO.cpp
  Core/Loaders.cpp
  Core/Loaders.h
  UI/GameInfoCache.cpp
  UI/GameInfoCache.h
  UI/GameScreen.cpp
  UI/GameScreen.h
  UI/ImDebugger/ImDebugger.cpp
  assets/lang/ar_AE.ini
  assets/lang/az_AZ.ini
  assets/lang/be_BY.ini
  assets/lang/bg_BG.ini
  assets/lang/ca_ES.ini
  assets/lang/cz_CZ.ini
  assets/lang/da_DK.ini
  assets/lang/de_DE.ini
  assets/lang/dr_ID.ini
  assets/lang/en_US.ini
  assets/lang/es_ES.ini
  assets/lang/es_LA.ini
  assets/lang/fa_IR.ini
  assets/lang/fi_FI.ini
  assets/lang/fr_FR.ini
  assets/lang/gl_ES.ini
  assets/lang/gr_EL.ini
  assets/lang/he_IL.ini
  assets/lang/he_IL_invert.ini
  assets/lang/hr_HR.ini
  assets/lang/hu_HU.ini
  assets/lang/id_ID.ini
  assets/lang/it_IT.ini
  assets/lang/ja_JP.ini
  assets/lang/jv_ID.ini
  assets/lang/ko_KR.ini
  assets/lang/ku_SO.ini
  assets/lang/lo_LA.ini
  assets/lang/lt-LT.ini
  assets/lang/ms_MY.ini
  assets/lang/nl_NL.ini
  assets/lang/no_NO.ini
  assets/lang/pl_PL.ini
  assets/lang/pt_BR.ini
  assets/lang/pt_PT.ini
  assets/lang/ro_RO.ini
  assets/lang/ru_RU.ini
  assets/lang/sv_SE.ini
  assets/lang/tg_PH.ini
  assets/lang/th_TH.ini
  assets/lang/tr_TR.ini
  assets/lang/uk_UA.ini
  assets/lang/vi_VN.ini
  assets/lang/zh_CN.ini
  assets/lang/zh_TW.ini
Labels: User Interface

#20794 Correct error codes from sceUtilityLoadAvModule / UnloadAvModule.
  Core/HLE/ErrorCodes.h
  Core/HLE/sceKernel.cpp
  Core/HLE/sceUtility.cpp
  android/src/org/ppsspp/ppsspp/NativeActivity.java
  android/src/org/ppsspp/ppsspp/SizeManager.java
Labels: HLE/Kernel

#20797 GEDebugger: fixed Verts tab displaying Invalid
  Windows/GEDebugger/TabVertices.cpp
Labels: Debugger

#20817 UI image atlas: More cleanup
  Common/Data/Format/PNGLoad.cpp
  Common/Data/Format/PNGLoad.h
  Common/Render/AtlasGen.cpp
  Common/Render/AtlasGen.h
  Common/UI/Context.cpp
  Common/UI/Context.h
  Common/UI/View.cpp
  Core/Screenshot.cpp
  GPU/Common/TextureReplacer.cpp
  UI/NativeApp.cpp
  UI/Theme.cpp
  UI/Theme.h
Labels: User Interface, Code Cleanup

#20826 fix compiler warnings
  Common/Log/ConsoleListener.cpp
  Core/HLE/sceKernelModule.cpp
  Windows/WASAPIContext.cpp
  Windows/main.cpp
Labels: Code Cleanup

#19336 Use config defaults in the headless binary.
  Core/Config.cpp
  Core/Config.h
  Core/ConfigSettings.cpp
  Core/ConfigSettings.h
  Core/System.cpp
  headless/Headless.cpp
Labels: Code Cleanup
