Repository hrydgard/ppsspp, pull requests merged in 2025-06, with the labels that each got.

#20437 More iOS work
  CMakeLists.txt
  Core/System.cpp
  ios/IAPManager.mm
  ios/PPSSPP-Info.plist
  ios/assets.xcassets/GoldIcon.appiconset/Contents.json
  ios/assets.xcassets/GoldIcon.appiconset/icon_20x20@1x_dark.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_20x20@1x_light.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_20x20@1x_tinted.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_20x20@2x_dark.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_20x20@2x_light.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_20x20@2x_tinted.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_20x20@3x_dark.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_20x20@3x_light.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_20x20@3x_tinted.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_29x29@1x_dark.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_29x29@1x_light.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_29x29@1x_tinted.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_29x29@2x_dark.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_29x29@2x_light.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_29x29@2x_tinted.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_29x29@3x_dark.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_29x29@3x_light.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_29x29@3x_tinted.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_40x40@1x_dark.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_40x40@1x_light.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_40x40@1x_tinted.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_40x40@2x_dark.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_40x40@2x_light.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_40x40@2x_tinted.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_40x40@3x_dark.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_40x40@3x_light.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_40x40@3x_tinted.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_60x60@2x_dark.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_60x60@2x_light.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_60x60@2x_tinted.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_60x60@3x_dark.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_60x60@3x_light.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_60x60@3x_tinted.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_76x76@1x_dark.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_76x76@1x_light.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_76x76@1x_tinted.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_76x76@2x_dark.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_76x76@2x_light.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_76x76@2x_tinted.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_83x83@2x_dark.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_83x83@2x_light.png
  ios/assets.xcassets/GoldIcon.appiconset/icon_83x83@2x_tinted.png
  ios/assets.xcassets/PPSSPPGold.appiconset/Contents.json
  ios/assets.xcassets/PPSSPPGold.appiconset/icon_1024x1024@1x_dark.png
  ios/assets.xcassets/PPSSPPGold.appiconset/icon_1024x1024@1x_light.png
  ios/assets.xcassets/PPSSPPGold.appiconset/icon_1024x1024@1x_tinted.png
  ios/generate_icons.py
Labels: Platform-specific (iOS)

#20453 libkirk concurrency fixes
  CMakeLists.txt
  Core/ELF/PrxDecrypter.cpp
  Core/FileSystems/BlockDevices.cpp
  Core/FileSystems/BlockDevices.h
  Core/HLE/sceChnnlsv.cpp
  Core/HLE/sceChnnlsv.h
  Core/HLE/sceIo.cpp
  Core/HLE/sceKernelSemaphore.cpp
  Core/HLE/sceKernelSemaphore.h
  ext/libkirk/AES.c
  ext/libkirk/AES.h
  ext/libkirk/SHA1.c
  ext/libkirk/SHA1.h
  ext/libkirk/amctrl.c
  ext/libkirk/amctrl.h
  ext/libkirk/bn.c
  ext/libkirk/ec.c
  ext/libkirk/kirk_common.h
  ext/libkirk/kirk_engine.c
  ext/libkirk/kirk_engine.h
  ext/libkirk/libkirk.vcxproj
  ext/libkirk/libkirk.vcxproj.filters
Labels: DLC/PRX Encryption

#20469 Fix RetroAchievements for multi-exe games, add some sanity checks
  Common/Thread/Promise.h
  Core/FileLoaders/ZipFileLoader.cpp
  Core/HLE/sceDisplay.cpp
  Core/HLE/sceKernelModule.cpp
  Core/HW/Display.cpp
  Core/HW/Display.h
  Core/MIPS/MIPSAnalyst.cpp
  Core/System.cpp
  Core/Util/PortManager.cpp
  GPU/Common/DrawEngineCommon.h
  GPU/Software/SoftGpu.cpp
Labels: User Interface, RetroAchievements

#20482 SDL audio: Improve logging, don't auto-switch device during the first 3 seconds of execution
  SDL/SDLMain.cpp
Labels: SDL2, Audio

#20484 Fix D3D11 crash-on-exit. Update README.md and an URL
  README.md
  UI/IAPScreen.cpp
  Windows/EmuThread.cpp
  Windows/GPU/D3D11Context.cpp
Labels: D3D11, User Interface

#20488 Fix another texture replacement crash
  Common/File/VFS/DirectoryReader.cpp
  Core/Config.cpp
  GPU/Common/ReplacedTexture.cpp
  GPU/Common/SplineCommon.h
Labels: Texture replacement

#20490 Remove some D3D9 leftovers
  Common/GPU/thin3d.h
  GPU/Common/FragmentShaderGenerator.h
  GPU/Common/VertexShaderGenerator.h
  Windows/zipup.cmd
  libretro/LibretroGraphicsContext.cpp
  libretro/Makefile.common
  ppsspp.iss
Labels: D3D9, Libretro

#20483 Some cleanups
  Common/CommonFuncs.h
  Core/MIPS/MIPSInt.cpp
  UI/SavedataScreen.cpp
  UWP/UWPHelpers/StorageManager.cpp
Labels: Code Cleanup

#20493 On Windows 11, start defaulting to Vulkan.
  Common/OSVersion.cpp
  Common/OSVersion.h
  Core/Config.cpp
  Windows/GPU/D3D11Context.cpp
Labels: Platform-specific (Windows), Vulkan

#20496 Windows: Remove ARM32 configurations from project files.
  Common/Common.vcxproj
  Core/Core.vcxproj
  GPU/GPU.vcxproj
  UI/UI.vcxproj
  UWP/Armips_UWP/Armips_UWP.vcxproj
  UWP/CommonUWP/CommonUWP.vcxproj
  UWP/CoreUWP/CoreUWP.vcxproj
  UWP/CoreUWP/CoreUWP.vcxproj.filters
  UWP/GPU_UWP/GPU_UWP.vcxproj
  UWP/PPSSPP_UWP.sln
  UWP/SPIRVCross_UWP/SPIRVCross_UWP.vcxproj
  UWP/UI_UWP/UI_UWP.vcxproj
  UWP/UWP.vcxproj
  UWP/UWP.vcxproj.filters
  UWP/cpu_features_UWP/cpu_features_UWP.vcxproj
  UWP/glslang_UWP/glslang_UWP.vcxproj
  UWP/libchdr_UWP/libchdr_UWP.vcxproj
  UWP/libkirk_UWP/libkirk_UWP.vcxproj
  UWP/libzstd_UWP/libzstd_UWP.vcxproj
  UWP/lua/lua.vcxproj
  UWP/miniupnpc_UWP/miniupnpc_UWP.vcxproj
  UWP/rcheevos_UWP/rcheevos_UWP.vcxproj
  UWP/zlib_UWP/zlib_UWP.vcxproj
  Windows/PPSSPP.sln
  Windows/PPSSPP.vcxproj
  ext/SPIRV-Cross.vcxproj
  ext/cpu_features.vcxproj
  ext/discord-rpc-build/discord-rpc.vcxproj
  ext/glslang.vcxproj
  ext/libarmips.vcxproj
  ext/libchdr.vcxproj
  ext/libkirk/libkirk.vcxproj
  ext/libzstd.vcxproj
  ext/miniupnpc.vcxproj
  ext/rcheevos-build/rcheevos.vcxproj
  ext/zlib/zlib.vcxproj
  headless/Headless.vcxproj
  unittest/UnitTests.vcxproj
Labels: Code Cleanup

#20497 Remove the upgrade reminder
  Common/Data/Text/I18n.cpp
  Common/Data/Text/I18n.h
  Core/Config.cpp
  Core/Config.h
  UI/MainScreen.cpp
  UI/MainScreen.h
  UI/RemoteISOScreen.cpp
  assets/lang/ar_AE.ini
  assets/lang/az_AZ.ini
  assets/lang/be_BY.ini
  assets/lang/bg_BG.ini
  assets/lang/ca_ES.ini
  assets/lang/cz_CZ.ini
  assets/lang/da_DK.ini
  assets/lang/de_DE.ini
  assets/lang/dr_ID.ini
  assets/lang/en_US.ini
  assets/lang/es_ES.ini
  assets/lang/es_LA.ini
  assets/lang/fa_IR.ini
  assets/lang/fi_FI.ini
  assets/lang/fr_FR.ini
  assets/lang/gl_ES.ini
  assets/lang/gr_EL.ini
  assets/lang/he_IL.ini
  assets/lang/he_IL_invert.ini
  assets/lang/hr_HR.ini
  assets/lang/hu_HU.ini
  assets/lang/id_ID.ini
  assets/lang/it_IT.ini
  assets/lang/ja_JP.ini
  assets/lang/jv_ID.ini
  assets/lang/ko_KR.ini
  assets/lang/ku_SO.ini
  assets/lang/lo_LA.ini
  assets/lang/lt-LT.ini
  assets/lang/ms_MY.ini
  assets/lang/nl_NL.ini
  assets/lang/no_NO.ini
  assets/lang/pl_PL.ini
  assets/lang/pt_BR.ini
  assets/lang/pt_PT.ini
  assets/lang/ro_RO.ini
  assets/lang/ru_RU.ini
  assets/lang/sv_SE.ini
  assets/lang/tg_PH.ini
  assets/lang/th_TH.ini
  assets/lang/tr_TR.ini
  assets/lang/uk_UA.ini
  assets/lang/vi_VN.ini
  assets/lang/zh_CN.ini
  assets/lang/zh_TW.ini
Labels: User Interface, Code Cleanup

#20499 Fix bug where the zip file install UI got insta-cancelled on some methods of launching.
  UI/MainScreen.cpp
Labels: User Interface

#20503 JIT/IRJit: Delete an old "function preloading" experiment
  Core/Config.cpp
  Core/Config.h
  Core/HLE/sceKernelModule.cpp
  Core/HLE/sceKernelThread.cpp
  Core/MIPS/ARM64/Arm64IRJit.cpp
  Core/MIPS/ARM64/Arm64IRJit.h
  Core/MIPS/IR/IRCompBranch.cpp
  Core/MIPS/IR/IRFrontend.cpp
  Core/MIPS/IR/IRFrontend.h
  Core/MIPS/IR/IRJit.cpp
  Core/MIPS/IR/IRJit.h
  Core/MIPS/IR/IRNativeCommon.cpp
  Core/MIPS/IR/IRNativeCommon.h
  Core/MIPS/JitCommon/JitCommon.h
  Core/MIPS/JitCommon/JitState.h
  Core/MIPS/MIPSAnalyst.cpp
  Core/MIPS/MIPSAnalyst.h
  Core/MIPS/RiscV/RiscVJit.cpp
  Core/MIPS/RiscV/RiscVJit.h
  Core/MIPS/x86/X64IRJit.cpp
  Core/MIPS/x86/X64IRJit.h
Labels: IRInterpreter

#20504 Correct the clearing/destruction order when switching CPU cores.
  Common/Log.h
  Core/MIPS/IR/IRJit.h
  Core/MIPS/MIPS.cpp
Labels: IRInterpreter

#20510 Fix bug in Win32 debugger, misc fixes
  Core/Core.cpp
  Core/HLE/ReplaceTables.cpp
  Core/HW/SasReverb.cpp
  Core/MIPS/JitCommon/JitBlockCache.cpp
  UI/ImDebugger/ImDebugger.cpp
  UI/ImDebugger/ImDisasmView.cpp
  Windows/EmuThread.cpp
Labels: Debugger

#20511 SasAudio: Don't reset the decoder on SetVoice if all params are the same
  Core/HLE/sceSas.cpp
Labels: Audio

#20513 ELF loader: Revert bad export check
  Core/HLE/sceKernelModule.cpp
Labels: Loader

#20514 Developer tools: Add UI to force-enable HLE of modules that we have disabled HLE of
  Core/Config.cpp
  UI/DeveloperToolsScreen.cpp
Labels: HLE/Kernel

#20487 [ImDebugger] Enable Memory Search in the ImMemView Widget
  UI/ImDebugger/ImMemView.cpp
  UI/ImDebugger/ImMemView.h
Labels: Debugger

#20520 Replacement textures: Don't spend frame time waiting for a texture to be finished
  Common/Thread/Waitable.h
  GPU/Common/ReplacedTexture.cpp
  GPU/Common/TextureCacheCommon.cpp
Labels: Texture replacement

#20534 Add internal AudioBackend interface
  CMakeLists.txt
  Common/Audio/AudioBackend.h
  Common/Common.vcxproj
  Common/Common.vcxproj.filters
  Common/Log/LogManager.cpp
  Common/System/NativeApp.h
  Core/Config.cpp
  Core/Config.h
  Core/ConfigValues.h
  Core/HLE/sceSas.cpp
  Qt/QtMain.cpp
  SDL/SDLMain.cpp
  UI/AudioCommon.cpp
  UI/GameSettingsScreen.cpp
  UI/NativeApp.cpp
  UWP/PPSSPP_UWPMain.cpp
  UWP/XAudioSoundStream.cpp
  UWP/XAudioSoundStream.h
  Windows/PPSSPP.vcxproj
  Windows/PPSSPP.vcxproj.filters
  Windows/WASAPIContext.cpp
  Windows/WASAPIContext.h
  Windows/WASAPIStream.h
  Windows/WindowsAudio.cpp
  Windows/WindowsAudio.h
  Windows/main.cpp
  android/jni/AndroidAudio.h
  android/jni/OpenSLContext.cpp
  android/jni/app-android.cpp
  ios/AudioEngine.mm
  ios/iOSCoreAudio.mm
  ios/main.mm
Labels: Audio, Code Cleanup

#20549 Add more info about the output audio stream to System Information.
  Common/Audio/AudioBackend.h
  UI/DevScreens.cpp
  Windows/WASAPIContext.cpp
  Windows/WASAPIContext.h
Labels: Audio

#20550 ImMemView: Refined the keyboard shortcuts.
  SDL/SDLMain.cpp
  UI/ImDebugger/ImMemView.cpp
  UI/ImDebugger/ImMemView.h
Labels: Debugger

#20571 More Atrac3 refactor
  CMakeLists.txt
  Core/Core.vcxproj
  Core/Core.vcxproj.filters
  Core/HLE/AtracBase.h
  Core/HLE/AtracCtx.cpp
  Core/HLE/AtracCtx.h
  Core/HLE/AtracCtx2.cpp
  Core/HLE/AtracCtx2.h
  Core/HLE/sceAtrac.h
  Core/HLE/sceAudiocodec.cpp
  Core/HLE/sceAudiocodec.h
  Core/MIPS/JitCommon/JitBlockCache.cpp
  Core/Util/AtracTrack.cpp
  Core/Util/AtracTrack.h
  UI/GameSettingsScreen.cpp
Labels: Atrac3+

#20579 Windows input refactor
  CMakeLists.txt
  UWP/PPSSPP_UWPMain.cpp
  UWP/PPSSPP_UWPMain.h
  Windows/DinputDevice.cpp
  Windows/DinputDevice.h
  Windows/EmuThread.cpp
  Windows/InputDevice.cpp
  Windows/InputDevice.h
  Windows/MainWindow.cpp
  Windows/PPSSPP.vcxproj
  Windows/PPSSPP.vcxproj.filters
  Windows/RawInput.cpp
  Windows/WindowsHost.cpp
  Windows/WindowsHost.h
  Windows/main.cpp
Labels: Platform-specific (Windows), Code Cleanup
